[2014-02-21 17:52] zenhack opened #4 "python setup.py install somtimes spits an error about zip files."
I don't fully understand the circumstances under which this occurs, but it seems to happen sometimes when we've installed the egg, made some change to the source, then tried to install again.

The error looks like:

    zipimport.ZipImportError: bad local file header in ...

[2014-03-03 19:49] okrieg opened #15 "python code in VM to query haas server for configuration info"

[2014-04-09 19:38] zenhack opened #39 "switch driver model needs documentation"
Most of the assumptions behind the switch driver model are undocumented. This came to my attention when helping @rohgarg get up to speed for working on issue #27. We should actually write all of this down in an easy to understand way in an easy to find place. To start, here is an email I sent to @rohgarg in response to one of his questions:

[code]

[2014-04-11 06:49] henn opened #43 "Protecting BIOS/UEFI/firmware"
If we are implementing safe sharing of bare-metal systems between untrusted parties, we need to put some thought into preventing viruses/backdoors/trojan horses from infecting the firmware.

As was mentioned in yesterday's meeting, many platforms support updating the firmware from within a booted operating system. Thus, we need to find a way of protecting this potential vector from infection.

Thi

[2014-04-15 03:21] zenhack opened #45 "Configuration should be checked on startup."
Right now if a config file option isn't set properly, the haas will just fail at runtime, when it tries to use that option. We should be validating the configuration on startup.

[2014-04-15 03:30] zenhack opened #46 "Use more secure mechanism to talk to dell switches"
The managed switches supposedly support public key auth (ssh?); we be doing this instead of e.g. telnet (in the dell driver).

[2014-04-16 17:47] zenhack opened #47 "Need to be able to allow multiple VLANs/networks for a given node/nic/port"
If we're going to be using the HaaS to deploy openstack on bare metal, need to be able to configure the network in such a way that the nodes can use multiple VLANs to communicate with eachother - Neutron makes use of this in one of the standard configurations.

The way to go about this is to set the ports to trunking, rather than access mode.

Probably step 1 is to convert the existing implementat

[2014-04-16 17:49] zenhack opened #48 "Headnode image for deploying openstack."
We need an image to use as a headnode that can deploy an openstack cluster.

[2014-04-29 20:51] zenhack opened #54 "Check for well formed port names on registration"
We're making use of pexpect to ensure the state of the shell is what we think it is, but if pexpect should throw an exception, it will crash the HaaS. This shouldn't be possible; we should be catching the exception somewhere.

[2014-05-22 16:41] zenhack opened #67 "Check HaaS master firewall rules re: vnc"
The way our HaaS masters are currently configured, it may be possible for one headnode to access another's vnc console, by connecting to the host. The more general problem is that we need to make sure that with the exception of the specific services needed by the headnodes, the headnodes have no more access to the haas master than the outside world.

[2014-05-22 20:08] zenhack opened #70 "Cisco driver is bitrotted"
The driver for the Cisco switch we have is bitrotted. It needs to be updated to use the current driver API.

[2014-06-05 19:59] henn opened #90 "Continuous integration testing"
We should look at setting up some sort of automated continuous testing suite.

The idea would be that a push to a particular branch (like devel or master) would trigger an automated process to pull the latest repo, run the unit tests and run some integration tests that put the drivers to work. If any of the tests hit an error, notification would be sent to either the developers list, the individua

[2014-06-12 23:11] henn opened #105 "HaaS should have a method of wiping disks"
Sharing hardware between tenants means that we should try to reset the state of each node each time it becomes free, so that the next time it is allocated there is no state carried over.

 To do this, we should wipe disks. This could be done by PXE booting into a small, in-memory OS and running some logic.

Bonus points for using SATA's secure erase.

The [Ironic python agent](https://wiki.opensta

[2014-06-24 19:07] gsilvis opened #120 "User authentication and authorization"
Right now, the 'user_create' call takes a password, but we don't use the password for everything.  We should figure out a sane authentication model, and we should figure out how to nicely get it into the code.  (For instance, we should not have to rewrite every API function to explicitly check the password.)

[2014-07-25 17:48] gsilvis opened #184 "Drivers should be classes"
This enforces that the correct method names are used. It also lets us make specialized modules inline to test specific things (like network ID exhaustion).  It's also just nicer, in many ways.

[2014-08-01 05:45] zenhack opened #191 "More descriptive error messages/status codes for APIErrors"
It would be nice if the haas server returned more intelligible errors to the client. This should be achievable in a reasonably elegant way by adding appropriate functionality to the subclasses of `APIError`.

[2014-08-06 20:41] ryabouza opened #194 "Move "client" out of haas.cfg to somewhere less icky"
I noticed that running "project_apply" from anywhere other than the directory containing 'haas.cfg' causes the client to spit out a "ConfigParser.NoSectionError: No section: 'client'" error.  The 'client' information should probably be stored in a different configuration in a more sensible location.

[2014-08-22 19:11] zenhack opened #208 "Openvswitch driver"
We should have one of these for the HaaS.

[2014-08-22 20:36] gsilvis opened #214 "--remove-all-storage seems to not always work"
On the MRI hardware, we ended up with 25 VM images after a while.

[2014-09-02 20:44] zenhack opened #231 "Test suite should detect warning/error level logs, and fail."

[2014-09-03 16:33] zenhack opened #232 "Server should exit with an intelligible error message if the database is not initialized properly upon startup."
Right now you just get an `IntegretyError` the first time someone makes an API call. This can happen not only if the database hasn't been created/initialized, but also if the developer has changed the schema.

[2014-09-03 16:35] zenhack opened #233 "Mechanism for updating database schema"
Once this is in deployment, we'll have less freedom wrt changing the database schema -- for any changes we make, we'll need to have a way to update the databases of existing installations, since simply deleting the database and starting fresh (which is what we've been doing in development) won't be an acceptable solution

[2014-09-04 21:25] ryabouza opened #242 "test_isolated_networks bug"
There is a bug in the deployment tests that will cause test_isolated_networks to incorrectly pass/fail sometimes.  The bug is in ```get_network()``` when it runs ```if intfc in vlan_cfg:```.

This will return true when ```intfc``` is ```gi1/0/1``` and ```vlan_cfg``` contains ```gi1/0/18```.

Also, ```vlan_cfg``` lists sequential ports using a range, which could cause the test to incorrectly pass O

[2014-09-17 18:58] gsilvis opened #257 "Query API extensions"
We're missing some pretty clearly useful stuff right now:  for instance, 'get_networks_in_project'.

[2014-10-03 18:45] gsilvis opened #278 "Allow user to make 802.1q trunked ports"
This is useful specifically for recursive-haas:  it lets the derived haas make its own headnode host.

[2014-10-20 18:41] henn opened #303 "Interface to set a node's next boot device"
We should have an interface that allows a user to set the next boot device, likely either PXE or local disk. API should leave open the possibility of other boot sources (like a virtual disk drive).

Perhaps we could even allow them to set it persistently, assuming IPMI supports that? If that happened, we should likely reset that on node delete,

[2014-10-20 21:55] henn opened #304 "Need a deployment guide"
We need a guide that talks about hardware/configuration assumptions we are making with HaaS.

Stuff like what the boot orders should be, security (like setting BIOS passwords and prohibiting updates from the OS), etc.

[2014-10-21 16:16] gsilvis opened #306 "WIP Passwords present in logs"
`moc.rest` is logging all API calls, with all parameters---and the `user_create` API call contains a password as a parameter.  So, `moc.rest` logs the password, too.

[2014-10-22 16:59] ryabouza opened #308 "Use correct SQLAlchemy methods"
We should be using .one(), .count() or .exists() in many cases where we are just using .first() for DB queries.

[2014-10-27 06:41] zenhack opened #312 "More consistent terminology"
There are a number of concepts in the HaaS that we have redundant names for throughout the code, which makes variable names less consistent and thus less predictable. Here are some examples:
- [ ] name/label

...okay just the one example for now. We can edit this if/when we find more, I feel like they're there.

[2014-10-27 07:12] zenhack opened #314 "record successful application of networks one at a time."
Right now `serve_networks()` clears pending actions in one transaction, at the very end of its operation. This is suboptimal, since it means a failure in the middle will cause _all_ actions to be reapplied, even ones which are complete.

The code should be reorganized a bit to facilitate this; in particular, doing them all at once allows us to avoid logging into the switch multiple times. Getting

[2014-10-27 07:28] zenhack opened #315 "Integer may be too small to ensure network action ordering."
@henn brought this up. We're using the primary key for our network actions to determine ordering, and on most databases `Integer`is a 32-bit signed int. It's possible that a long-running HaaS installation might overflow eventually; my back-of-the-napkin estimates put this at ~3.5 years if you accumulate ten actions per second.

Using a 64 bit number would be more than sufficient to prevent this.

[2014-10-27 11:10] zenhack opened #316 "pip.req trickery breaks python setup.py bdist_rpm"
I was playing with packaging our stuff, and hit this; it looks like it's trying to call setup.py recursively from somewhere other than the root of the tree, and since that means requirements.txt isn't there, the trick we're pulling to avoid duplicating the dependency list between requirements.txt and setup.py causes it to fail.

I wish we could share bugs between repos; this affects moc-rest too.

[2014-10-27 15:30] henn opened #317 "Option to cause 'haas serve' to also run the 'serve_networks()' function"
As part of #296 and later a comment in #309, it was brought up that having an option to run serve_networks() as part of the main haas process could be desirable for developing/testing due to a) having all messages going to a single window and b) necessitating less overhead for the development/test modify/run cycle.

This could be done either as a separate process or as a separate thread (via [mult

[2014-10-27 15:50] henn opened #318 "Make sleep time for async loop tunable"
Per review comments on #296, the sleep() time in serve_networks() should be tunable. This should also be documented.

[2014-10-27 23:47] zenhack opened #321 "Fill out metadata in setup.py"
We're going to want to package the haas and put it on pypi (and probably make rpms/debs). To that end, we should fill out extra metadata in setup.py - things like author{,_email} (probably something like mass open cloud contributors/moc-technical@googlegroups.com), description, etc, as well as the categories field, which we can use to indicate supported python versions, development stage of the pr

[2014-10-29 20:20] henn opened #327 "Handle multiple switches"
This was contained in docs/multiple-switches.md, which I'm about to clean up.

Tossing this in here for future work:
    At some point or another we're going to want to deal with nodes on multiple
    switches. Depending on the situation, we plan to handle this in one of two
    ways:

    1. Stack the switches -- if all of the switches are the same, it's
       typically possible to daisy-chain t

[2014-10-31 20:16] gsilvis opened #333 "Connecting headnodes to networks with manually specified VLANs does not work."
Assuming you use `create_bridges` to pre-allocate all your bridges, the bridge needed will only exist for VLANs in the allocation pool.

[2014-11-04 04:51] zenhack opened #337 "haas.cfg should be loaded from more sensible location(s)."
Right now, the wsgi script loads it from `/etc/haas.cfg`, and the haas command loads it from `./haas.cfg`. This is terrible.

[2014-11-04 04:52] zenhack opened #338 "haas doesn't detect missing config file"
It just complains when an option it needs is missing.

[2014-11-04 20:29] lokI8 opened #339 "Automated testing environment"
Would be nice to have an environment in our lab that, when a new pull request is issued to the haas, can pull it down and test it

[2014-11-05 18:26] gsilvis opened #340 ""Requirements" section for install guide"
This lets people quickly check that they have what they need to run the HaaS at all

[2014-11-12 00:08] henn opened #352 "Support VNC authentication"
Currently there is no authentication on the VNC server.

We can also enable users to connect from other machines.

[2014-11-12 20:51] henn opened #354 "Client should be able to get endpoint from env variable"
Right now, the client obtains the endpoint to talk to from the config file in the current directory.

It should be able to get it from either an environmental variable or possibly the config file too.

[2014-11-12 21:00] henn opened #355 "Need a list_projects call for admins & devs"
Admins may want to list projects so that they can track down allocated nodes without manually looking through the DB.

Developers may want to look for a random node name to run commands on or may have forgotten what project name they may have used.

[2014-11-12 21:01] zenhack opened #356 "HACKING.rst should mention deployment.cfg"
@gsilvis brought this up in a comment on #353.

[2014-11-19 19:40] henn opened #364 "Need upstart/systemd script for haas serve_networks"
The install doc currently says to run:
    haas serve_networks &

This means that we're depending on the user's terminal to host a long-lived process. We should provide a startup script to run the daemon in the background. CentOS 6 supports upstart, CentOS 7 is systemd.

[2014-11-21 23:20] zenhack opened #372 "Make sure the haas does a "force off" with ipmi."
When doing integration tests for the HaaS release, @lokI8 and I noticed that the sun blades were shutting down _properly_ when we invoked the power cycle api, if they were booted into CentOS. We should make sure it isn't possible for a malicious user to simply "ignore" the shtudown request, thereby hijacking a node that they are supposed to have released.

[2014-12-11 20:21] zenhack opened #380 "Allow running the test suite with different database configurations."
Right now, all of the unit tests use `sqlite:///:memory:`, which means it's impossible to run them against a different database without patching the code. We should have a clean way of parameterizing this.

[2014-12-15 21:05] henn opened #382 "Need way to track asynchronus status for operations"
Currently, there is no way to view the status of an asynchronus operation like connect or disconnect network.

One way to achieve this is to create a handle system that would track pending and recently completed operations. The user would then poll this handle.

[2014-12-19 23:05] henn opened #385 "Compatibility with selinux"
Currently, the documentation says to turn off SELINUX (see #359).

Presumably, in a real world setting a person would like to take advantage of SELINUX.

We should figure out what's broken and fix it.

[2015-01-06 19:06] henn opened #386 "INSTALL.rst needs update WRT storage pool"
Following the directions under [Headnode image](https://github.com/CCI-MOC/haas/blob/8af569f083d9e43a607a235a255ca0a2ba32e62e/INSTALL.rst#headnode-image), it says to add a new storage pool pointing to `/var/lib/libvirt/images` via pool.xml.

Following this on a default CentOS 6.5 node, I get the following error:
[code]
To solve this, I suggest creating a separate directory called `/var/lib/livirt/

[2015-01-06 19:10] henn commented on #386
Also, the instructions need to be updated to reflect that CentOS does not have a libvirt user by default.

[2015-01-06 19:22] henn commented on #386
... and there should be a reference to the haas.cfg base_imgs in the Headnode section

[2015-01-06 19:51] henn opened #387 ""haas init_db" should run as haas_user if run as root"
If running `haas init_db` as root, the database is created as root and the haas_user cannot access it properly.

init_db should detect if running as root, and if so either su to the haas user (`os.setuid()`) or chown the file as appropriate.

[2015-01-07 01:37] zenhack commented on #387
Several problem with this solution:

1. haas_user is an artifact of INSTALL.rst, and thus the haas has no way
   of knowing, in general, what user to switch to.
2. This requires SQLite specific logic; right now init_db will require
   no porting work when move to other DBMSes.

I think the right solution is to just get support for a proper database
server in, and say "don't use SQLite in productio

[2015-01-07 01:56] zenhack commented on #386
This might be an artifact of the fact that there was a previous installation on the MRI node -- I ran through the instructions top to bottom many times and never hit that.

re: libvirt user -- the instructions are fairly clear that you need to create the group, and you *don't* need the user -- adding the haas user to that group is sufficient.

Adding a reminder re: base_imgs near the image definit

[2015-01-07 17:30] henn commented on #387
Good points.

1) Would there be any other reason to have a "haas_user" config option?

2) running setuid() first could solve the issue in a non-SQLite-specific manner

[2015-01-07 20:43] zenhack commented on #387
1) Not really - by the time HaaS reads the config file, in all cases it's running as its final user.

I'm alergic to server software that silently tries to figure out what the user "meant" to do. I'd be okay with having the cli tool spit out a nasty warning/error if run as root.

[2015-01-09 07:09] zenhack commented on #385
I'm just going to close this. The right answer is to use a real DBMS.

[2015-01-09 07:09] #385 closed

[2015-01-09 07:22] zenhack commented on #327
the complex vlan driver has been merged, closing.

[2015-01-09 07:22] #327 closed

[2015-01-09 08:41] henn commented on #327
@gsilvis, just wanted to make sure we weren't losing any state with the
deleting of that documentation. I agree that complex_vlan addresses the
issue so this should stay closed. Thanks

[2015-01-09 19:18] gsilvis opened #389 "HaaS CLI should have a 'version' command"
It would print the version.

[2015-01-13 03:10] henn commented on #387
You're right. Let's issue a WARNING if uid() == 0 when running ```haas init_db``` so that the user has an idea something might be wrong. Sound good?

When using sqlite, it might also be more user friendly to check permissions on the DB using *os.access()* and print a warning if there is an issue. Currently, the error is a lengthy stack trace ending in something like this:
[code]

[2015-01-13 03:46] zenhack commented on #387
Quoting henn (2015-01-12 22:10:18)

I think it's sensible to just issue a warning if the HaaS cli tool is
run as root at all - there isn't a legitimate use case for that.

It's probably cleaner to just catch the exception; I bet it's got enough
info in it to come up with a nicer error message. This way we're not
writing special case code for SQLite.

@gsilvis?

[2015-01-13 22:39] henn opened #391 "ProgrammingError: SQLite objects created in a thread can only be used in that same thread"
Found this in the error log:
[code]

[2015-01-14 20:41] henn commented on #4
Per conversation, we're going to close this unless the bug is reproducible in a recent version.

[2015-01-14 20:41] #4 closed

[2015-01-14 20:43] henn commented on #15
Since this, we've changed our model such that configuration is done through the REST API, and the headnode VM essentially has no special access. A user could configure their headnode to access the REST API given the primitives we've made availab.e

[2015-01-14 20:43] #15 closed

[2015-01-14 20:47] henn commented on #43
Verbiage was added to the [deployment guide](https://github.com/CCI-MOC/haas/blob/48c3169ddab5e075c17c3668363522a6e345caad/docs/deployment.md#firmware-security) to address this issue. It is up to the HaaS deployer to address firmware security.

[2015-01-14 20:47] #43 closed

[2015-01-14 21:03] henn commented on #46
Switching to using ssh should be relatively straightforward.

[2015-01-14 21:21] henn commented on #54
I've run into this, specifically when the port names are entered incorrectly. We should address this for 0.2

[2015-01-14 21:27] henn commented on #54
Gold star if you can catch my specific error and report something like "Check that port names agree with the switch"

[2015-01-14 21:33] zenhack commented on #391
Per conversation, we're being pretty sloppy with managing sessions in general; we should just do the session setup/teardown in our global request handler wrapper, and make it available as a request local.

[2015-01-15 12:19] zenhack commented on #54
@henn I think the right approach to port names would be to check them on the way in - there's no reason the driver can't know about their format.

Obviously we still need to do error handling for the general case.

[2015-01-29 21:50] henn commented on #47
Reopening, as we have hardware now that will require this feature.

[2015-02-05 21:13] henn opened #392 "Allow/document managing virtual-only nodes and networks"
Allowing a server to manage virtual nodes and networks will allow HaaS developers to test their code without needing actual machines and switches. There is work needed to allow managing virtual nodes. For networks, the null driver will allow networks to be created and attached without needing a physical switch.

Implementing virtual nodes and documenting how to use them as well as the null network

[2015-02-19 22:01] henn opened #394 "Merge moc-rest into haas repo"
Currently, installing HaaS requires a separate install step for the moc-rest module. There is some agreement within the team that merging moc-rest back into HaaS would simplify the installation and maintenance process and make certain development tasks (especially decorators) easier to implement.

Here are some links that might help with maintaining the history (if that's important):
* http://jaso

[2015-02-23 06:20] zenhack opened #396 "setup.py breaks on pip 6.x"
This applies to both HaaS and `moc-rest`. Error message look something like:

[code]

I hit the same bug in a personal project a few weeks ago. The fix is pretty trivial -- just put the install_requires in setup.py directly. I'd been under the mistake impression that this wouldn't accept versioning information.

[2015-02-23 22:14] #396 closed

[2015-03-06 19:21] SahilTikale opened #399 "Port for running HaaS server hard coded into rest.py"
HaaS server fetches the information like which port to run on from the file rest.py ( /haas/moc/rest.py)
While looking around the source code along with Jason, we came across this line

run_simple('127.0.0.1', 5000, wsgi_handler, use_debugger=debug, use_reloader=debug)

which states that the port is hard coded and we cannot use any other port to run a HaaS server.

This is a problem if we wish to

[2015-03-06 20:08] zenhack commented on #399
Quoting Sahil Tikale (2015-03-06 14:21:18)

Probably. Patches welcome, If I have some time I'll get to it, but no
promises for a time frame.

-Ian

[2015-03-23 05:22] zenhack commented on #394
This has been done, closing.

[2015-03-23 05:22] #394 closed

[2015-03-23 21:33] haydarkarrar opened #401 "Can't list project through the REST api call"
There is no api call for this

[2015-03-23 21:42] zenhack commented on #401
#362 adds one. @ryabouza isn't working with us anymore does anyone else want to volunteer to fix this up?

//cc @gsilvis, @lokI8

[2015-03-23 21:45] haydarkarrar opened #402 "Can't attach node to the project by API call"
We need to specify which node we want to attach or detach.

Please look at @rest_call('POST', '/project/<project>/connect_node') in haas/api.py file

[2015-03-23 21:46] SahilTikale commented on #401
I realized that while working on rHaaS project. I have included that as one of the items in our backlog.
So if it is not urgent, our team would like to contribute that.

[2015-03-24 05:23] zenhack commented on #402
The node name goes in the body of the request, in a JSON object, e.g.:

    {"node": "node-4"}

This is generally true of any parameters that aren't in the URL. See `docs/rest_api.md` for a reference (It's terse, but at least has the full mapping).

I'm going to close this issue; the needed functionality already exists.

[2015-03-24 05:23] #402 closed

[2015-03-24 13:05] kamfonik opened #404 "Node_power_cycle produces error (dry_run = true)"
Calling "node_power_cycle" produces the following error message and traceback.
I have dry_run = true in haas.cfg

(.venv)kamfonik@dandini-ubuntu:~/Desktop/haas$ haas node_power_cycle 1
INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): 127.0.0.1
DEBUG:moc.rest:Recieved api call node_power_cycle(u'1')
INFO:werkzeug:127.0.0.1 - - [24/Mar/2015 09:00:54] "POST /node/1/powe

[2015-03-24 16:36] haydarkarrar commented on #401
Can you check the pull requests #405 ? I added the project listing and getting project's headnode functionality

[2015-03-24 16:46] zenhack commented on #404
So from this it's pretty clear that the `dry_run` option isn't taking; it's calling `ipmitool` but that should be supressed. The question is why.

Try with `dry_run = True` (capitalized T)? I'm going to be very annoyed if that makes a difference, but...

The alternative is to put a break point at the end of `haas.config.load` and inspect the configuration:

    import pdb; pdb.set_trace()

I think

[2015-03-24 18:03] zenhack commented on #404
Err, nevermind. power_cycle needs `@no_dry_run` on top, apparently we missed that.

[2015-03-24 18:06] zenhack commented on #404
@kamfonik, patches welcome, I'll get to it myself at some point.

[2015-04-07 21:20] henn opened #409 "Connecting networks between haas installations"
We need a mechanism for programmatically joining L2 networks between multiple HaaS installs. Currently, both HaaS installs would require an admin's intervention in order to import an existing VLAN ID. This keeps the user from doing this on his or her own.

For example, if Harvard has one HaaS install and BU has another, it'd be good for a single customer to be able to create a network that is shar

[2015-04-07 21:59] henn opened #410 "Mechanism for expressing network driver capabilities"
For work like what @zenhack is doing in #408, it would be good to have a mechanism for registering the optional capabilities for drivers. One example would be for a driver to advertise its ability to do channels, where multiple networks can be communicated over a single NIC/port.

As HaaS grows and has more code & contributors, it may not always be feasible to support new features (like channels)

[2015-04-08 16:52] henn opened #411 "Better documentation for HIL consumers/end-users"
Currently, our [end-user/consumer documentation](https://github.com/CCI-MOC/haas/blob/master/docs/USING.rst) does not have any examples.

It would be good to improve this before our next release, including perhaps some scripts in the examples/ directory.

[2015-04-08 17:17] henn opened #412 "Need network and node quotas"
Right now, HaaS allows consumers/schedulers to consume as many nodes as they'd like with no restrictions.

We probably want to have some sort of quota system. This start off really simple (have a per-project default and allow admin override) or be more complex (like allowing for bursting).

[2015-04-08 17:50] zenhack commented on #411
The file you link to expressly refers to `examples/puppet_headnode`; we do have one example, which works. It is rather slapped together though.

[2015-04-08 23:27] haydarkarrar opened #413 "[Bug] Can't detach the node from project"
It throws internal server error
I am trying this command
    $ haas project_detach_node <project_name> <node_name>

[2015-04-09 02:10] zenhack commented on #413
Can you post the entire error?

Also, are you really just running `haas project_detach_node`? That command needs to be passed the name of the project and of the node; without those you should just get a message amount incorrect arguments.

[2015-04-09 15:26] haydarkarrar commented on #413
Yeah I am passing the parameter!

[2015-04-09 15:59] haydarkarrar commented on #413
This is full message:

lama@ubuntu:~/haas$ haas project_detach_node proj hp
INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): 127.0.0.1
DEBUG:requests.packages.urllib3.connectionpool:"POST /project/proj/detach_node HTTP/1.1" 500 291
Unexpected status code: 500
Response text:
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>500 Internal Server Error</titl

[2015-04-09 16:02] haydarkarrar commented on #413
This is error message I get in haas server running terminal:

ERROR:werkzeug:Error on request:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/Werkzeug-0.9.4-py2.7.egg/werkzeug/serving.py", line 177, in run_wsgi
    execute(self.server.app)
  File "/usr/local/lib/python2.7/dist-packages/Werkzeug-0.9.4-py2.7.egg/werkzeug/serving.py", line 165, in execute
    applic

[2015-04-09 16:25] zenhack commented on #413
Quoting Igibek Koishybayev (2015-04-09 11:26:06)

Okay. Can you post the full error message?

[2015-04-09 17:00] zenhack commented on #413
I'm assuming you're just running this on a local machine (rather than a full setup with actual nodes available)? If so, you need to set `dry_run = True` in `haas.cfg`. If on the off chance you've got real nodes available, you need to install `ipmitool`.

[2015-04-10 18:37] henn commented on #304
This was addressed by #363

[2015-04-10 18:37] #304 closed

[2015-04-10 18:38] henn commented on #39
This could make a good introductory issue to work on; working with either @gsilvis @zenhack or @lokI8

[2015-04-10 20:44] zenhack commented on #39
Quoting henn (2015-04-10 14:38:42)

There are some fairly detailed docstrings in `haas/drivers/__init__.py`.
What do you think is missing?

[2015-04-11 00:42] henn commented on #39
@zenhack, do you consider your issue to be resolved then?

I wasn't sure if you were advocating additional developer docs. Maybe we should toss a reference to this in [HACKING.rst](https://github.com/CCI-MOC/haas/blob/master/HACKING.rst)?

[2015-04-11 02:11] zenhack commented on #39
Ack, totally missed that this was an existing issue; I saw it in my inbox and thought you'd opened a new one.

The error handling behavior is still unspecified, which I think is the only bit of this that still needs doing.

I'm actually going to remove the easy label -- the existing drivers don't really take errors into account at all, and figuring out what they should do when something goes wrong

[2015-04-11 02:32] zenhack commented on #413
@haydarkarrar can you let us know if my suggestion fixed your problem?

[2015-04-15 16:54] henn commented on #47
FYI - the implementation will need to take into consideration [VLAN hopping attacks](https://en.wikipedia.org/wiki/VLAN_hopping).

[2015-04-20 02:10] zenhack commented on #413
I am going to take the lack of response as meaning the problem is resolved. closing.

[2015-04-20 02:10] #413 closed

[2015-04-22 17:38] #404 closed

[2015-04-24 04:41] henn commented on #314
I think this is actually a pretty simple change, and would increase the robustness of HaaS by not allowing one error in any operation to cause all operations to fail. Operations in the same queue as the failing one will also reflect incorrectly in the DB (and thus the future ``show_network()``). Optimization (like having multiple service threads or connection pooling) should be treated as a separa

[2015-04-27 05:55] zenhack commented on #314
I'd want to actually measure the time it takes to log into and out of the switch before making this change -- It may well be simply too big not to batch the applications.

If this is the case, the solution is easy enough: expose connect/disconnect. On my vlan-trunking branch these are already separated out (just for cleanliness purposes) so it wouldn't be hard to make it a public api. then we can

[2015-04-27 06:16] zenhack commented on #242
Note: #408 completely changes how the switch is queried, so this will be obsolete when that's merged.

[2015-04-27 06:17] zenhack commented on #278
Just referencing here so I remember to close this when we merge #408, which addresses this.

[2015-04-28 12:48] henn commented on #411
Ok - then we can mark this as easy :)

The documentation should be tied into the README

[2015-04-28 12:51] henn opened #416 "Need to test and document making the HaaS API server multi-node"
In theory, other than headnode stuff (which we eventually want to remove), it should be possible to make HaaS multi-node as the DB is the point of synchronization.

We should test and document this.

[2015-04-28 13:13] henn opened #417 "Serial console support is horribly fragile (was: Limit number of console-watching processes to 1)"
Currently, users can call start_console() on a node as many times as they want, with each call starting a new IPMI tool. This could cause 2 DOS-y types of problems:
a) I'm not sure if IPMI even supports more than one console-gathering process, and
b) this could create a bunch of processes on the HaaS API server

Multiple IPMItool instantiations aren't necessary, since just 1 instantiation will rec

[2015-04-28 13:17] henn opened #418 "Restart console-watching processes on HaaS API server reboot"
If the HaaS API server reboots, we face a couple of issues with the IPMI console functionality:

1) We lose the contents of the log since they're kept in a temp file
2) The process that was recording the serial console does not get restarted.

Persisting console state to the DB will help this.

[2015-04-28 13:22] henn opened #419 "Test and document removing switch credentials/connection info from HaaS API server"
Now that we've separated HaaS into an API server process and network servicing components, we can add defense in depth by removing switch credentials from the `haas.cfg` owned by the HaaS API server and not even allowing it to have access to the switch's administrative network. Though this is theoretically possible, it should be tested and documented.

This would make it so that in order for an at

[2015-04-28 21:12] zenhack commented on #416
Could you please specify exactly what you mean by "multi-node"?

[2015-04-28 21:21] zenhack commented on #417
Thanks for bringing this up --- the general kludgy-ness of the
implementation has been bugging me.

We really need a better story on process-control re: serial console
stuff in general. Here's a somewhat more ambitious idea of where this
could go (eventually, we could talk about possible shorter-term fixes as
well):

Rather than having start_console/stop_console, we just use a persistent
connectio

[2015-04-28 21:22] zenhack commented on #418
See my comments on #417

[2015-04-28 21:30] zenhack commented on #419
Two thoughts:

1. If we're going to keep the design is, then absolutely. However, we've
   had conversations about maybe making the switch a database object
   again, and having a switch_register, in which case those go in the
   DB.

   There's a broader conversation to be had about how to make the
   various objects in HaaS polymorphic -- the current approach of just
   shoving more stuff in the

[2015-04-28 22:02] henn commented on #416
Running multiple HaaS APIs (as opposed to the network action daemon)
under separate webservers.

[2015-04-29 04:04] zenhack commented on #416
Ah, I see. Yeah, that should work, though we will have to remove the
headnode stuff or do something like OVS so it doesn't need to be on the
same node.

We also *still* need to add support for something other than sqlite

My inclination is: we need both of those things anyway, this will have
to wait until we have them.

-Ian

[2015-04-29 14:10] henn commented on #416
I thought we supported mysql? Doesn't SQLAlchemy get us support for
several DBs?

[2015-04-29 19:15] zenhack commented on #416
Almost. It makes it a lot easier to do portability, but there are a few
things you need to pay attention to. Off the top of my head, MySQL
requires you specify the length of VARCHAR fields (which are exposed as
String in SQLAlchemy), and we're not doing that. Postgresql doesn't
require this, and for all I know that may just work, we should check.

-Ian

[2015-04-30 21:09] zenhack opened #420 "serve_networks is intended to apply network operations in order, but doesn't"
70c2aad2 indended to ensure that network operations are applied in-order. Note that there's some discussion amongst the team about whether this is what we want, but the code is actually incorrect; the operations are used to build up a dictionary, which is an unordered data structure. If we're going to keep the indented behavior, we should use a sequential datastructure here.

[2015-05-01 20:16] henn commented on #420
Fixing #314 would address this.

[2015-05-06 04:58] zenhack opened #422 "Improve example provisioning scripts"
`examples/puppet_headnode` has a functional, albeit rather clumsy and limited set of puppet manifests for setting up a headnode to pxeboot machines into the CentOS installer. It would be great if we could improve this this such that it's more straightforward to use and possibly start generalizing it so we have a nice "default" provisioning system for people to build off of if they don't have one t

[2015-05-06 20:10] zenhack commented on #355
How about we just grab 02673c8 and add some tests? The rest of the pull request might require a bit more scrutiny, but I think that commit looks pretty solid.

//cc @henn, @gsilvis, @lokI8

[2015-05-14 18:10] SahilTikale commented on #389
A fix for this is generated under #425

[2015-05-15 02:41] henn opened #427 "Need async error checking mechanism in API"
Currently, network operations are asynchronous, placed into a queue that  `serve_networks()` processes. Although some errors will be returned immediately to the caller (like permissions issues or invalid parameters), those resulting from the network operations currently have no way of reporting back to the user.

A mechanism for doing so, such as status polling, is needed. This could function by i

[2015-05-17 05:18] zenhack commented on #389
@SahilTikale, I'm assigning this to you, since you've already got a patch out for it. Apoorve asked me to give it to him, did you two coordinate something I don't know about? In any case, this should make it a little more clear what's going on.

[2015-05-17 05:20] zenhack commented on #417
I'm removing the easy label for this, and putting one of the (many, for some reason) discussion labels on this. We need to decide on an appropriate solution before someone goes and codes it.

[2015-05-18 17:20] SahilTikale commented on #389
No, we did not coordinate anything related to this call. I am working on this and it is fine that you have assigned it to me. In future if I and Apoorve work on any part of HaaS together we will update you accordingly.

[2015-05-18 20:26] zenhack commented on #401
Closing this; a solution has been merged.

[2015-05-18 20:26] #401 closed

[2015-05-18 20:32] zenhack commented on #391
The other possibility here is just that hey, sqlite isn't actual thread safe (I'm pretty sure). We really *need* to make this work with postgres or mysql.

[2015-05-18 20:39] zenhack opened #428 "Get HaaS working with PostgreSQL"
We need support for a production ready DBMS (sqlite isn't even thread-safe). Postgres should be pretty easy to get working; *in theory* it should work already, but is untested so there are probably going to be a few snags to fix.

[2015-05-18 21:16] apoorvemohan commented on #399
do we want to specify the port using a config file or pass it as a command line argument?

[2015-05-18 22:25] zenhack commented on #399
Good question. I think a CLI argument might make more sense. @henn, @gsilvis, @lokI8, opinions?

[2015-05-19 02:15] pns005 commented on #399
It is quite typical to be able to specify configurable object such as port
number as a command line argument *and* from config. file.

Perhaps, start with command line argument. Once that works then can move on
to support config file especially if we anticipate many many customized
port numbers.

On Mon, May 18, 2015 at 5:16 PM, apoorvemohan <notifications@github.com>
wrote:

[2015-05-19 02:21] apoorvemohan commented on #399
I thought so as-well. Submitted the changes for review (Opened pull request #429 ).

[2015-05-19 20:01] zenhack commented on #399
Quoting pns005 (2015-05-18 22:15:10)

I would agree except that the `haas serve` command is just for
development purposes --- this is bypassed entirely in a production
setup, and you'd set the port in the webserver config.  This is mainly
going to be useful when working on something like recursive haas, where
you need to avoid collisions. I don't have a strong objection to adding
a config file opt

[2015-05-19 21:16] apoorvemohan commented on #399
Just realized the I have not done exceptional handling for (1) if the user specifies port number outside 0-65535 range. (2) non numeric port number. The code will crash showing ugly stack trace. Please cancel the previous pull request.

[2015-05-21 04:21] zenhack commented on #399
Quoting apoorvemohan (2015-05-19 17:16:42)

Good call (the cli, and HaaS generaly, already does way too little error
checking, but we should start improving it, so thanks). I see you've
already pushed some changes (and I've made some comments) -- there's no
need to "cancel" the pr, it will update automatically as you continue to
work on that branch.

-Ian

[2015-05-21 22:41] apoorvemohan commented on #428
I have completed the changes but I need to test it. I see a tests directory in the haas code. Can anyone  guide me how to use them.

[2015-05-29 00:02] zenhack opened #431 "use argparse for the cli; make it more flexible"
Per my comments in #425, the cli code is somewhat brittle; there's a standard library module `argparse` that we should be using instead of the stuff that I hacked together a year and a half ago.

[2015-06-03 03:31] zenhack commented on #355
This was resolved by #424; closing.

[2015-06-03 03:31] #355 closed

[2015-06-04 16:07] SahilTikale commented on #431
Added support for same, submitted the pull request today  #425

[2015-06-07 22:16] apoorvemohan commented on #428
Tested on Centos 6.6. Will create a pull request after testing on Centos 7 (on PRB cluster).

[2015-06-08 17:49] zenhack opened #433 "Use iproute2 commands in create_bridges (not net-tools)"
The `create_bridges` script uses `ifconfig` from the net-tools package. More and more distros are not installing net-tools by default, in favor of iproute2 (net-tools has been unmainted for some time). We should move over to using the `ip` command that's part of iproute2

[2015-06-16 16:32] zenhack opened #438 "HaaS ipmi driver needs -I lanplus to work with nexus switch"
I haven't yet read up on what this option actually does. We should figure that out, and decide if we ever need to not pass it. If so, a proper solution may have to wait for @SahilTikale's OBM driverization.

[2015-06-16 16:37] zenhack commented on #433
I want to verify that `ip` is actually available on CentOS/RHEL 6 before going ahead with this (I imagine it is). @gsilvis thinks `ip` can also replace `vconfig`, which would be a nice thing to add as well.

[2015-06-16 16:37] gsilvis commented on #433
``ip`` can make bridges, too, btw

[2015-06-16 23:35] zenhack commented on #433
I'm taking the discuss label off of this; solution seems clear.

[2015-06-17 06:54] zenhack opened #440 "INSTALL.rst suggests using AllowEncodedSlashes NoDecode on newer versions of apache, but this breaks things"
you end up sending things like gi1%2F0%2F13 to the switch. we should update the docs to correct this

[2015-06-18 15:53] zenhack opened #443 "node_delete doesn't check if the node has nics"
If it does, sqlalchemy throws an exception (because the `owner_id` column in `Nic` is not nullable).

We should check this and throw a `BlockedError` (which I think is most consistent with the rest of HaaS' behavior.

[2015-06-18 15:56] gsilvis commented on #443
Agree with sol'n

[2015-06-18 16:00] zenhack commented on #443
Okay, I'm going to take discuss off of this and submit a fix.

[2015-06-18 16:22] apoorvemohan opened #445 "node_delete operation too slow"
The node_delete event operation is too slow. To delete even one node it takes around 60 seconds. After investigating and discussing with @zenhack it seems that this is due to the stop_console() being called from the code.

[2015-06-22 10:32] zenhack opened #446 "Adminstrators should have a way of removing VLANs from the pool"
Once the database is initialized, there's no way to get VLANs *out* of the database. Even changing the config file won't have an effect.

[2015-06-22 18:49] lokI8 opened #447 "No show_port command"
Unclear how to attain the running configuration of the switch through haas. Would like a command like "show_port" that returns the current interface mode, network identifier applied, and nics associated.

[2015-06-23 06:20] zenhack commented on #447
Quoting Jonathan Bell (2015-06-22 14:49:45)

This will be a lot easier once my refactoring work is done (and we'll
probably want a show_switch) or something as well.

[2015-06-23 17:50] zenhack opened #448 "(incoming) dev_support test fails sometimes for strange reasons"
This is on my refactoring branch, but I'm not getting to it soon and don't want to forget about it:
The first test in dev_support sometimes spits out the following error:

[code]
This seems to depend on what tests are run; if just the dev_support tests are run it works fine. When all of tests/unit is run however, the error occurs.

[2015-06-25 14:49] gsilvis opened #450 "node_delete_nic and headnode_delete_hnic don't check for network attachment"
This causes the following behavior:

-Attach hnic to network
-Delete hnic
-Create new hnic with same name
-New hnic is /already/ attached to a network

I haven't gone through and debugged exactly what's happening, but this is clearly not the right behavior.

[2015-06-25 17:37] zenhack commented on #450
weird. probably easy enough to transliterate this big report into a test case.

[2015-06-26 21:54] zenhack commented on #372
Apparently the hard reset command is `chassis power reset` whereas we're calling `chassis power cycle`.

[2015-06-30 15:09] gsilvis commented on #448
The problem is that 'testsuite_config' starts with 'test'.  I don't quite understand how it's getting picked up by py.test, nor why doing multiple tests change it, but it's definitely the problem.

[2015-06-30 19:56] gsilvis commented on #446
I've argued before that VLANs should be added to and removed from the pool with API calls rather than the config file.  But the behavior here is fairly non-obvious.  What happens if I delete a VLAN that has a network allocated to it, for instance?

[2015-07-08 04:16] zenhack commented on #448
That is *so* dumb. Nice catch.

[2015-07-08 04:21] zenhack commented on #446
The right behaviour in that case is probably to just refuse to delete it without first deleting the network.

Also, since vlans are a driver-specific notion, we'd have to either (a) figure out how to make the api calls generic, or (b) decide how extension-supplied api calls should work.

I can't think of a better solution though.

[2015-07-08 04:31] zenhack commented on #417
I'm changing the title of this to make it a little more obvious what the core issue is. I feel pretty strongly that we need to pin down a better design, not just find some hacky way of fixing the handful of serious issues we have now.

[2015-07-08 04:33] zenhack commented on #445
I think we should address #417 head on before investing effort here --- deleting node is infrequent enough that I don't think we need a quick fix.

@gsilvis ?

[2015-07-08 15:10] gsilvis commented on #446
Yeah, refusing to delete is in line with most other HaaS commands.

[2015-07-08 22:16] #443 closed

[2015-07-10 19:49] gsilvis opened #453 "There needs to be a 'list_networks' command"
The exact semantics are up to debate, but there really should be /something/.  As it is, there's no way of finding the information out, so I'm calling this a bug.

[2015-07-10 19:57] gsilvis commented on #445
I agree with @zenhack here.  (In fact, any sane solution to #417 will solve this immediately.)

[2015-07-10 21:36] zenhack commented on #453
Quoting George Silvis, III (2015-07-10 15:49:03)

Yeah, I hit this earlier today. Would also be nice to be able to query
what a (h)nic is attached to.

-Ian

[2015-07-14 18:15] zenhack opened #454 "Database session should be request-local"
This would simplify a large portion of the control flow. Even in spite of the refactoring changes I'm doing, it's still a little awkward to get at the session. The session could be created in `haas.rest`.

@gsilvis?

[2015-07-14 18:33] gsilvis commented on #454
Seems like a good idea to me

[2015-07-15 18:36] lokI8 commented on #453
Or a physical nic. Would be nice to tell if one of the networks got detached from one of my nodes without going into the switch.

[2015-07-15 20:57] zenhack commented on #453
Quoting Jonathan Bell (2015-07-15 14:36:59)

I had been thinking in terms of a user figuring out what's connected to
what network, but yeah, it would also be useful for administrators to be
able to query what's attached physically.

[2015-07-16 02:00] zenhack commented on #438
Apparently this is basically a different wire protocol that adds things like encryption and better integrity checking. It's also IPMI 2-only, which means the sunfires we have in prb won't work with it.

I'm inclined to suggest just adding in as a default anyway; I don't think we really care all that much about the sun blades. Once @apoorvemohan and @SahilTikale finish drivertizing the OBMs, if we

[2015-07-16 11:39] pjd-nu commented on #438
If we need test machines in PRB, we still have the Supermicro boxes. I assume they're IPMI 2.

.....................................................................
 Peter Desnoyers                                  pjd@ccs.neu.edu
 Northeastern Computer & Information Science      (617) 373-8683

[2015-07-16 15:45] zenhack commented on #438
Quoting Peter Desnoyers (2015-07-16 07:39:30)

Yeah, that was my thinking.

[2015-07-16 17:16] zenhack opened #456 "Add an selinux policy file"
Right now users are required to disable selinux in order to run HaaS. It would be nice to have an SELinux policy policy file so this isn't necessary.

[2015-07-16 18:01] zenhack commented on #448
Closing, since @gsilvis fixed this.

[2015-07-16 18:01] #448 closed

[2015-07-16 18:07] zenhack commented on #420
#455 reworks how serve_network does things, and in the process addresses this issue. Once that's merged, we can close this.

[2015-07-16 18:11] zenhack commented on #411
I'd like to see a concrete list of actionable tasks for this issue; as it stands exactly what needs to be done is somewhat vague.

[2015-07-16 18:14] zenhack commented on #386
If we just add a thing after the giant chunk of xml example to the effect of "be sure to add the value of `<name>` to the `base_imgs` option in `haas.cfg`", will that be sufficient?

[2015-07-17 04:24] henn commented on #386
Sorry that I didn't see your previous comment.

re: the original issue, it's more of a styling/separation of the headnode VMs from any other libvirt VMs the system might have. Having a separate libvirt images directory allows the admin to maintain separate permissions for the headnodes from the rest of the system, keeping the haas user from being able to modify them. We can take or leave that sugg

[2015-07-17 04:28] henn commented on #411
Essentially, I was thinking of something that would show the basic operations of HaaS. Perhaps:
- [ ] Creates a project
- [ ] Allocates 2 nodes
- [ ] Creates 2 networks
- [ ] Attaches those networks to the nodes
- [ ] Creates a headnode that is attached to the PXE interfaces
- [ ] Resets the nodes
- [ ] (Bonus points for PXE'ing an OS onto the nodes from the same script)
- [ ] Tears everything dow

[2015-07-17 15:49] zenhack commented on #386
I think I'd rather not bother trying to support nice-to-have enhancements to the headnode subsystem at least until we tease it out into a separate package.

clearly something is amiss with the line you're quoting, since there is no libvirt user (including on our *functioning* setups). I'll comment again once I've looked at it and regained some context.

[2015-07-17 15:50] zenhack commented on #411
Okay, I think that's a good checklist of things to have in an example somewhere. @gsilvis, @lokI8, thoughts?

[2015-07-21 20:30] henn opened #459 "API support for pre-selecting a VLAN for a network"
A very useful feature would be for administrators to have the ability through the API to create a network within a project that is assigned to a particular VLAN ID.

This would be useful for allowing projects to communicate from 2 different HaaS installations that have a shared VLAN domain; it's a problem I am encountering now in terms of trying to span a single HaaS install.

Things we would need

[2015-07-23 05:20] henn commented on #453
I just hit this- if you want to disconnect a NIC from some existing network, you have to know which network it is currently connected to satisfy `node_detach_network`. There is currently no way to do this without peeking in the DB or listing all of a project's networks and trying each possible one.

What do folks think about adding this information to `show_node`?

Instead of:

    $ haas show_nod

[2015-07-23 18:44] zenhack commented on #453
Quoting henn (2015-07-23 01:20:33)

This looks pretty reasonable to me (except of course the fact that
you've got a syntax error :P).

-Ian

[2015-07-23 21:56] henn commented on #453
@loki8 @gsilvis would `show_node` including this information satisfy your needs?

@zenhack syntax error?

[2015-07-23 23:20] zenhack commented on #453
You've got `{"pxe", "vlan/native"}` rather than `{"pxe": "vlan/native"}`. Nothing major.

I think it would still be good to to be able to list what networks I have, in addition to the extra info in the `show_node` output.

[2015-07-23 23:29] zenhack commented on #417
`ipmitool` doesn't seem to multiplex the serial console when multiple processes connect to it. I don't think it's too big of a restriction to just refuse to allow more than one connection to the serial console; we can just lock a file under `/tmp` whose name is a function of the node's name and do the above, but report an error if there's an existing serial connection.

[2015-07-24 04:24] zenhack commented on #459
We discussed this in person, but this already exists and has for some time. Closing.

[2015-07-24 04:24] #459 closed

[2015-07-24 16:50] gsilvis commented on #453
We definitely need list_project_networks [which we already have, IIRC].  Either show_node or show_nic must show what networks the nic is attached to.  It might be nice for show_network to show the nics attached to it, as well.

[2015-07-24 16:54] zenhack commented on #453
Quoting George Silvis, III (2015-07-24 12:50:56)

So we do! I think Jay's suggestion is complete enough then.

What should a show_network do on a public network?

[2015-07-24 21:13] zenhack opened #460 "Database permissions"
Per some of the comments in #455, It would be useful to explore and document how to set up database permissions such that the credentials for the switches are write-only from the API server; only the network action server needs to read them. This would provide an extra layer of security in the event of a compromised API server.

Much of the discussion we had in person revolved around separating th

[2015-07-25 06:00] henn commented on #364
The output should also get recorded somewhere. Currently, it's not so if the daemon dies you have to guess why (unless it reproducibly keeps dying :)

[2015-07-25 07:13] zenhack commented on #364
Quoting henn (2015-07-25 02:00:29)

Systemd captures stdout/stderr by default, so writing a service script
for it would do the trick on systemd based systems.

[2015-07-28 17:26] zenhack opened #461 "haas.errors.AllocationError should probably inherit from ServerError, Not APIError"
This isn't really the user's fault, and should be a 500-range error.

[2015-07-28 20:47] zenhack commented on #321
I've got some work on this on my branch `pypi`. Useful links for RPMs:

* https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Deployment_Guide/sec-Yum_Repository.html
* https://fedoraproject.org/wiki/How_to_create_an_RPM_package

We'll want to find a place to actually host an RPM repo for HaaS; I think it'll be easier in the long term to be doing deployments from RPMs tha

[2015-07-28 21:13] zenhack opened #463 "network_create call is needlessly confusing"
The way it is now (with mandatory creator access & id fields, and sentinals for certain values) is an artifact of the fact that we used to use formdata for the API, and of the fact that the CLI can't do structured data or optional arguments. The latter is something we need to fix (and it's actually completely unusable with the recent refactoring changes). We should also simplify this call. Right n

[2015-07-28 21:31] gsilvis commented on #463
If we can use structured JSON, I don't see any good reason to change the fields we have.  Just getting rid of the sentinel values should be sufficient, I'd say.  (Remember that we want to have access lists too at some point, potentially.)

[2015-07-29 17:05] zenhack commented on #463
Quoting George Silvis, III (2015-07-28 17:31:47)

Good call --- we could just turn "access" into a list down the line.

-Ian

[2015-07-29 19:30] zenhack commented on #454
Just a note @apoorvemohan has discovered a resouce leak related to this (we're not closing database connections somewhre, which doesn't suprprise me). I'm disinclined to spend much effort hunting that down; I'd rather just address this and have all of the creation/deletion in one place.

[2015-07-29 21:20] zenhack opened #464 "node_delete should do more error checking"
in particular, we should require that a node is not part of a project before deleting it (this will transitively cover requirements like not being connected to a network...)

[2015-07-29 21:27] zenhack commented on #464
Opinions: should we maybe impose the same constraint for `node_delete_nic`?

//cc @gsilvis @henn @lokI8

[2015-07-30 01:25] henn commented on #464
That could work, or we could have cascading deletions. Doing the latter
might get complicated, though, since part of the deletion could be
resetting the switch port (an asynchronous operation).

[2015-07-30 14:42] gsilvis commented on #464
So far we've always required deleting subcomponents first.  I'm definitely against deletion having an effect on the switch.

[2015-07-30 15:52] henn commented on #464
It brings up the interesting problem of how we deal with switch
problems- if the switch is down and I want to move a physical cable to
another node as a workaround, I currently can't without some database
hackery. The node is connected to a nic, which is connected to a
network, which will never disconnect because the switch is down.

I could go either way, but agree with George in principle for no

[2015-07-30 18:33] zenhack opened #465 "The name of the "dirty" column in Headnode is deeply confusing"
It's a holdover from when we had dirty bits on things like projects, and nowadays it's a really lousy name. What it really means is "has been created in libvirt." We should give it a better name.

[2015-07-30 19:47] zenhack opened #466 "project_connect_node doesn't check if the node is free."

[2015-07-30 19:52] gsilvis commented on #466
woof.

[2015-07-30 21:18] zenhack opened #467 "Duplicate 404 check in headnode_delete_hnic"
The code uses `_must_find_n`, and then checks the return value to see if it's `None`. This is impossible, since the whole point of `_must_find_n` is to do that check. It should just be removed.

[2015-07-31 17:25] #440 closed

[2015-08-03 09:27] zenhack commented on #447
Re: show_switch, since these are polymorphic, I can think of a couple different ways of dealing with them:

1. Add a method to Switch that subclasses are required to implement, which formats the data accordingly.
2. Just show information that's common to all switches (name, type, list of ports)
3. Add a method to Switch that does (2), but let subclasses override it if they want to provide more inf

[2015-08-03 18:26] lokI8 commented on #417
It makes sense to put a lock on the console, only allowing one person to watch at a time. I don't think lack of multiplexing will be an issue for the console.

I think we need to make sure that the lock gets released if the connection is unresponsive for x time, in case the stream drops without the process being killed, or something whacky happens on the user's side...

[2015-08-04 10:03] henn opened #470 "Option to keep credentials away from API server"
Currently the API Server and Network Action Service are separated, and an administrator could choose to place them in different processes, containers, VMs or physical nodes. This leads to the ability to restrict access to a switch's administrative interface and credentials to just the Network Action Service for defense in depth, which has much less code than the API Server and need not be exposed

[2015-08-04 10:50] henn opened #471 "Support for trusted ports/DHCP snooping"
Many switches (including the Nexus & Powerconnect) support having "trusted ports" as part of [DHCP snooping](http://packetpushers.net/five-things-to-know-about-dhcp-snooping/), which enhance network security by restricting the ports authorized to act as DHCP servers.

In addition, [dynamic ARP inspection](http://www.cisco.com/c/en/us/td/docs/switches/lan/catalyst6500/ios/12-2SX/configuration/guide

[2015-08-04 11:25] henn opened #472 "Show_switch"
Now that #455 has introduced dynamically-managed switches, we need a way to show information about them.

Useful info I can think of in `GET /switch/<switch>` would be:
* The switch type
* Every port on the switch, the NIC+Node it is connected to, and the output of `show_nic`. This could be helpful in debugging connectivity problems.

Useful info for `GET /switch` would be a list of every switch H

[2015-08-04 12:16] henn opened #473 "DB ACLs"
As discussed in #455, there are certain columns (and maybe tables) for which different parts of HaaS could be restricted. Providing a default set of DB ACLs would enhance HaaS's defense in depth by taking advantage of its component architecture.

For example, the API server would only ever need permissions to write Switch credentials; it should never read them back. The Network Action Server shoul

[2015-08-04 20:43] zenhack commented on #473
Removing the easy label; this requires a certain amount of design and a fairly complete picture of where everything is used in HaaS.

Also, this appears to be a duplicate of #460, is it not?

[2015-08-04 20:47] zenhack commented on #472
This came up in the comments for #447, and I mentioned a design issue around the polymorphic nature of switches. Do you have thoughts on that?

[2015-08-04 22:01] henn commented on #473
Yep. Closing as a dup, though this is a little broader in nature.

I was thinking "easy" because once you understand HaaS's object model, it should be straightforward.

[2015-08-04 22:01] #473 closed

[2015-08-04 22:03] henn commented on #460
I would make this a little broader, going through each table to see which of the actors (API server, OBM server, Network Action Server) would need access to which component.

For example, in addition to the original example, the Network Action Server should never have any access to the OBM or User tables.

[2015-08-04 22:16] henn commented on #447
Merging this with #472. Comments there included:

Useful info I can think of in `GET /switch/<switch>` would be:
* The switch type
* Every port on the switch, the NIC+Node it is connected to, and the output of `show_nic`. This could be helpful in debugging connectivity problems.

Useful info for `GET /switch` would be a list of every switch HaaS knows about (optionally recursively showing info).

[2015-08-04 22:17] henn commented on #472
Merging with #447.

[2015-08-04 22:17] #472 closed

[2015-08-05 17:35] zenhack commented on #447
I can't think of anything that the current drivers might want to  report; if nobody else can I'm happy with option (2) --- it's certainly the simplest. @gsilvis, @lokI8?

[2015-08-06 10:00] henn opened #474 "Check for port in node_connect_network()"
In node_connect_network(), we currently do not verify that a NIC is connected to a port before adding the connection request to the Network Action Service queue.

According to Ian in #455:

I think this is pretty straightforward (even if it breaks compatibility). Anyone disagree? @gsilvis @zenhack

[2015-08-06 17:58] zenhack commented on #417
The one downside to using a lock in `/tmp` is that it only works if you only have one API server. When I was playing with it before, running two ipmitool processes looking at the serial console didn't seem to break anything, just only one of them actually gets the data. So there are two ways of doing this:

1. Use a lock, report an error, and only support one API server
2. No locking, if a user tr

[2015-08-07 08:05] zenhack commented on #474
I think complaining loudly and as soon as possible is the right thing here (and usually). Should be straightforward to implement.

[2015-08-07 08:10] zenhack commented on #464
Okay, so it sounds like we're all okay with requiring everything be disconnected first (in both cases)? If so I'll go ahead and remove the discuss label. I'm tempted to mark this easy too.

[2015-08-07 08:24] zenhack commented on #471
This is getting into substantially broadening the scope of what Haas does. If we're going to start exploring this kind of stuff we should be rethinking our approach for abstracting the switch, rather than blindly trying to bolt it on to the existing design.

One avenue we could go down (which might be the right answer) is to just multiplex the underlying functionality, add much as possible without

[2015-08-07 08:35] zenhack commented on #470
We talked about this in person, but to have it on record: this is possible without modifying the current design; you just need to write the drivers. I think as far as specific mechanisms go, we should examine each of them and decide if we want to do it.

Here's a simple variation on the current driver that addresses at least some of your concerns: Console oriented like it is now, but log in via ss

[2015-08-07 17:18] henn commented on #471
I'm a fan of placing these types of features in the main versioned API,
then having switch drivers have some standard way of indicating which
features are supported
 (like proposed in #410). We'd then need a query API to tell the user
which features are enabled for which nodes.

As HaaS acquires additional switch support, I would imagine that folks
will want to continue being able to use their fan

[2015-08-07 17:54] henn commented on #464
Does anyone know what will happen if I try to disconnect a network from a broken switch port? If it completes, then I agree that we should impose this restriction on both.

We've already had switch ports die, so this isn't a hypothetical issue.

[2015-08-07 20:55] zenhack commented on #471
I'm actually really against doing this sort of thing as part of a monolithic api. Modern switches have *a lot* of functionality, and to keep things manageable as we support more of it I think that support needs to be modular; I don't want a centralized api doc that enumerates every switch feature under the sun.

The other concern is that (I think) we need to be able to reason about the implication

[2015-08-07 20:56] zenhack commented on #471
@gsilvis, any thoughts?

[2015-08-07 21:16] henn commented on #471
What you're saying makes sense if there's a single module that
implements a feature, and that module is still experimental.

At the same time, we don't want 4 different implementations of a feature
like DHCP snooping, each having a separate API.

[2015-08-07 21:32] zenhack commented on #471
Quoting henn (2015-08-07 17:16:15)

Sure --- we probably want to do some coordination on what those APIs are
going to look like, but I still would like to have them not need to be
something that has to be in core.

Maybe the thing to do is start talking about how extensions should be
allowed to extend the API? @gsilvis and I are of the opinion that we
probably should be adding vlans to the pool vi

[2015-08-11 20:14] zenhack opened #475 "OBM driver for IPMI 1.x"
@gsilvis, @henn and I just had an in-person dicsussion re: supporting IPMI 1.x (prompted by the comments in #457). We're going to go ahead with dropping support in the core for now, but once the OBMs have been drivertized, we _may_ want to add this functionality back in. This is still TDB; for the record I'm against it, but we're deferring the discussion and recording it in this issues.

[2015-08-12 01:52] henn opened #476 "Reduce switch connection latency apply_networking()"
Currently, deferred.py's apply_networking() connects and disconnects telnet/ssh sessions to each network switch. In my recent haas benchmarks, this seems to take about 11 seconds for our current nexus switches, with each individual port connect/disconnect taking around half a second, which is a long time for interactive users.

To make HaaS more responsive, we could:

1. Persist connections beyond

[2015-08-12 03:43] zenhack commented on #476
Quoting henn (2015-08-11 21:52:05)

This seems like the cleanest option. The console driven drivers are an
artifact of wanting to get something working in a hurry; @pjd-nu spent
the better part of a day fussing with the Powerconnect's MIB files and
got nowhere, and I decided to write roughly what we have now (and
optimize later). If/when we decide to optimize, this would be the first
thing I'd wan

[2015-08-14 22:15] henn opened #479 "Change "id" to bigint to prevent overflows"
In haas/model.py, the primary key (as stated on the AnonModel object) for most of our tables is integer, which equates to a signed 4 byte number.

Being relatively small in computer terms, it's possible to make this overrun, either maliciously or just from a long-running instance. We should switch it to a biginteger, which is 8 bytes and not likely to wrap anytime soon.

We could provide a DB migr

[2015-08-17 17:04] zenhack commented on #420
#455 has been merged, closing.

[2015-08-17 17:04] #420 closed

[2015-08-18 18:46] #438 closed

[2015-08-19 19:17] #466 closed

[2015-08-20 03:22] zenhack commented on #428
This has been fixed in master; closing.

[2015-08-20 03:22] #428 closed

[2015-08-20 17:38] zenhack opened #485 "Namespace tables by the module in which they're defined."
Right now, authors of extensions have to worry about name collsions re: the tables *globally*. We should change our model classes such that they generate table names that are globally unique. They could be a function of `cls.__module__`.

[2015-08-20 19:04] zenhack commented on #70
This is no longer applicable; closing.

[2015-08-20 19:04] #70 closed

[2015-08-24 20:09] zenhack opened #486 "Query pending operations (on nic)"
We should be able to query the existence of pending network operations on a
switch. This would be useful for users in general, but is also something that is
important for implementing recursive HaaS correctly.

@gsilvis, @SahilTikale, @okrieg, @lokI8 and I just had a conversation about the
async questions that needed to be resolved, and what we settled on was this:
We'd add this query api call, an

[2015-08-24 20:12] zenhack opened #487 "Investigate greenlets"
@gsilvis mentioned in the comments for #483 that he's concerned about using a whole thread for the duration of that API call. There exist lightweight thread libraries (greenlets) for python; we should investigate using HaaS with one of those. This way, we could keep the current design without the overhead.

[2015-08-24 20:21] gsilvis commented on #486
Here's my thoughts on it:

The way we call into the driver right now, we call it with a single network operation [aka a port and a channel configuration], and it completes everything in that call.  This works okay for recursive HaaS:  in that function call, it will make the API call on the base HaaS, and then poll the network operation until it completes.

However, this essentially synchronous-ize

[2015-08-24 21:49] zenhack commented on #486
Implementation issue I just noticed: both the current model and the one you propose assume that applying an operation is idempotent; it's therefore safe to reapply if we crash in the middle of a db transaction. for this to work the case of rHaaS, for this to work you'd have to respond to an error from the base haas by waitning for the queue to empty, and then submitting again.

But yeah, I think w

[2015-08-27 19:22] henn commented on #486
I collected some thoughts into [an async proposal](https://github.com/CCI-MOC/haas/wiki/Asynchronous-operations). Please comment everyone!

[2015-09-02 20:34] henn commented on #447
@gsilvis, @loki8: any thoughts on @zenhack's comment?

We are still needing to fish this data out of the DB.

[2015-09-04 20:05] henn commented on #453
To summarize what we've discussed:
-  [ ] have show_node display networks
- [ ] have show_headnode display networks
- [ ] List public networks
- [ ] List all available networks (maybe admin-only?)

Any others? If so, please edit this post to add to the list.

[2015-09-08 20:55] henn opened #495 "Fix example / add test for dbinit.py"
#455 broke the example script used to create an example of a populated haas install.

This is really useful when developing and testing new code. Someone should update it so that it works with the latest haas.

[2015-09-09 19:59] henn commented on #364
FYI - `serve_networks` seems to die sometimes on some haas installs. This feature would make it much easier to debug!

[2015-09-09 20:02] henn commented on #257
@gsilvis: is there anything left for this request that isn't covered by #453?

[2015-09-09 20:06] gsilvis commented on #257
@henn: Either way, I think the other bug better captures what's going on then this one.  Unless you think there's information that belongs here and not there, let's close this bug.  (Finally.)

[2015-09-09 21:14] henn opened #496 "show_network() should display connected nodes"
Currently, one has to dig through the DB or iterate through every node to figure out what's connected to a network.

This is needed for times like these:

[code]

If we showed connected nodes (+ maybe the channel, NIC,  switch and port name), this would allow all sorts of configuration goodness.
Maybe we could just include the output of `show_node()` for each node?

[2015-09-09 21:25] henn commented on #447
It might also be beneficial to add port information to `show_node()` for debugging purposes.

It could then automatically be shown when one does a `show_network()` if #496 decides to include it verbatim.

[2015-09-09 21:30] #257 closed

[2015-09-18 00:54] henn commented on #427
We're going to address this using the mechanism in https://github.com/CCI-MOC/haas/wiki/Asynchronous-operations

[2015-10-05 18:36] henn opened #499 "show_node() should display attached networks"
Currently, when attempting to detach a node from a project, one can encounter errors due to the node still being connected to networks:
[code]

Especially if this node were set up by someone else, it can be difficult to figure out which networks it is connected to.

show_node() should display a list of such networks, as well as the channels on which they are connected. This could be implemented as

[2015-10-06 06:13] #354 closed

[2015-10-06 06:15] henn commented on #479
dup of #315

[2015-10-06 06:15] #479 closed

[2015-10-06 06:27] henn commented on #278
Addressed by #455

[2015-10-06 06:27] #278 closed

[2015-10-06 06:31] henn commented on #184
This should be addressed by #455

[2015-10-06 06:31] #184 closed

[2015-10-06 06:32] henn commented on #194
This can be done via setting the `HAAS_ENDPOINT` env variable now.

[2015-10-06 06:32] #194 closed

[2015-10-09 20:41] henn commented on #454
FYI - this is being hit in our production setup.

To address it for now, I increased the number of processes. Going forward, I think we all agree that HaaS should follow [SQLAlchemy's advice](http://docs.sqlalchemy.org/en/rel_0_9/orm/session_basics.html) and explicitly close them as part of the framework.

[2015-10-14 15:01] henn opened #500 "Query interface should sort entries"
It's an optional argument to [json.dump()](https://docs.python.org/2/library/json.html#basic-usage): sort_keys

[2015-10-16 06:24] henn commented on #496
Hey @xuhang57. As you are doing your query work, would you mind including this?

Thanks!

[2015-10-16 06:32] henn commented on #47
Addressed by #455

[2015-10-16 06:32] #47 closed

[2015-10-16 06:36] henn commented on #67
I think the decision to move the headnode out of HaaS pushes this problem to whatever the external service is doing (hopefully it has plenty of capability to deal with this).

What do you think? Please feel free to reopen.

[2015-10-16 06:36] #67 closed

[2015-10-16 06:40] #242 closed

[2015-10-19 19:25] zenhack commented on #454
@henn, can you give me an estimate of how frequently you were hitting the error before bumping up the number of processes (and how many processes there were), and roughly how many requests per unit time it was servicing? I'm trying to estimate what it's going to take to reproduce this reliably.

[2015-10-20 01:58] henn commented on #454
I only know of one instance of hitting it. We had 25 threads and 1 WSGI process before, so I reduced the number of threads (to something like 4) and increased the processes.

Looking at the list_* functions, I think the issue is that we don't have a db.commit() or db.close() at the end, so we have to wait until the local vars are garbage collected for the session to be closed out. When someone doe

[2015-10-22 15:38] henn opened #502 "Installation doc changes"
Based on feedback from @jfontecchio, we need to update:
1. The section on `haas.cfg`, to say that we no longer need to symlink in /var/... and talk about `HAAS_ENDPOINT`
2. The need to copy haas.cfg to /var/www/haas

[2015-10-22 15:48] jfontecchio commented on #502
I am going through the install again to see what else I missed.  When installing the packages required I noticed that python-virtinst is no longer available in the public repository for CentOS 7.  Was the python-virtinst package deprecated and replaced with virt-manager?

[2015-10-22 16:35] jfontecchio commented on #502
You might want to include git as package that is a prerequisite as you need it later for the install?

[2015-10-22 16:37] jfontecchio commented on #502
There needs to be some clarity when to run commands as root and when to run commands as haas_user during the install.

[2015-10-22 16:54] jfontecchio commented on #502
You should consider adding a comment in the SELinux section about how to put it in permissive mode even after reboots.

[root@haas haas]# cat /etc/selinux/config

# This file controls the state of SELinux on the system.
# SELINUX= can take one of these three values:
#     enforcing - SELinux security policy is enforced.
#     permissive - SELinux prints warnings instead of enforcing.
#     disable

[2015-10-22 18:33] jfontecchio commented on #502
Is gcc a requirement?  When building HaaS I get the following error below.

Writing /tmp/easy_install-Jc0zx9/coverage-4.0.1/setup.cfg
Running coverage-4.0.1/setup.py -q bdist_egg --dist-dir /tmp/easy_install-Jc0zx9/coverage-4.0.1/egg-dist-tmp-gcklLn
warning: no previously-included files found matching 'ci/appveyor.token'
no previously-included directories found matching 'doc/_build'
no previously-

[2015-10-22 19:08] jfontecchio commented on #502
Under the "Running the Server under Apache" section there was one place I got tripped up and took me awhile to debug.  I thought I had everything working but I kept getting a connection refused when trying to run HaaS commands.  I made sure SELinux was disabled and the firewall.  I made sure that the service was listening on the correct port.  I however copied the wsgi file into /var/www/haas as r

[2015-10-23 18:17] weinbe2 opened #503 "Request nodes with certain properties"
I.e., over 4 gb of RAM, in particular interest for me is nodes with GPUs.

[2015-10-23 18:25] henn commented on #503
Thanks for your issue!

The thought we've had on this up till now was that there would be an external inventory service that would keep track of the various attributes, like GPUs, RAM, disk space, CPUs, etc.

What do you think?

[2015-10-23 20:25] weinbe2 commented on #503
That sounds good! I briefly spoke with Ata about this, and maybe some piece of what he's doing for monitoring could be used here? Obviously we don't need constant monitoring to tell us how much RAM a node has or if it has accelerators, but maybe something of the sort?

[2015-10-23 20:51] zenhack commented on #454
Yeah, it was pretty apparent that that's what's going on. As in the original description, we're being sloppy all over. The right solution here (and the one the sqlalchemy docs recommend) is the one I mention up top --- we should just have the session be a request-local variable, and set it up/tear it down somewhere `haas.rest.request_handler()`. @henn, Does this make sense to you?

As a side note,

[2015-10-23 21:46] henn commented on #503
The implementation can be different depending on needs, but I view this as fundamentally different from monitoring (though the work being done for monitoring could potentially be used to populate such a catalog).

In an OCX environment [ref1](http://open.bu.edu/handle/2144/11427),[ref2](http://open.bu.edu/handle/2144/11214), the Service Directory would do this. In our environment, we could use the

[2015-10-23 21:46] #503 closed

[2015-10-23 22:20] henn commented on #454
@zenhack: assigned. Thanks for taking this on!

Re: request-local, that sounds wonderful.

Re: flask, how much effort do you think that would be? Could you see it impacting the WSGI config, py.test or anything else?

[2015-10-24 01:12] zenhack commented on #454
The main thing is it can replace most of the goop in haas.rest. we can also someday simplify the dB stuff... I'm just seeing us building more and more ourselves that we could just pull from there.

Step one would be fairly non intrusive, and replace most (but not all) of the logic in haas.rest. other bits could be ported over in pieces, so it doesn't need to divert major development efforts.

[2015-11-04 09:40] zenhack commented on #454
Status update: I've got a branch up on my fork that has a test that catches the leak. It only occurs on postgres, not surprising that sqlite doesn't have a connection limit.

[2015-11-12 15:36] henn opened #508 "reset_port() and/or reset_nic()"
We need a function to reset a switch port to be on the VLANs that HaaS thinks they should be on.

This would be useful when:
- someone manually modifies the switch port to be on certain VLANs
- troubleshooting network connectivity problems (admin can use reset_nic() flavor)
- when in environments where machines come in and out of haas on a regular basis (we'll want to reset the port when bringing

[2015-11-17 18:41] henn opened #509 "Implement headnode thin provisioning in HaaS"
If we create a read-only qcow2 for each base headnode image, we can then use the tooling to create thin copies of that to save space.

Based on http://www.greenhills.co.uk/2013/03/24/cloning-vms-with-kvm.html
[code]

[2015-12-03 21:30] jmcadden opened #510 "api returns to user when nic is busy"
Consecutive "node_detach_network" requests to the client api can result in a fatal "nic is busy" error. This error seems unnecessary for the user, and the behavior incorrect. Ideally, the api would block until the existing task is finished before continuing.

[code]

[2015-12-03 21:44] jmcadden commented on #496
I've also notice this to be an active issue with no apparent work-around (other than guessing). This information is critical to the project_detach_node command, which is a prerequisite for project_detach_node.

[2015-12-03 21:46] jmcadden commented on #499
I ran across this issue as well. This fix looks ideal.

[2015-12-17 19:15] #454 closed

[2016-01-12 04:28] henn commented on #90
FYI - it looks like there are a number of free hosted CI providers out there who integrate with github and are free for open source projects, including:

* https://travis-ci.org/
* https://semaphoreci.com

We should pick one (or two?) and go with it.

[2016-01-12 04:35] henn commented on #90
Also, just found this: http://www.software.ac.uk/resources/guides/hosted-continuous-integration

[2016-01-12 16:23] zenhack opened #512 "show_headnode test suite failure"
[code]

This looks like it was due to a recent change. About that CI...

Also, what was the reasoning behind putting the uuid in the output? It was originally just there as an implementation detail, to make sure that the libvirt names were unique; exposing it as part of the API doesn't make a lot of sense to me.

[2016-01-12 16:48] zenhack commented on #90
I say we go with travis. I've used it before, it's pretty straightforward.

[2016-01-12 23:29] henn commented on #512
Thanks for your report! We are working on getting CI (#90).

RE: show the uuid, the idea was that folks were wanting to do operations on the VMs (snapshot, clone, etc), but had to go digging in the DB to find out which corresponded to their head node.

[2016-01-13 00:33] zenhack commented on #512
Fair enough. my take on that though would be to change things such that the names were more self-identifying -- you have no lookup step that way, and you keep the API simpler. Maybe just do some escaping of the label and use that (I think the reasoning for UUIDs was that it was simpler than properly escaping the names, but it's not *that* hard). Having something in there that only exists so you ca

[2016-01-22 00:53] zenhack opened #514 "Too much duplicated code re: test fixtures."
We have several different modules that roughly duplicate a chunk of code that looks like this:

[code]

(This one is from `tests/deployment/native_networks.py`). I will say up front this is mostly my fault. We ought to abstract most of this out. The namespacing with fixtures is a bit weird, and I think not feeling like I had the time to wrangle with that was a big part of how this happend in the f

[2016-01-22 01:56] henn opened #515 "Introduce bash completion for HaaS"
After incorporating argparse (#431), we should look at adding bash completion in the default install scripts since remembering all of the subcommands can be a little tedious.

It looks like there are 2 packages that can do this easily:
- [Argcomplete](https://argcomplete.readthedocs.org/en/latest)
- [Python-selfcompletion](https://github.com/dbarnett/python-selfcompletion)

[This stackoverflow](ht

[2016-01-22 03:57] zenhack opened #516 "cli tests erroneously report 0% test coverage."
This happens because we actually launch the cli as a separate process, but it would nonetheless be nice to get the stats on that.

[2016-01-22 07:07] henn commented on #512
Let's continue the unit test discussion in #517

[2016-01-22 09:24] henn opened #518 "Enhance Travis CI testing with virtual OBMs and switches"
Right now, we just run the unit tests using the defaults (sqlite I presume). We should also test postgres as well as see if the deployment tests can be made to use `None` Obm or Switch types.

Links to Travis CI documentation on:
- [Postgres](https://docs.travis-ci.com/user/using-postgresql/)
- [Python projects](https://docs.travis-ci.com/user/languages/python)

[2016-01-22 09:25] henn commented on #90
This is addressed by https://github.com/CCI-MOC/haas/commit/431f5aee9c7922f20371474234ac19c04f6c4c36 and 23b79fcf8e5fff2a6bac65ce090e3294ab638802.

There's still more to do (#518), but this should help.

[2016-01-22 09:25] #90 closed

[2016-01-22 21:14] #512 closed

[2016-01-22 21:32] henn opened #520 "Enable a network to be accessed from multiple projects"
Currently, in api.py, we do an access check to see if a node's project is allowed to access a network:

[code]

Given a current use case (Bare Metal Imaging), we would like a node (or headnode) in one project to be given access to a user's network in another.

In discussing this with @kylehogan, @SahilTikale and @gsilvis, it sounds like making network.access a list (thus, a many<->many relation) s

[2016-01-22 21:34] henn opened #521 "Check/expand tests to ensure the code matches our expectations for what's allowed and what isn't"
Currently, we assume that nodes on other projects cannot access a network unless they are in the same project (unless the network is public).

We should ensure the test suite verifies these assumptions in both a positive and negative way.

[2016-01-22 23:15] henn commented on #520
@zenhack I don't think this will affect #491, but wanted to let you know just in case you can see an interaction.

[2016-01-22 23:24] zenhack commented on #520
@henn, thanks. I don't think it affects anything I'm working on now, though obviously some of the relevant bits will have to be changed once you actually implement this.

[2016-01-22 23:45] zenhack commented on #90
Two things:

1. We should be running `tests/stress.py` as well.
2. When did it become okay to skip code review?

[2016-01-25 21:56] henn commented on #518
Per @zenhack's comment in #90:

[2016-01-25 22:01] henn commented on #90
@zenhack

Re point 1: I've added this to #518

Re point 2: I didn't lightly decide to bypass review, but made an executive decision that we needed to ensure additional pull requests didn't break the tests without waiting the 1-2 months for review (as other PRs lately have taken). Also - it wasn't really a code change anyhow (it involved the creation of an additional file nothing else looks at, whi

[2016-01-26 04:02] zenhack commented on #90
Code review taking on the order of months is a serious problem in its own right. We've always been pretty lousy at triaging this stuff, but if it's getting to the point where it's motivating us to skip code review because a change is important, that should raise some flags.

@okrieg has approved pulling me in if you guys need extra hands with the review. I'd encourage you to make use of that in fa

[2016-01-26 23:53] henn commented on #339
I believe the Travis CI integration (#90) should address this. Please re-open if it doesn't.

[2016-01-26 23:53] #339 closed

[2016-01-26 23:56] henn commented on #208
It looks to me like #347 makes the same request for headnode traffic (with additional detail). Please re-open if this request would not be encompassed within #347.

[2016-01-26 23:56] #208 closed

[2016-01-27 15:32] knikolla opened #523 "In Hacking.rst, headnode_create also requires base_img argument"
In the `Hacking.rst` developer document, the `headnode_create` command also requires the base_img as an argument.

[code]

It should be

[code]

[2016-01-29 01:18] henn opened #524 "Need deployment tests that exercise IPMI interfaces on real systems"
Currently, we don't have deployment tests that evaluate our IPMI-based functionality (serial console and reset).

We should come up with something to be sure things work as we believe. This may include needing to PXE boot the system under test so that we know to expect something on the serial console or that the system indeed reset.

[2016-01-29 21:50] #467 closed

[2016-02-10 19:32] knikolla opened #527 "Script to create CentOS base image issue on CentOS"
When running make on CentOS 7 with CentOS target doesn't seem to work (with distro=ubuntu works). Both options seem to work fine on ubuntu 14.04.

[code]

[2016-02-16 18:47] SahilTikale opened #529 "API call to list extensions active with HaaS"
We need an API call to list the which extensions are available for a given HaaS installation.

For eg.
User should be able to run a command and inquire which obm driver is active
or which switch drivers are available.

Users will be mostly system administrators managing HaaS.

[2016-02-19 16:16] SahilTikale opened #531 "We need a way to show which node is allocated to which project"
Currently the show_node api call can only confirm if a given node is part of free pool or not.
We need a call to find out the particular project to which a given node is allocated.

[2016-02-23 17:32] henn opened #535 "CLI code needs test coverage"
Currently, we only test `haas serve` and `haas serve_networks`.

We need to test more. This should be done after #431.

[2016-02-23 20:01] zenhack commented on #431
Just a thought: I've been playing with [click][1] lately, and it's pretty nice -- more pleasant to use than argparse IMO. Flask also has some integration with it, though I'm not sure we actually want to use that. Perhaps it's worth considering using that instead of argparse.

[1]: http://click.pocoo.org

[2016-02-23 20:02] zenhack commented on #431
In particular, it's handling of subcommands is much nicer.

[2016-02-23 23:52] henn commented on #431
FYI - once we have argparse (or something functionally equivalent), we can do stuff like accept the username/password on the command line or have it [automatically read from a file](https://docs.python.org/2/library/argparse.html#fromfile-prefix-chars).

[2016-02-25 16:22] zenhack opened #536 "docs/rest_api.md is out of sync with implementation"
People have been changing the API without changing the docs. We need to get these back in sync, and we need to make sure this doesn't happen again.

The file `docs/rest_api.md` contains a detailed description of the API. that description _MUST_ be updated with _EVERY_ change to the API.

Submitters: If you change the API, change the docs.

Reviewers: Do not **under any circumstances** merge a patc

[2016-02-25 16:35] zenhack commented on #536
Also, for each of these documentation sync issues we find, we should make sure there's a test! It shouldn't be possible to change the output of an API call without causing test failures.

[2016-02-25 17:47] SahilTikale commented on #536
I was not aware of this.  Will take care of it in my pull requests and will monitor for all other pull requests that involve changing API calls.

[2016-02-25 20:57] zenhack commented on #536
@SahilTikale, thanks. Sorry to be so stern about it.

I suspect you're not the only one who's made this mistake; it would be good to go through and audit the changes that have been made, since there's probably other drift. Looking at the history for `api.py` might be a good place to start, maybe going back through september or so, which is when I left.

[2016-02-25 21:33] zenhack commented on #536
Apparently I'm guilty as well (#537). Oops.

Glad people are tackling this. I'd like to help with review, but since I'm billing you guys by the hour for that I feel like folks have to explicitly ask me to first. Ping me if you need a pair of eyes on these things.

[2016-02-26 19:33] henn opened #538 "Use local.db in api.py"
In api.py (and maybe other files?), almost every method has this sort of construct:
[code]

We could refactor this to use `local.db` throughout, in order to save the unnecessary `db = local.db` line in every API function.

@zenhack @SahilTikale @okrieg @pjd-nu @gsilvis: thoughts?

[2016-02-26 19:39] henn commented on #520
Thought it might be helpful to point this documentation out (which will need to be updated): https://github.com/CCI-MOC/haas/blob/master/docs/networks.md

[2016-02-26 20:12] henn opened #539 "Add PEP8 compliance test to standard tests"
HaaS should run PEP8 compliance tests as part of the automated checks.

https://pypi.python.org/pypi/pytest-pep8

[2016-02-26 21:11] zenhack commented on #538
When I wrote the code I specifically didn't do this since it was a good
bit more verbose without any real readability improvement. There are a
few cases where the variable was only used once, in which case I did
inline it. I don't think it's dramatically important either way.

[2016-02-26 22:21] henn opened #540 "re-integrate flask"
Flask will give us a framework that handles a bunch of stuff we're handling in a hacky way right now.

Some of this functionality includes:
* [ ] flask's URL router and argument verification
* [ ] built-in support for middleware
* [ ] flask's built-in sqlalchemy for DB sessions
* [ ] Doing calls like `get_auth_backend()` automatically (see #491)

[2016-02-27 01:33] zenhack commented on #539
+1

[2016-03-03 02:43] zenhack commented on #539
That looks absolutely trivial to set up. I will point out it's going to flag an absurd amount of issues at first; I've got vim's python-mode set up, and there's a *lot* of stuff to fix. I just hit a spot in the code where someone put tab characters though; we should have someone do this sooner rather than later.

while on the topic, @SahilTikale, the tabs appear to be your handywork, as well as a

[2016-03-03 20:32] henn commented on #539
Agreed- the time-consuming part of this will be the refactoring necessary to get the pool so that it passes the first time.

[2016-03-03 20:56] zenhack commented on #539
One thing we could do is just tune it to ignore most problems for the first pass, and incrementally take things off the ignore list/fix them.

[2016-03-07 21:18] #499 closed

[2016-03-07 21:21] kylehogan opened #543 "API documentation should be in rest_api.md"
API documentation currently duplicated across api.py and rest_api.md. All documentation for the API should be in rest_api.md

Need to move documentation for API calls from api.py to rest_api.md

[2016-03-07 22:04] henn commented on #495
One step better: we should add a test that creates a local haas server and runs dbinit.py against it that is part of the Travis CI.

That way, any future changes to the API will also change the example script.

[2016-03-07 22:14] henn commented on #120
Addressed by #491

[2016-03-07 22:14] #120 closed

[2016-03-09 00:34] henn commented on #308
FYI - we currently are using a couple of methods that could be replaced by these like `_must_find()`.

Once we implement this, we should probably catch the [appropriate exceptions](http://docs.sqlalchemy.org/en/rel_1_0/orm/query.html?highlight=one#sqlalchemy.orm.query.Query.one) in the framework and display appropriate errors.

[2016-03-09 02:27] zenhack commented on #308
I'm not sure I like the idea of replacing `_must_find` with simple calls to `one`. The thing is, currently, *any* exception thrown by SQLAlchemy is a bug. I like that property, and while we haven't written it down as a design guideline (perhaps we should have), it's been part of my mental model for how this works.

It also wouldn't be any less code -- unless we catch it somewhere up the stack and

[2016-03-09 02:35] zenhack opened #544 "_assert_absent and friends should have better names"
Problems:
1. They're not assertions; assertions indicate a bug in the code, whereas these can (and will) fire under very normal circumstances.
2. The leading underscore is a convention that indicates private, but since we've started moving certain API calls (e.g. `user_create`) outside of `haas.api`, they're now used by external modules. I did this because there didn't seem to be much point in cha

[2016-03-11 21:57] henn commented on #364
Closed by #525

[2016-03-11 21:57] #364 closed

[2016-03-13 23:01] zenhack commented on #539
I'll suggest we set it to egnore E221, which is "multiple spaces before operator." We purposefully do this to line up columns in the model declarations.

[2016-03-14 01:28] starbops opened #547 "Local variable `network_id` is not used in `deferred.py`"
Since `network_id` variable is not used, I think the code block https://github.com/CCI-MOC/haas/blob/f283949c0086762f362e0b2edb4974067eda98b0/haas/deferred.py#L54-L57 can be removed safely.

[2016-03-14 15:32] kylehogan commented on #531
show_node currently displays which project the node is allocated to
Issue is solved?

[2016-03-14 15:46] kylehogan commented on #496
This will be useful (necessary?) for the many to many project:network relation to work.

e.g. to remove a project's access to the network all nodes on that project would first need to be disconnected from the network. For this to happen it needs to be possible for the network creator to see which nodes are connected to the network.

What is the status of this? I had been planning to include it as

[2016-03-14 16:30] zenhack opened #548 "Some requirements for the deployment tests are not documented"
In particular:

* The headnode names `base-headnode` and `base-headnode-2` are hardcoded in the tests, so these *must* be present in testsuite.cfg
* site-layout.json must have at least 4 nodes, since the tests expect to use this many. The nodes don't actually have to *exist* at present, just the ports on their nics. That might change if we ever add tests for stuff like power-cycling.

//cc @SahilT

[2016-03-15 03:55] SahilTikale opened #549 "Modify CLI calls related to 'port' operations"
New API calls for port operations (register, detach, attach etc) requires name of the switch as argument.
Corresponding CLI need to modify to accomodate those changes.

Also, need to write unit tests to test these changes.

[2016-03-15 04:25] SahilTikale opened #550 "Need API call for listing switches"
Currently there is no way to tell which switches are registered with HaaS.
Considering HaaS supports a multi-switch environment and that the api calls for port operations require <switchname> it will be helpful if we have a call to list the names of the switches registered with HaaS

[2016-03-16 13:47] henn opened #555 "Systemd for create_bridges"
Similar to #525 done by @SahilTikale , we need to make the call to `create_bridges` into a separate systemd script, as it only needs to run once per boot.

This will also entail updating [INSTALL.rst](https://github.com/CCI-MOC/haas/blob/27a013bc8bc954ffabf64389b3c097cc55ae894b/INSTALL.rst#networking---bridges).

Once this is done, users will no longer need to modify /etc/rc.local!!!

[2016-03-16 14:36] SahilTikale commented on #555
Also, we need to use 'IP' commands to create vlan and stop using vconfig/net-tools because they are deprecated.

--Sahil

-----Original Message-----
From: "henn" <notifications@github.com>
Sent: ‎3/‎16/‎2016 9:47
To: "CCI-MOC/haas" <haas@noreply.github.com>
Cc: "Sahil Tikale" <sahil.tikale@gmail.com>
Subject: [haas] Systemd for create_bridges (#555)

Similar to #525 done by @SahilTikale , we need

[2016-03-17 05:35] starbops commented on #555
So I think #552 is no longer needed, right? Shall I close the PR?

[2016-03-21 15:58] SahilTikale opened #557 "Running HaaS in Dev-mode with postgresql as database backend"
We need to update HACKING.rst with instructions to run HaaS in dev mode with postgresql database backend.
Current instructions are incomplete and needs elaboration.
After following the given instruction I had to troubleshoot it further.

[2016-03-21 16:00] kylehogan commented on #557
I have this documentation. Will double check then make a pull request so people can edit it.

[2016-03-21 16:02] SahilTikale commented on #557
Did you end up with the error `command 'gcc' failed with exit status 1` while trying to do
`pip install psycopg2` in dev-mode

[2016-03-21 16:02] SahilTikale commented on #557
you can create the PR, I will take a look at it.

[2016-03-22 15:13] kylehogan commented on #538
what is the verdict on this? Given get_auth_backend() has the same possible issue I personally vote that it stays as is.

[2016-03-22 15:19] kylehogan commented on #500
This is currently being used. Are there any places it still needs to be added or can this be closed?

[2016-03-22 15:34] kylehogan commented on #549
@SahilTikale closed now?

[2016-03-22 15:37] #531 closed

[2016-03-22 16:37] SahilTikale commented on #549
I merged it. We can close it.

[2016-03-22 16:37] #549 closed

[2016-03-22 23:34] zenhack commented on #538
So, `local.db` disappears with the Flask-SQLAlchemy work I'm doing anyway (#556), so this becomes moot. Turns into `db.session`, and I'm inlining it everywhere since that's consistent with what all of the examples in the Flask docs do. I recommend we close.

[2016-03-24 20:43] gsilvis opened #559 "Implement VPN termination"
This solves a lot of our use-cases.  What we want is the following API calls:

- Create VPN endpoint
- Delete VPN endpoint
- Attach VPN endpoint to network
- Detach VPN endpoint from network
- Get connection details

or something similar.  ("Create VPN endpoint for network ____" is another reasonable possibility.)

With this, people can run their own headnodes anywhere---for instance, on their per

[2016-03-24 20:44] gsilvis commented on #539
+1 for doing this as soon as practically possible

[2016-03-25 18:31] gsilvis commented on #559
Thought:  I believe some switches may support doing VPN.  So we could have drivers that take advantage of that, so all the VPN traffic doesn't need to go through the HaaS master node

[2016-03-25 18:34] henn commented on #559
Great point! We should make the API implementation-agnostic.

Also - for the initial implementation, I had been thinking that we could
use lightweight containers (like docker) to isolate VPNs from each
other, other networks as well as the host.

[2016-03-25 18:35] gsilvis commented on #559
I don't think that should be necessary---it should be possible for openvpn to route the packets directly to the relevant bridge, which will only have access to the relevant vlan

[2016-03-26 03:53] zenhack commented on #559
@dschatzberg suggested containers too; I'm surprised how quickly you both reached for that. @gsilvis, is right, it's totally unnecessary. You can actually run a separate process per vpn config; the systemd service file on my laptop for openvpn is parametrized over the config file, so you can do e.g. `systemctl start openvpn@configname`. I think the right approach (at least for the openvpn backend,

[2016-03-26 12:00] dschatzberg commented on #559
Yeah, if it's just a matter of separate configs and you can simply run separate processes then we're good. FYI, I don't think a single openvpn process would be sufficient since you would need to restart it whenever you add/remove an endpoint. There are some advantages to using containers - clean separation of each config/keys/certificates and it makes it easy to distribute

There are basically two

[2016-03-28 17:41] henn commented on #559
Re: containers vs running on the host OS, the main advantage I see is
having defense in depth.

Imagine a client uploading an authorized public key to the VPN service,
which has to eventually be placed in some config file.
Would you rather that key be interpreted by an OpenVPN process that has
access to __every__ user network, betting the farm that there are no
Bobby Tables-type attacks, or have i

[2016-03-28 17:46] dschatzberg commented on #559
Containers don't help with the first issue. The most fine-grained permission you can give the openvpn container is CAP_NET_ADMIN since it needs to create taps, bridge them, etc. This permission effectively allows complete access to networks. If you wanted it finer grained you would need to use a VM. However, it should provide defense in depth in preventing disclosure of the private keys of each VP

[2016-03-28 19:58] SahilTikale opened #562 "Consistent api names"
Most api names are operations that HaaS will perform on the switch and nodes on behalf of the user. Actions like
– Registering node, nic, switch, port and removing it
– Connecting and disconnecting networks
– Adding and deleting ports.

Having consistent opposite names makes it intuitive and therefore easy for a new user to get comfortable using the API. To that end, I wish to have a discussion wh

[2016-03-28 20:16] henn commented on #508
This has two components:

1. Use switch-specific commands to reset a port to an empty state
2. Apply haas's views of which VLANs a port should be connected to

[2016-03-28 20:29] henn commented on #500
Looking through [haas/api.py](https://github.com/CCI-MOC/haas/blob/master/haas/api.py), I see:

- [ ] list_projects
- [ ] list_free_nodes
- [ ] list_project_nodes
- [ ] list_project_networks
- [ ] list_project_headnodes
- [ ] list_headnode_images

[2016-03-28 23:11] zenhack commented on #559
Spinning up whole containers is going to add a lot of implementation
complexity. This is a concern that always needs to be considered, and
I'm *deeply* uncomfortable with the amount of duct tape we're talking
about employing here.

This is starting to look complex enough that I'm not really comfortable
integrating all of the relevant moving parts into HaaS proper.

I'm also starting to think about

[2016-03-28 23:18] zenhack commented on #559
If we wanted the network to be a separate service, we could (instead of having HaaS do the websocket thing itself), just return a redirect to a capability URL on another service. @gsilvis, thoughts?

[2016-03-28 23:22] zenhack commented on #559
Heck, we wouldn't even really need VDE, we could just open the tap and copy stuff.

[2016-03-28 23:36] gsilvis commented on #559
I really don't think containers are necessary here.  I trust openvpn significantly more than I trust haas, to be honest, and haas already has access to the entire switch and to every VLAN the system (through the bridges)---never mind access to all of the headnodes which we're currently running.

If there's some way to get openvpn to reload its config without restarting, then we can use one big fil

[2016-03-28 23:39] dschatzberg commented on #559
I agree that containers are unnecessary here. Can you explain how vde works? How would I DHCP over it? Also, how is this less complexity than VPN?

[2016-03-28 23:57] zenhack commented on #559
I'm actually thinking VDE is an unnecessary component in what I'm proposing. Basically, creating and connecting to an endpoint would look like:

* Server creates a tap, attach it to the bridge.
* Client establishes a connection via a websocket. In case folks aren't familiar, this amounts to turning an HTTP connection into raw tcp, but has the advantage that you can do all of the usual header exami

[2016-03-29 00:00] zenhack commented on #559
This also means (if we rip out the headnodes and implement this as a separate service), HaaS doesn't *need* access to the bridges, or even need to run on the same machines.

[2016-03-29 00:08] dschatzberg commented on #559
Can you elaborate a bit more on what clients would need to do (e.g. what tools exist)? I'm completely ignorant here. I'm not sure I see the advantage. It seems like you have more implementation complexity here because you actually have to implement the data path management (creating websockets, pulling data from them and copying to taps) versus just using openvpn. What python concurrency support d

[2016-03-29 01:27] zenhack commented on #559
@dschatzberg, in the original desgin, yeah, python isn't an issue. With my proposal it's annoying (but probably doable), because wsgi assumes a normal-ish request/response pattern, and we'd have to know a bit more about the server. (wsgi is analogous to CGI, but python specific, if you're unfamiliar).

Things I'd like to avoid:

* having write access to a directory in `/etc`, where openvpn stores

[2016-03-29 01:46] dschatzberg commented on #559
I think a lot of your concerns with the VPN solution would actually be resolved by a container/docker solution:

 - having write access to a directory in /etc, where openvpn stores its stuff
 - having to figure out how to get restricted access to systemd; enough to start/stop openvpn instances and not much else. not enough to be effectively root. I'm not even comfortable assuming a priori that you

[2016-03-29 02:24] zenhack commented on #559
I basically don't trust containers with anything that can't be done as a regular user. The last time I checked, related vulnerabilities were *really* frequent. I'm having a hard time finding any positive confirmation that the situation has changed.

Re: the client end, it's it's a trivial one-off program:

[code]

So both of those differences you mentioned are pretty much non-existant.

I guess th

[2016-03-29 02:31] pjd-nu commented on #559
This whole discussion is making me very nervous. What are the particular issues with a straightforward implementation of one OpenVPN process per project, what I think was the original solution discussed? In particular:

1. use a regular (.deb or .rpm) installation of OpenVPN, but don't turn on its systemd.
2. create a config file (doesn't have to be in /etc) for each project
3. start an openvpn pr

[2016-03-29 02:38] zenhack commented on #559
@pjd-nu, if we're not going to use (something like) systemd, then we need to do process monitoring/shutdown somehow. HaaS's current architecture really isn't suited for it, again because of the assumed request/response control flow. The other issue is creating the tap devices, which can't be done as an unpriviledged user. We might be able to get away with pre-allocating those and setting the permi

[2016-03-29 02:55] pjd-nu commented on #559
We could create individual service files, again in a HaaS VPN-specific directory, and install them with systemctl link. (this would require running another copy of systemd as non-root: https://wiki.archlinux.org/index.php/Systemd/User)

[2016-03-29 02:55] pjd-nu commented on #559
Well, it would require non-root systemd iff we wanted this whole thing to run non-root.

[2016-03-29 03:00] zenhack commented on #559
Re: client certs, I think having the client generate them is a bad idea; all the examples I've looked at specify the path to the client cert in the config, which makes me distrust input validation of the client cert itself. It may be fine, but it doesn't seem like a well-trodden path. We could still have the server generate them, but do we really want to be having the server generate keypairs ever

[2016-03-29 03:09] gsilvis commented on #559
We should just use static-key mode. It's just two symmetric keys, which should be very easy to generate.  (They're not very long.)

[2016-03-29 04:25] zenhack commented on #559
Quoting George Silvis, III (2016-03-28 23:09:13)

Do you have a link describing that setup?

[2016-03-29 04:36] gsilvis commented on #559
https://openvpn.net/index.php/open-source/documentation/miscellaneous/78-static-key-mini-howto.html

[2016-03-29 05:08] henn commented on #559
RE: "Things I'd like to avoid", I think @dschatzberg
<https://github.com/dschatzberg> summarizes nicely how containers can
address the issues you raised.

RE: entropy, rngd (including in rng-tools) coupled with 'modprobe
tpm_rng' should do the trick.

[2016-03-29 05:16] gsilvis commented on #559
Hard-depending on a full container solution like docker feels just as wrong to me as depending on the ability to run a user systemd session. User systemd sessions should do everything we need.

The openvpn config file is very easy to generate, too, and we already do that for things like that when using libvirt.

[2016-03-29 05:16] gsilvis commented on #559
For that matter, none of this is a strict dependency, because you should clearly be able to disable this API in the config file.

[2016-03-29 05:22] gsilvis commented on #559
@henn `/dev/random` (which is the random one---`/dev/urandom` is the pseudorandom one) for one symmetric key per haas API request should be fine.  If we don't use containers, there are many fewer cryptography things to get wrong.1

[2016-03-29 12:12] zenhack commented on #559
I much prefer the user systemd session, which is not to say I like it. I don't have any better ideas though, and short of writing some custom thing (which I can't honestly say I think would be a good idea), I don't think I'm going to come up with any. Grumble.

Static key thing sounds good.

If we create the taps ahed of time (probably at the same time as the bridges) we can set the permissions su

[2016-03-29 13:34] dschatzberg commented on #559
Sounds good. Just to be clear, I don't think the static key resolves the need to manage certs, it just provides encryption from client to server (this is the 1 client, 1 server solution I was talking about via email). Yeah creating the taps for a particular user would let you run openvpn as that user. Are you planning to have one user per VPN or one for all?

[2016-03-29 18:41] gsilvis commented on #559
@dschatzberg My understanding was that the static key contained both an encryption key and an authentication key, which would mean that no SSL certs are necessary.  The page I linked also claims "No X509 PKI (Public Key Infrastructure) to maintain"

[2016-03-29 23:02] dschatzberg commented on #559
@gsilvis Hmm, I recall needing to generate a key when going down the cert route as well and figured this was a static key. Looking more closely at the description on the website, it seems you can just use the shared key without certs as you say. If so, that makes this very simple.

[2016-03-29 23:49] zenhack commented on #559
My reading was the same as @gsilvis's; I think we can just generate the
key on the server side and give it to the client via one of the API
calls.

My thinking was to just run everything as the same user. Not doing that
would probably require *something* to be running as root, since we'd
need to dynamically spawn a process as a different user per network.

Anyway, it sounds like we have a decent o

[2016-04-01 04:25] henn commented on #308
Just noticed [some Flask/SQLAlchemy methods](http://flask-sqlalchemy.pocoo.org/2.1/queries/#queries-in-views) that could help with this after #561 is merged:
* get_or_404()
* first_or_404()

[2016-04-01 04:36] henn opened #565 "Parallel postgres tests"
Currently, the sqlite tests are run in parallel using py.test's `-n auto` option. We can do this because each test has its own in-memory DB, and thus tests shouldn't interfere with one another. Using parallel tests can substantially reduce the testing time, letting a developer know quickly whether their code is happy.

To do this for postgres, it's a little harder because the DB is specified in th

[2016-04-01 09:46] zenhack commented on #565
Thought: can we query pytest-xdist to get some kind of worker-id? Python's `ConfigParser` supports variable interpolation; depending on what pytest-xdist gives us to work with we could expose the worker-id as a variable and make `db_uri` a function of that.

[2016-04-01 22:00] kylehogan commented on #508
After reading some of the docs I get the impression that reset is the wrong word here. Reset implies reverting to some default state.

I think what we want is to remove every VLAN from a port.

e.g. the command 'no switchport allowed vlan' is described as 'reset a trunking characteristic to
the default' which would be "its Native VLAN and the port belongs to either all
VLANs or only to the Default

[2016-04-03 10:52] SahilTikale commented on #562
@henn, @knikolla @gsilvis @zenhack @okrieg @pjd-nu @apoorvemohan @kylehogan @xuhang57
Since the choices are largely binary, I can make a doodle poll and let moc-team-list participate.
This is important since I am working on a client library and can include this changes in my next PR.

[2016-04-03 11:27] SahilTikale commented on #508
I understand what you are saying @kylehogan . I agree that reset_<device> sounds like resetting to its default state. We are not doing that. What we are doing here is a restore operation.
We should call this calls `port_restore` or `nic_restore`

[2016-04-03 13:55] kylehogan commented on #508
I like `port_restore` and `nic_restore` better as well. Was I correct in assuming that I would want to remove access for all VLANs and that this would be considered 'restoring' it?

[2016-04-04 05:05] zenhack commented on #562
- Why do you think `connect/detach` is inconsistent?
- In the case of `*_register`, delete is something of a misnomer; unregister better reflects the semantics. That said, #25 left an impression on me; I'm allergic to typographically similar names for things that do very different (or opposite) things. How about `add/remove`?

Another point on the naming: I would encourage everyone to bear in mind

[2016-04-04 07:28] ron-unrau commented on #562
I'm not sure the names in the wrapper library aren't an API, they're just not the same as the REST API. Eventually, both may become difficult to change.

On the URL object mapping, I can certainly see how /node/cisco-32/nic/eth0/connect_nic maps to an object. Node and nic are the abstract classes, and cisco-32 and eth0 are the object instances. Maybe it's only obvious in hindsight, but I can't off

[2016-04-04 08:16] zenhack commented on #562
So `eth0` is the nic, what's `connect_network` (Before I typed `connect_network`; typo)? The method I suppose, but that's a bit un-RESTful

a more RESTful way of doing that call would to have the object `eth0/networks` be the list of connected networks, and (with our current paradigm), you could PUT to `eth0/networks/${channel}`.

@ron-unrau, you're right; obviously, if we actually make a client l

[2016-04-04 17:46] henn commented on #559
Apologies - somehow this got stuck in my outbox a week ago.

****

Other options to throw out there:

* [SSH's built-in Layer 2 VPN support using
taps](http://blog.rot13.org/2009/08/tap-magic-kvm-bridge-ssh-ethernet-tunnel.html)
  * May require letting users ssh in as root, though this could be
mitigated by the use of containers or VMs and limits within the
authorized_keys file
* Having haas make

[2016-04-05 06:46] zenhack opened #566 "test_common could use some refactoring."
The module `haas.test_common` currently contains all of our helper test code that is used by more than one test file. It's been growing, and probably could use a bit more structure at this point. There are definitely some logical categories that things can be sorted into; perhaps it should be split into a few different files.

//cc @henn

[2016-04-05 19:12] SahilTikale commented on #562
Why do you think connect/detach is inconsistent?
    In the case of *_register, delete is something of a misnomer; unregister better reflects the semantics. That said, #25 left an impression on me; I'm allergic to typographically similar names for things that do very different (or opposite) things. How about add/remove?

I like add/remove better than register/unregister

[2016-04-06 16:42] SahilTikale commented on #500
#568 addresses it.

[2016-04-06 16:42] #500 closed

[2016-04-09 05:56] ron-unrau commented on #500
Sorry to jump in after the horses have already left the barn, but what motivated this issue? Do the clients require the lists to be sorted for some reason? If some do and some don't, it's a lot more scalable to let the clients do their own sorting. If the server has to do the sorting, it's more efficient to keep the lists in sorted order so the server doesn't have to continuously sort the same lis

[2016-04-11 19:02] henn opened #571 "REST API should be versioned"
There should be a version number in the REST API.

We can start with v0

[2016-04-12 15:15] gsilvis opened #572 "show_switch API call"
This needs to show details of a switch.  Since different switches have different details, this will require support from the switch backend---probably another function call in the plugin API there.

[2016-04-15 18:48] henn opened #575 "Write SELinux policy so that we don't need to blanketly disable it"
If one doesn't disable SELinux, apache will hit interesting bugs like this:
[code]

Currently, we recommend disabling SELinux wholeheartedly, but this is an extreme measure.

Better would be if we could either:
1. Disable SELinux for just the haas WSGI applet itself or Apache, or even better:
2. Write a default policy using [audit2allow](https://wiki.centos.org/HowTos/SELinux)

[2016-04-15 18:56] xuhang57 commented on #550
Is someone working on this right now? If no one, I would like to do it. @SahilTikale

[2016-04-15 18:58] xuhang57 commented on #572
So, along with #550, we also need a show_switch API call for HaaS. Not sure if anyone working on these two calls? If not, I could work on them. @SahilTikale

[2016-04-15 19:00] kylehogan commented on #572
#550 handles both of them. there is also a show_switch implementation in #567

[2016-04-15 19:12] xuhang57 commented on #543
@kylehogan  Not sure if this is done. By documentation for API calls from api.py, do you mean the docs string under the name of each metho in api.py?

[2016-04-15 19:13] xuhang57 commented on #572
Thanks for pointing it out. @kylehogan

[2016-04-15 20:14] kylehogan commented on #543
Yes, if I am remembering correctly I made this while we were discussing it during group meeting and the consensus was that there should be only short descriptions in api.py while the bulk of the information should be in rest_api.md

I think what was happening was that information was getting duplicated across both locations and that the length of the descriptions within api.py was becoming too muc

[2016-04-15 22:23] henn opened #576 "Introduce macros in CLI"
Once #431 is done so that we have a good CLI framework, we should implement CLI flags that use the API calls to:
1. Remove networks from nodes that someone would like to release from their project
2. Remove nodes from networks from projects they're releasing.

For example, instead of:
[code]
one could do something like:
[code]

[2016-04-15 22:24] henn commented on #576
You could also implement this for `project_delete`

[2016-04-18 00:08] gsilvis commented on #576
Also ``network_delete``

[2016-04-19 02:13] henn opened #577 "Build for sqlite broken: File exists: '/home/travis/.python-eggs'"
Sqlite tests are sporadically breaking in unrelated requests like #574 and maybe #573, though not always (since the tests for #573 look clean until after it was merged).

The fact that the main error is `E     [Errno 17] File exists: '/home/travis/.python-eggs'` makes me think this is being caused by the test parallelization I had suggested for only sqlite in #561.

A short-term fix might be to di

[2016-04-20 18:54] shwsun opened #579 "Build errors from other Linux distros(Arch, Ubuntu)"
Clearly I got two kind of errors mostly when I went through the building logs.

**1.  "OperationError: unable to open database"**

This happened both with CentOS and Ubuntu, solved by manually created the haas.db

[build logs from Ubuntu](https://gist.github.com/shwsun/a9bbcdbfb8b623fa3e8061ee81610e95)

**2. Error due to Python3 as the default python version**

Although I managed to setup virtuale

[2016-04-26 18:39] SahilTikale opened #580 "Calls related to object creation in HaaS database fails"
Following is the behavior of the bug:

When trying to register new nodes or Users, it fails with the following error despite of giving correct inputs.

INPUT: `haas node_register dummyNode01 ipmi host01 user01 pass1234`

OUTPUT:

[code]

Other calls like: `haas user_create <username> <is_admin>` are also failing with the same error.

**Temporary Fix:**
For every api calls that are failing with the

[2016-04-27 22:34] henn commented on #580
@ravisantoshgudimetla and I just finished running git bisect with `haas node_register node1 ...`, and it pointed to ed42146817e0ad4bc3a04e4272a8638f70b2c141

It looks like @zenhack hit something similar in 9400f6953aa03d8952f4de812245a3e184262e90

[2016-04-27 22:35] henn commented on #580
FYI - I think that the automated apache tests that @knikolla is working on should catch these types of issues in the future.

[2016-04-28 15:17] shwsun commented on #579
I tested and hacked the haas repo on Arch. Things are working fine right now.

[2016-04-29 02:58] knikolla opened #583 "CLI commands don't return with exit status 1 when they fail"
Just noticed that my [ansible-haas script](https://github.com/knikolla/ansible-haas) was [still passing Travis CI](https://travis-ci.org/knikolla/ansible-haas/jobs/126498897#L440) even if the `haas init_db` command in the script section was failing (as it doesn't exist anymore). The CLI is exiting with 0 even if the command failed.

[2016-05-02 20:21] henn opened #584 "Need to validate "network_id""
running `haas network_create foo admin '' yes` creates a public network `foo`with a VLAN-id of `yes`.

We should validate that the VLAN id is an integer

[2016-05-03 21:09] kamfonik opened #585 "error logging for IPMI authentication failure"
Per Jason the fix should go in the [_ipmitool() function in /haas/ext/obm/ipmi.py](https://github.com/CCI-MOC/haas/blob/master/haas/ext/obm/ipmi.py#L48).

If haas is using incorrect IPMI credentials for a node, the logged error message report this as failure to power_cycle/power_on/whatever instead of just a failure to log in.

(The end user gets a 500 Internal Server Error, which is fine.)

Ideal

[2016-05-04 11:23] zenhack commented on #540
I'm going to close this, since the flask stuff has been merged.

[2016-05-04 11:23] #540 closed

[2016-05-04 19:29] henn commented on #474
One tricky part of doing this is that we will want to verify that a NIC is connected to a PORT on all of the real drivers, but not on the mock or null switch drivers we use for testing.

One way around this that keeps the api.py calls driver-neutral would be to check `dev_support.py:have_dry_run`

[2016-05-04 19:36] gsilvis commented on #474
I don't see any reason to change the behavior here.

[2016-05-04 19:38] henn commented on #474
This just bit us in one of our setups -- some folks spent hours trying to debug why their connected nodes couldn't talk to each other.

If we know ahead of time that a NIC is not connected to a PORT (and it's not in dev mode), then why not do the check so that we can tell the user immediately that the operation will fail?

There currently is an error message, but it's in the network service thread

[2016-05-04 19:50] gsilvis commented on #474
...hmm, that's pretty convincing.

How about returning 200, but also including in the body "Warning---this NIC is not connected to any port, and will not provide any network connectivity.  Contact your HaaS administrator to get this fixed." or something like that?

Whether the NIC has a PORT can be checked without looking into the driver at all.  Now, there's no way to check that the port makes /s

[2016-05-04 20:13] henn commented on #474
Would there ever be a case (outside of `dry_run`) where trying to connect a NIC without a port would succeed? If not, I like returning an error right away rather than delaying it.

[2016-05-04 20:13] gsilvis commented on #474
It "succeeds" fine.  It just doesn't do anything.

[2016-05-05 02:25] SahilTikale commented on #555
This issue becomes redundant once we have the openVPN feature.
Should we close it then @henn ?

[2016-05-05 02:34] henn commented on #555
Sure

[2016-05-06 01:32] zenhack opened #589 "Migration docs: be more explicit re: setting/not setting down_revision"
The migrations doc says to change it to None only for new extensions, not for haas core. This is correct, but they're not very explicit about *not* changing this for existing extensions and/or haas core. Per the discussions in #554, this is likely to be misinterpreted. We should change it to be more explicit that this should be left-alone when not adding a new extension.

//cc @kylehogan, @henn

[2016-05-07 02:35] zenhack commented on #589
@kylehogan, I included this in the pr I sent you, so once #554 gets merged, we can close this.

[2016-05-09 11:32] SahilTikale commented on #585
I ran the ipmitool commands with a wrong password, wrong user and no user info
this is the output:
[code]
Since the feedback is limited, it is difficult for us to programmatically include an error stating that it was actually `access denied` due to invalid credentials.

Ideally speaking, nodes that are under HaaS controlled should not be given access bypassing HaaS so as to avoid such situations.

[2016-05-09 13:44] kylehogan commented on #538
Closing because irrelevant post Flask-SQLAlchemy

[2016-05-09 13:44] #538 closed

[2016-05-09 14:46] kylehogan commented on #39
What is the status on this? I looked through the docs and switch drivers and it doesn't seem to be resolved. Should it get moved to v2.0 milestone?

[2016-05-09 20:30] zenhack commented on #39
Afaik, nothing has changed from the last time this was commented on; documentation is pretty good as far as it goes, but we just don't specify anything about error handling.

As to whether we should put it off until v2.0, last I was involved we still didn't having anything resembling a consensus on what the version numbers even meant. I'd been advocating for some version of [semver][1], which woul

[2016-05-10 22:38] henn opened #593 "Serial console fixes for basic functionality"
We need to:

1) Document in the deployment guide that, at least on some platforms, one needs to first "enable" serial over LAN by running:

[code]

2) Introduce a script to create the console log directory (currently /var/run/haas_console_logs), owned by `haas_user`

3) If easy & possible, return an error to the user if the `ipmitool` call from `haas start_console` fails immediately and tell the u

[2016-05-11 21:20] knikolla opened #595 "Project backends"
Currently, we have an auth backend which does authentication and user/project assignment. In the eventuality that we want to have an Identity Provider (Keystone, or something else) do authentication and authorization for us, this is not enough and we must also offload all the project related logic to it.

In the Keystone example: We would be sending API calls to it for the list of projects, creati

[2016-05-18 23:09] zenhack opened #598 "Checking constraints on operations is frighteningly manual."
Everwhere where we have any kind of constraint on allowed operations -- thing X must be in state Y or not be attached to Z... we're doing all of the checks manually. Given how many of them there are I won't be comfortable relying on this codebase for security until we have a more systematic way of ensuring that we're doing this correctly --- it's too easy to screw up one of these constraints. I al

[2016-05-19 20:42] SahilTikale opened #599 "It is possible to have duplicate entries depicting same relation in database"
I was trying to connect a nic to a network, that did not work as intended.

While examining the database I came across this.

[code]

This should not happen.
Working on recreating this error.

While I tried running `node_detach_network`
it deleted both the rows.

[2016-05-19 20:54] henn commented on #598
Could you give an example or 2 of better ways to do constraints?
Are you thinking DB triggers/constraints?

[2016-05-19 21:21] henn opened #600 "Need better constraints on names"
Currently, there are no constraints on what can be the name of a network, project or any other entity.

This could lead to folks inserting newlines, or even JSON-y type of names that might make management difficult. For example, someone could create a network called:
[code]

We should restrict names to being strictly alphanumeric with underscores by default. The best place to do this would likely

[2016-05-19 21:26] zenhack commented on #598
@henn, not sure exactly what the right solution is, will require some thought. we ought to find some systematic way of handling these, rather than checking everything individually. One thing that might go a reasonable distance is to try to abstract out common patterns like requiring there to be no attached objects, so you can just call `is_attached()` or such on an object and be done with it.

[2016-05-19 21:39] zenhack commented on #600
We could probably write a schema that does this, so instead of e.g:

[code]

We could do:

[code]
(where identifier is something we define).

[2016-05-19 21:57] henn commented on #599
That should've been prevented by this code in haas/api.py's `node_connect_network`:
[code]

[2016-05-19 22:00] henn commented on #595
Kristi- how do the OpenStack code bases handle projects?

For example, do nova and cinder have their own Project table that they reference from others? If so, how do they manage the life cycle of those objects?

[2016-05-19 22:13] henn commented on #600
That works! I wouldn't mind some redundancy in this area (constructor & schema) either.

[2016-05-20 15:12] knikolla commented on #595
Nothing besides Keystone has a 'projects' table. The other services like nova and cinder only use (and care) about the project ID. That project ID comes from the scoped token and the project_id field in tables references it.

[2016-05-20 16:49] henn opened #601 "Create __repr__ entries for DB objects"
While debugging some haas code, I am noticing that it'd be really nice to have something more useful as the repr than stuff like `<haas.model.Project at 0x3f70a10>`.

To do this, one needs to define a `__repr__` entry for each class. An example is:
[code]

If we had a standard baseclass, we could do this once and everything could inherit from that (not sure if `db.Model` can do that), though that

[2016-05-25 00:46] zenhack opened #602 "Change the name in the source: s/haas/hil/"
When I tried this when we were talking about changing the name to oil, it was pretty much _just_ a find and replace, though you need to make sure you get the handful of different capitalizations. Took like 2 minutes.

[2016-05-28 00:25] henn opened #604 "Need documentation for brocade driver"
Now that #563 is in, we need to document the brocade driver in [docs/network-drivers.md](https://github.com/CCI-MOC/haas/blob/master/docs/network-drivers.md).

[2016-05-31 15:28] henn opened #605 "Need list_port() + show_port()"
Currently, we have list_{projects/nodes,...}. To help the admin, we also need list_port and show_port.

We should also include the port in `show_node`.

All of this should only be available for admins, since regular users don't manage ports.

[2016-05-31 15:35] henn opened #606 "Need list_nodes()"
We should implement a list_nodes() as `GET /node`, which lists all nodes.
We should then transition list_free_nodes() to be `GET /node` with an optional argument `free=True` or something (no admin needed for this).

[2016-05-31 23:09] henn opened #607 "ipmitool errors are not caught or reported"
Currently, if ipmitool fails, the user remains blissfully aware.

For example, if the IPMI `start_console` method is called, it can fail with:

[code]

However, the user is returned successful status for both the `start_console` and subsequent `show_console` calls.

To address this, HIL could check the exit status for the ipmitool calls and look for non-zero status. Added bonus if we could send th

[2016-06-02 04:01] shwsun commented on #474
IMO the ``node_connect_network`` should only succeed when the work is done, s.t. the user will be convinced the node is successfully attached and move on.

I am going to work on this and submit a fix.

[2016-06-02 15:48] henn commented on #474
I agree with @shwsun - we shouldn't return success if we know there's an error.

@gsilvis - is this something you feel strongly about?

[2016-06-02 15:49] henn commented on #474
I also agree with @gsilvis that we should prevent this. Maybe we can use the `revert_port` logic in #567 to test a port after it's been added?

[2016-06-02 15:52] gsilvis commented on #474
`node_connect_network` cannot wait until the work is done.  We very deliberately made the API asynchronous---otherwise it is far too slow.  We do need to add something you can poll, to see if it's done---for instance, running a `GET` on the NIC could return a "status: attaching" during the process.

[2016-06-02 15:53] gsilvis commented on #474
Also not returning when we know there's an error, and not returning until the work is done, are VERY different.  I'm not convinced you two are agreeing right now.

[2016-06-02 15:54] gsilvis commented on #474
I'm going to repeat my recommendation:  if we eliminate the distinction between ports and nics, and have each nic have a database field representing the port information, none of this is a problem anymore.

[2016-06-02 19:56] shwsun commented on #474
I see @gsilvis 's point now. @SahilTikale also suggest that having a way to poll the status later may be necessary. The "eliminate distinction between nics and ports" seems to be a good one, though I doubt we will be able to do it right now.

However I still believe that we should not add job to the queue if it will definitely fail, i.e. Nic is not connected to a port.

[2016-06-02 19:58] gsilvis commented on #474
+1 for immediately checking that the NIC is attached, as a maybe only short-term solution.  But I'm going to keep bringing the other option up, whenever we talk about this :)

[2016-06-02 20:24] shwsun commented on #474
Great that we finally sort it out! Jason has already started work on the other option :P

I will start to work on this issue.

[2016-06-05 02:59] shwsun commented on #523
Same issue in ``doc/consistency-model.md``, ``docs/apidesc.md``, ``docs/rest_api.md``. I thought the documentation may have to be refactored afterwards, before v0.2.

[2016-06-06 02:19] henn commented on #523
@shwsun: Would you be interested in taking this on? Might be a good way to get used to the system before the meatier items.

[2016-06-06 02:50] shwsun commented on #523
@henn Sure. I will fix these outdated doc ASAP.

Also I would propose that maybe we should refactor the documentation somehow, i.e. installation/HACKING should cover all the things that user/developer need. rest_api or apidesc only appears as reference, details won't pop up unless someone is looking for them.

[2016-06-06 02:55] henn commented on #523
Awesome. Thanks!

Please check with @SahilTikale, since he's refactoring some of the
developer-related docs.

[2016-06-09 14:17] knikolla opened #613 "PEP8 testing"
How do people feel about integrating PEP8 testing into our CI with the `flake8` package? We can start with pretty relaxed rules and only follow a few of the PEP8 stuff and gradually move from there.

More info [here](https://flake8.readthedocs.io/en/latest/)

[2016-06-09 19:32] henn commented on #613
+1

The hard part is doing the work to make us pass initially or of the
increasingly strict rules.

How does that compare to
[pytest-pep8](https://pypi.python.org/pypi/pytest-pep8)?

[2016-06-09 21:43] knikolla commented on #613
I don't know how they compare. Since we're using pytest, might make sense to go with pytest-pep8. I mentioned flake8 because that's the one I know and OpenStack uses.

[2016-06-10 18:22] shwsun commented on #613
I dig a little deeper. Looks like Openstack guys trying to not only follow the pep8 Style guide for python, but also cover [Openstack Style Guidelines](http://docs.openstack.org/developer/hacking/). I guess this makes the style more strictly defined and cause less trouble for openstack community. They also have a [tool](https://github.com/openstack-dev/hacking) developed for it.

I feel that integ

[2016-06-10 18:45] knikolla commented on #613
@shwsun they have flake8 plugins for their style check. We don't really need that. Flake8 in itself without any plugins just checks for pep8, like pytest-pep8.

Since we are already using pytest, once my integration testing PR goes in, I'll make a small PR with pytest-pep8 (ignoring all rules for now). Subsequent PR can fix the compliance and remove the rules from the ignored list.

[2016-06-10 21:45] henn commented on #613
@knikolla, your plan sounds great.

[2016-06-15 01:39] zenhack commented on #316
We don't have requirements.txt anymore, so this is no longer relevant; I'm closing.

[2016-06-15 01:39] #316 closed

[2016-06-17 14:43] matsuuran commented on #606
I'm going to take this if that's cool

[2016-06-17 18:22] shwsun commented on #605
Since I am working on #567 and show_port() is already implemented by @kylehogan . I will take list_port() as well.

[2016-06-20 03:11] shwsun commented on #562
I just noticed that there is still some inconsistency between the doc and the api we are using now. For example, rest_api.md still documents ``switch_register_port`` which is already replaced with ``port_register``. I think we need a documentation label here. @henn

[2016-06-24 07:10] henn commented on #583
@knikolla , @gsilvis - how deep should the fix for this look for errors?

The easy fix for this exact problem (running a non-existent command) is to stick a `sys.exit(1)` before the `help()` in this:
[code]

Fancier would be to stick a `sys.exit(1)` for non-success in the http status check in `check_status_code()`, though something could break if the `do_*()` call wasn't the last thing done. A qui

[2016-06-26 02:34] gsilvis opened #620 "Return a representation of the resoure in the response to a PUT call"
Currently, the user has to make a PUT and then a GET, to determine any aspect of the resource that the server fills in.  If we make the PUT call return that information, then the second step can be skipped.

[2016-07-03 04:31] SahilTikale commented on #562
Also adding to the list, we should remove all the plural mention of the resources. Keep it all consistent and singular. eg. rather than `list_free_nodes` I'd prefer `node/list_all`, `node/list_free`.

[2016-07-03 20:17] matsuuran commented on #474
hey @shwsun just wanted to see if you had made it any where on this

[2016-07-03 20:19] matsuuran commented on #337
@zenhack are you looking for wsgi/haas to check `/etc/haas.cfg` and then to check locally or did you have something else in mind?

[2016-07-03 21:38] matsuuran commented on #232
@zenhack are you seeing this in a prod version or in the dev versions as well

[2016-07-05 19:45] SahilTikale commented on #606
PR #619 addressed this.

[2016-07-05 19:45] #606 closed

[2016-07-07 15:30] zenhack commented on #232
Not sure exactly what you mean by prod vs. dev. First, it's worth noting that this bug was opened a *really* long time ago. I just checked, and it now does throw an error on startup, because `stop_orphan_consoles()` tries to execute a query. the report is still a big stack trace though, and we shouldn't be relying on that sort of thing to pick up errors.

I've tried this via `haas serve` with both

[2016-07-07 15:49] zenhack commented on #337
exact details are up for debate, but it should (a) be at least somewhat consistent between the two, and (b) be fairly idiomatic for unix daemons.

Loading from the current directory is nice from a development standpoint, but we really shouldn't be assuming anything about where apache executes the wsgi script from.

One common (but not universal) way of finding config files is to search for them in

[2016-07-07 18:31] shwsun commented on #474
Fix this is quite easy, but seems like it will break a lot of tests in ``tests/unitauth.py`` and ``main.py``. I will fix the tests after revert port is done.

[2016-07-07 20:58] henn commented on #474
@shwsun discovered that this will also require some adjustments to the tests, including at least [tests/unit/api/main.py](https://github.com/CCI-MOC/hil/blob/master/tests/unit/api/main.py).

Since there are so many `node_connect_network()` calls in there, and a lot of repeated boilerplate, it might make sense to define a fixture/setup function ([described here](http://pytest.org/latest/xunit_setup

[2016-07-08 00:00] henn opened #623 "Checking of project parameter in auth calls"
Currently, one could pass `None` or a string to the auth methods `have_project_access` and `require_project_access`.

Passing `None` is especially easy, since `network.creator` can be `None` or a `Project`.

I propose that we should check for `None` in these methods, and if we see it, make the output depend on just `self._have_admin()`. We should also update the documentation to reflect this.

Add

[2016-07-09 00:20] zenhack commented on #623
So, actually, looking at that conditional, it's not obvious to me that we've even removed the loop. We've still got `project in network.access` in there. Do we know for certain that that actually shells out to the db instead of iterating?

[2016-07-10 17:44] shwsun commented on #613
@zenhack One thing that I noticed while working with ``api.py`` and ``errors.py`` is that some existing code is not following pep8 correctly.

For example, ``from haas.errors import *`` should be avoided. Right approach should be ``from haas.errors import BlockedError``, and intelligent tools like yapf will definitely remind programmers about this.

[2016-07-10 20:09] zenhack commented on #613
Quoting (Jethro) Shuwen Sun (2016-07-10 13:44:26)

Indeed; that's why we haven't already implemented this -- it's not just
a matter of adding the checks, we also have to *fix everyting*. We
really should just tackle this. I have a hunch if we just keep saying
that it'll never happen (yay bystander syndrome?). If folks agree, I can
do it once the keystone stuff is in.

@henn, thoughts on this being

[2016-07-11 02:13] henn commented on #613
@hil Let's discuss this at the meeting tomorrow. We have a number of housekeeping items tagged for 0.2 and 0.3.

[2016-07-12 03:51] henn commented on #613
Let's continue discussion of this in #539

Lots of good ideas!

[2016-07-12 03:51] #613 closed

[2016-07-12 03:52] henn commented on #539
Some great suggestions in #613.

[2016-07-12 17:25] shwsun commented on #539
(ideas from HIL meeting)
@SahilTikale and I kind of agree that programmer should make sure their part is properly done before ``git commit``. So either follow pep8 and pep257 while coding or programmers can choose to use some flycheck or format tools to help.

For travis tests, the next step perhaps to be removing ``stress.py`` test to save time, and add these pep8 & pep257 tests. @matsuuran will

[2016-07-12 18:20] zenhack commented on #539
Quoting (Jethro) Shuwen Sun (2016-07-12 13:25:45)

Agree. Of course, they should also be running the test suite, but we
have travis anyway (and it's not just running the "hard to configure"
tests).

We should *not* do this:

1. It's a regression test, it's there for a reason.
2. Last I looked it wasn't actually that slow. Measure before you
   optimize.

It is perhaps badly named; it was meant to

[2016-07-13 12:50] matsuuran commented on #539
@henn @zenhack @SahilTikale @shwsun @gsilvis

How strict do we want to be with the length of lines.  Cut everything at 79, or should we be a little more flexible?

[2016-07-13 16:12] zenhack commented on #539
Good question.

I know there are at least a few spots in the code where we've got string
literals that just will not fit on any reasonable line length while
staying readable. I'm thinking specifically of the tests @knikolla wrote
for the brocade driver.

Given that, I don't how strict we can be. Do the tools we're looking at
give us a way to flag a piece of code as "ignore this?" e.g. with yapf
yo

[2016-07-13 19:49] shwsun commented on #539
``pep8`` suggests normal line length of code to be 79 and docstring to 72. For some exception like @zenhack pointed out, I think it would be fine to keep it longer. And for that bit of code I guess python already have some way to suppress the warning.

[2016-07-13 22:01] zenhack commented on #539
Quoting (Jethro) Shuwen Sun (2016-07-13 15:49:28)

My inclination is to just do 79 char lines. This is what vim's
python-mode checks for, and if you've got docstrings on methods in
classes they're going to be indented 8 spaces to start with, so 72
docstring chars maps to 80 total. I'm fine just truncating that to 79.

The implementer will have to add appropriate annotations to the existing
excepti

[2016-07-14 15:37] knikolla commented on #583
@henn I think that doesn't cover all the cases. Maybe better to put it here in the except block?

[code]

[2016-07-20 17:18] knikolla commented on #604
Closing.

[2016-07-20 17:18] #604 closed

[2016-07-20 22:50] matsuuran commented on #607
@henn right now the `start_console`, `show_console`, and `stop_console` all have the same rest call `node/<nodename>/console`.  I looked through the code and don't see any real reason for this so I wanted to check with you before I changed it up

[2016-07-20 23:04] matsuuran opened #627 "list_node and show_node rest api"
The call for `list_node` and `show_node` have the same url `/node/<is_free>` and `/node/<node>` respectively.  Easy change just wanted to document.  I will change `list_node` to `/node/list/<is_free>`.

[2016-07-20 23:35] matsuuran commented on #539
@zenhack @henn @gsilvis @shwsun
I found that the only the only way to have pytest-pep8 inline ignore is to use `  # noqa` after the line.  I'm not a huge fan of how it looks but just wanted to get your guys thoughts and see if you knew/heard of any magic

[2016-07-21 13:43] zenhack commented on #539
In that case, we could just pick a length and be fairly strict about it, and put `# noqa` only on things like the tests I mentioned where you pretty much *can't* restrict the line length.

[2016-07-21 13:47] shwsun commented on #539
Agree.

[2016-07-21 13:50] henn commented on #539
I'm happy with 79 everywhere.

One other thought -- if it's too much work to initially bring the entire code base into pep8, we could list basically all of the files you couldn't get to as exceptions [in the setup](https://pypi.python.org/pypi/pytest-pep8), then:

1. New files would be checked
2. Require anyone changing making changes in other files to bring them into pep8 compliance.

[2016-07-21 13:55] henn commented on #607
I'd check to be sure there's a compelling reason to change the API before changing it.
REST is more object-oriented than procedural, so having all of those use do different operations on the same URL makes sense to me.

@gsilvis, @knikolla and @zenhack all have strong opinions on REST APIs. Any thoughts guys?

[2016-07-21 14:47] zenhack commented on #607
I'd quibble with referring to it as "object oriented," but yeah, having multiple functions implement stuff at the same URL is fine. the REST-ish interpretation of this is that `/node/<nodename>/console` is the path to the node's console; `GET` gets a representation of it,

What *is* weird is the use of PUT/DELETE; these imply setting the value of the resourc/deleting it, which isn't really what's

[2016-07-21 14:49] zenhack commented on #607
Also, afaik the console functionality is still completely inoperable, no?

[2016-07-25 00:21] matsuuran commented on #607
@zenhack if you're removing the start/stop commands is there a point in me continuing?

[2016-07-25 01:10] zenhack commented on #607
I don't think we've really settled on what to do with that PR; there are some issues with the current implementation and I don't recall if we came to a consensus on the proposed changes to the Api. The current implementation is broken though, AFAIK, and we probably ought to decide where we want this functionality to go before doing much extra work.

[2016-07-25 21:37] zenhack opened #629 "Erroneous use of `%` operator for string-formatting in calls to logging functions."
All over the codebase you can find statments like:

[code]

The `%` operator being python's format-string splicing operator. The problem with this is that the logging functions do the formation string splicing themselves, i.e. what you want in this case is:

[code]

This opens up the possibility of format-string injection vulnerabilities. Frankly, this is too easy to do, especially since in other

[2016-07-25 22:14] zenhack opened #630 "list_project_networks is not documented in `rest_api.md`, and doesn't check authZ."
Whenever this call was added, it didn't get documented in the rest API docs. We need to be more careful in general about updating that document when modifying the API.

*also* it doesn't do any authZ checks at all. The other `list_project_*` calls all expect access to that project. I assume this is not what was intended.

Bumped into this when experimenting with the keystone plugin I've written.

[2016-07-28 20:28] henn opened #631 "Optional parameter to do hard power_cycle"
Currently, the [reset API](https://github.com/CCI-MOC/hil/blob/master/docs/rest_api.md#node_power_cycle) does a "soft reset", based on [this code](https://github.com/CCI-MOC/hil/blob/master/haas/ext/obm/ipmi.py#L68):

[code]

We should introduce an optional parameter (like `force`) that does an `ipmitool chassis power reset`. Here's what the ipmitool man page says about the different states:

[cod

[2016-07-28 20:35] henn commented on #631
@apoorvemohan and @ravisantoshgudimetla are interested in this so they can reset machines faster than the current implementation.

[2016-07-29 18:31] matsuuran commented on #631
@henn do you think I should have two cli commands `node_power_cycle` and `node_power_reset` or should I just add an option to pass from the cli -> api -> ipmi?  The reason I ask is because the nomenclature might be a little confusing if there is only one command because the man page specifically calls out cycle and reset.

Should be simple either way, just wanted to get your input.

[2016-07-31 19:53] shwsun commented on #630
I believe ``list_project_networks`` is introduced in some recent PR. I do think about whether or not we should have something like this in every PR.
[code]

[2016-07-31 20:05] shwsun commented on #337
IMO, ``~/.haas.cfg`` would not be necessary. config file should be either in ``/etc/haas.cfg`` or ``./haas.cfg``. More choice would only make it harder to debug if wrong ``haas.cfg`` is loaded.

[2016-07-31 21:15] zenhack commented on #630
Particularly updating the docs is something that seems to get forgotten frequently. I'm not trying to be accusitory of anyone, but I have observed that this is something that gets forgotten about frequently. We seem to be pretty decent on the first three points.

The immediate thing is that we should update the docs and add those authZ checks -- we have a bug, let's fix it.

I'm less attached to d

[2016-07-31 21:19] zenhack commented on #337
I don't feel strongly about `~/.haas.cfg`. @shwsun has a point. I'll go along with whatever others think is best.

[2016-07-31 22:24] shwsun commented on #630
Yes, the bug should be top priority. Could you add the bug label as well as the v0.2 milestone?

[2016-07-31 22:24] zenhack commented on #630
Done.

[2016-08-02 17:09] matsuuran commented on #337
for now I'll leave it out and if we decide later that it is nice to have it is easy to add in

[2016-08-02 17:24] matsuuran commented on #337
@zenhack if this is the case, because my PR doesn't implement the option to pass in as a command line argument, should we even change this?  Initially I was going to wait for the larger CLI refactoring to add the `--config` option but I could do it now if you see no issue.

[2016-08-02 21:20] zenhack commented on #337
Quoting Nicholas Matsuura (2016-08-02 13:24:05)

The reason it needs to wait for the refactoring is that the way the
module is written we don't have a way of passing flags; all arguments
are strictly positional. The refactoring would use a proper command line
parser library, like argparse or maybe click. I don't think it's worth
writing special purpose code in the meantime.

I don't feel super str

[2016-08-02 22:42] matsuuran commented on #337
That's what I thought but I wanted to make sure.

The only difference between what is implemented in #632 is that it will look for `/etc/haas.cfg` by default instead of passing it in.  The way it sounds though the only time we're using that is in the wsgi script, so I don't see a reason to bring it in.

[2016-08-02 22:49] zenhack commented on #337
The network daemon also uses it.

[2016-08-02 23:04] matsuuran commented on #337
Same use case though where it passes in the location of the config file?  I'm just saying what do we gain from the change

[2016-08-04 15:10] matsuuran commented on #631
@henn any opinion?

[2016-08-04 22:23] henn commented on #631
Thanks for looking at this, @matsuuran!

Ideally, the CLI would take an optional parameter to node_power_cycle (maybe `--force`, `--fast` and `-f` for short), since the CLI doesn't need to match the API exactly. To do that, though, would require implementing better CLI handling (see #431).

[2016-08-10 13:40] shwsun opened #633 "unit test code refactoring"
Based on the discussion we have in #625 , at sometime we need to refactor the `tests/unit/api/main.py`, i.e. only have test functions for each test and wrap up setup code as fixtures.

Quoting Ian

[2016-08-10 17:28] shwsun commented on #627
@matsuuran I am wondering is this addressed by #619 ? I am a little confused about the first sentence.

[2016-08-10 17:31] shwsun commented on #602
This will have to be done before the camera ready ddl of the SoCC paper.

@henn I think we should send out an email to notify the team s.t. people got PRs hanging need to push themselves.

[2016-08-10 17:34] shwsun commented on #579
#592 will be good enough to solve any problem during HIL setting up. We can close it .

[2016-08-11 12:15] matsuuran commented on #627
@shwsun

lets just say you have a node named "all" or "free"  you would have a collision on the rest call.  It is just a small edge case

[2016-08-11 14:57] shwsun commented on #627
I see. It will cause a collision and we have to solve it. However, I would more like to keep the ``list_nodes`` rest call just like other ``list_xxx`` calls. Any other ideas?
//cc @zenhack @henn @SahilTikale @gsilvis

[2016-08-11 17:46] zenhack commented on #627
Could make the all/free a query parameter, e.g. to list free nodes:

    GET /node?state=free

Or something. This would also make it easy to add more filters in a backwards-compatible way, and if we wanted to we could coalesce things like list_project_nodes:

    GET /node?project=foo

But whether we want to do that is it's own discussion.

[2016-08-11 19:12] shwsun commented on #630
This is solved, we can close it.

[2016-08-11 19:14] shwsun commented on #627
Actually this problem is caused by mistake, we should have ``GET /nodes`` for ``list`` calls, and ``GET /node/<nodename>`` for ``show`` calls. #635 solves this and it is no longer a concern for us.

[2016-08-11 19:46] zenhack commented on #630
Yep, closing. Thanks for doing this.

[2016-08-11 19:46] #630 closed

[2016-08-11 19:50] zenhack commented on #633
First step is probably to go through and identify what objects are common to all/most/many tests. From there we can move them into fixtures.

[2016-08-12 02:41] shwsun commented on #633
I apologize for not paying attention to issue #514 before. It address the same issue.

From my perspective, fixture like ``nodeinit``, ``swinit`` might just be good enough. We can pass them as a parameter to the test functions. It is also what pytest fixtures is there for.

[2016-08-12 03:36] zenhack commented on #633
#514 is a separate set of issues from the stuff in `api/main.py`

If you feel confident that you can write a set of fixtures that can pull the duplication out of this stuff, go for it, and ping me when you want some review.

You don't actually need to pass them as parameters if you're using them everywhere; there's always `usefixtures` or the `autouse` parameter to the fixture decorator.

[2016-08-17 18:25] shwsun commented on #571
@henn what about we set the REST API v0.1 when we ship the HIL project, before the SoCC ddl?

[2016-08-19 04:57] zenhack opened #641 "Generalize schema helpers to encompass query parameters"
This came up on the mailing list; @henn is working on an API call that uses query parameters as part of #554. Our rest_call decorator doesn't currently check those. We can still pull them out of `request.args`, but it might be nice to have this fit into the same validation framework we're using for everything else. Let's bounce around ideas about how to do this.

[2016-08-22 04:35] henn opened #647 "Add auth to console code"
Currently, `show_console()`, `start_console()` and `stop_console()` don't do any auth checking.

We should do that!

[2016-09-01 19:44] henn opened #648 "Document how to make a HIL server handle more requests"
There are certain things one can do to handle more requests that we should document. We've hit these while running various benchmarks that are trying to do things in parallel. These include:

- [ ] Increasing the `processes` attribute in `WSGIDaemonProcess` to something like 128
- [ ] (maybe) increasing the number of apache listeners to accommodate the extra WSGI Daemons.
- [ ] Increasing postgres

[2016-09-07 20:09] zenhack commented on #431
Re: dealing with the CLI, I think one thing we'd talked about is waiting until we had a client library in place (see #617), and building the new CLI on top of that. @henn, what are your thoughts?

[2016-09-07 20:48] shwsun commented on #431
My $0.02 is to merge the cli library we are working on first, then talk about this one. We also have to figure out whether or not implementing cli with click is our top priority.

[2016-09-07 21:06] matsuuran commented on #431
I wanted to do it because @henn asked me to do #631 and ideally it would just use an optional param.  I'll do whatever though

[2016-09-07 21:16] shwsun opened #650 "pep8 check breaks?"
When I run the tests by hand, I got errors like below.

[code]

@zenhack This raises two concerns:
  1. travis is not checking pep8 right now, at least the way we want
  2. should code reviewers doing these tests before giving a +1? I feel like I failed my job a little...

[2016-09-07 21:18] zenhack commented on #431
Quoting (Jethro) Shuwen Sun (2016-09-07 16:48:22)

I think the questions to be asking are:

1. How high priority is 631?
2. Are there any other high-priority issues that depend on this?
3. How close are we to actually being able to merge the client library?
   My memory is "not very."
4. How much work will we save by doing the client library first, rather
   than having to glue the CLI to it later

[2016-09-07 21:29] shwsun commented on #431
Of course, another option is to let @matsuuran start with the new one first, but making sure that it will not break the cli library we will merge later.

@SahilTikale is preempted by the NSDI / BMI work so it might be a little hard for him to finish the work quick. I will bring this up in tmr's hil meeting.

// cc @henn

[2016-09-07 21:53] zenhack commented on #650
Re: (2), We probably ought to be doing this *at least* if it's touching testing infrastructure; this used to happen more often before traivs, because people forget. But yeah, I feel like we screwed up.

I'm futzing with it locally trying to see what's necessary to fix this. Observations/issues:

* pytest depends on the ability to not just parse but *import* modules in order to scan for tests. This

[2016-09-07 21:53] zenhack commented on #650
//cc @matsuuran

[2016-09-07 22:25] shwsun commented on #650
Yes, I tested the functionality before using `pep8` and it works fine.

I also saw some failures or errors by simply running `py.test tests`. Is it because of this PR?

[2016-09-08 00:06] zenhack commented on #650
@shwsun, can you paste the error and the command you're running? The only thing I see above is the fact that you don't have python-keystoneclient installed.

Worth noting some tests require special setup.

[2016-09-08 00:24] shwsun commented on #650
`py.test --pep8 -m pep8 *.py haas/ tests/`

[code]

And the python-keystoneclient is installed.

[2016-09-08 01:02] matsuuran commented on #650
@shwsun @zenhack I have a branch ready to go that takes out `pytest-pep8` and replaces it with `pep8`.  I still get an error when I run `py.test tests/` but it does not look related to anything pep8

[2016-09-08 04:48] zenhack commented on #650
I would expect errors when running pytest on all of test/; many of the tests outside of tests/unit/ require special setup. And you should never pass Haas/ to pytest. So I think we're fine as far as the existing tests go.

[2016-09-08 04:50] zenhack commented on #650
@matsuuran, great! Submit a PR.

[2016-09-08 13:54] shwsun commented on #650
I see, but at least the `py.test --pep8 -m pep8` is not working as expected and we need to replace it with `pep8`. I also think we need to add python-keystoneclient in the requirements anyway.

[2016-09-08 16:16] SahilTikale commented on #431
There was hick up with client library ( mostly difference of opinion) which has been settled.
1. I just need to fix the merge issues,
2. Get keystone support copying stuff from #626
3. responds to changes suggested by the reviewers.

I will insist on waiting to work on CLI until client library is done.

[2016-09-08 19:36] #627 closed

[2016-09-08 21:41] zenhack commented on #650
@shwsun, the keystone library is only required for the keystone author back end, and I don't want to make it a hard dependency for all installations. Travis installs the keystone stuff already.

[2016-09-09 17:38] matsuuran commented on #589
@zenhack I've been noticing there are a several issues that are still open, is it okay if I just do a little house keeping and close them?

[2016-09-09 19:28] zenhack commented on #589
If they're obviously fixed, go for it. Just leave a comment explaining why you're closing. I'll take care of this one.

[2016-09-09 19:28] #589 closed

[2016-09-12 15:13] matsuuran commented on #650
fixed in #651

[2016-09-12 15:13] #650 closed

[2016-09-12 15:33] matsuuran commented on #399
addressed in #429

[2016-09-12 15:33] #399 closed

[2016-09-12 19:08] henn opened #652 "Restrict pep8 test to just sqlite DB flavor"
Right now, as part of #651, we introduced pep8 testing!

Because we have DB=postgres and DB=sqlite, though, it will now be run twice.

We could now add a conditional so that it only runs once per test. My suggestion is only to run it for `DB=sqlite`, since that tends to run faster anyhow.

[2016-09-13 17:36] matsuuran commented on #539
added in #628 and fixed in #651

[2016-09-13 17:36] #539 closed

[2016-09-16 17:58] naved001 opened #656 "Broken links in README.rst"
In [README.rst](https://github.com/CCI-MOC/hil/blob/master/README.rst), under Documentation, link to INSTALL.rst and HACKING.rst are broken.

[2016-09-16 20:01] shwsun commented on #656
They are broken because we replaced them with `INSTALL.rst` and `INSTALL-devel.rst` separately. You can just solve it if you want.

[2016-09-16 21:35] shwsun commented on #474
@knikolla could you please close it? #625 is already merged. thx

[2016-09-19 20:22] henn commented on #337
Note that for clients, `HAAS_ENDPOINT` is used. For clients, we probably shouldn't even try to use haas.cfg.

[2016-09-21 17:52] #656 closed

[2016-09-21 18:01] henn commented on #535
This should also include:

- [ ] Testing the various `HTTPClient` methods (currently in cli.py).
- [ ] For testing KeystoneHTTPClient, it might make sense to modify `tests/integration/keystone.py`.
- [ ] Don't forget to include testing GET parameters, per #655

[2016-09-24 17:11] zenhack commented on #583
Closing, since we just merged a fix.

[2016-09-24 17:11] #583 closed

[2016-09-26 15:44] shwsun commented on #652
#654 addresses this, we can close it.

[2016-09-26 19:32] knikolla commented on #652
Solved by #654

[2016-09-26 19:32] #652 closed

[2016-09-28 19:21] henn opened #662 "Improve CLI"
Currently, cli.py throws a `FailedAPICallException` when encountering errors, which is caught in _main()_ and causes an exit with status 1.

An error case is missed by this, where _cmd()_  can also throw an uncaught exception that doesn't necessarily lead to a `sys.exit(1)`:
[code]
I believe the right thing to do here is to also catch `TypeError` in _main()_.

@gsilvis @knikolla - appreciate your

[2016-09-29 15:30] gsilvis commented on #662
No matter what, we should raise some error in the `except` clause there.  I chose to raise `FailedAPICallException`.  If we want the return code to be different in this case, we should make a new exception (`InvalidAPIArgumentsException`, perhaps?), raise that one, and catch that one in `main`.

[2016-09-29 15:54] gsilvis commented on #662
On @knikolla's advice, made a new exception

[2016-10-05 14:13] naved001 commented on #389
@shwsun and I would like to work on this issue.

[2016-10-05 20:59] SahilTikale commented on #389
It requires changing the way we have implemented cli.
Wait for sometime. Once client library is over, you can start working on
this.

--Sahil

On Wed, Oct 5, 2016 at 10:13 AM, Naved Ansari <notifications@github.com>
wrote:

[2016-10-05 21:07] shwsun commented on #389
@SahilTikale Yes, I just talked to Naved this morning, he can't start to work on this issue unless #617 and the click enhancement is done.

[2016-10-07 00:03] #662 closed

[2016-10-07 03:55] zenhack commented on #508
So in a comment on #621, @henn suggested sending the the actual networking operations to the backend via the usual mechanism, rather than handling them in the api call proper. There's a problem with this, that requires at least a bit of rearchitecting: right now the only thing we can send to the network daemon is "attach this port to this network on this channel" or "detach this port from any netw

[2016-10-07 19:25] henn commented on #508
Interesting point - it didn't occur to me how tied to connect/disconnect
the current NetworkingAction API is.

Extending the NetworkingAction table sounds good. Doing something
simpler, like having NetworkingAction contain an action (CONNECT,
DISCONNECT, RESET) then a JSON blob containing the arguments) could also
work, and might lead to trusting the front end less down the road since
we'll have t

[2016-10-07 19:27] matsuuran commented on #474
closing, fix is in #625

[2016-10-07 19:27] #474 closed

[2016-10-07 19:54] zenhack commented on #508
Meta: I worry somewhat about designing our own RPC protocol by accident. I like your suggestion, but also want to point out that it's like 60-70% of the way to just using JSON-rpc; if we go down that road I want to be explicit that our understanding is there's an existant rpc protocol at the end of it.

[2016-10-07 21:27] naved001 opened #667 "HaaS tests failing"
I ran all tests on a fresh copy of the repo, and I got errors shown below:

    py.test tests/

========================================== ERRORS==============================
____________ ERROR collecting tests/integration/keystone.py ________________________
tests/integration/keystone.py:17: in <module>
    from keystoneauth1.identity import v3
E   ImportError: No module named keystoneauth1.iden

[2016-10-07 23:29] shwsun commented on #667
It is not a issue and we are expecting `py.test tests/` failling.

The reason is,  deployment / integration requires correct environment setup to test. Like what is described in [doc/testing](https://github.com/CCI-MOC/hil/blob/master/docs/testing.md), you should only run `py.test tests/unit` and `py.test stress.py`

[2016-10-11 00:10] zenhack commented on #667
@shwsun is correct. I'm going to close this.

[2016-10-11 00:10] #667 closed

[2016-10-11 00:11] zenhack commented on #641
#644 has been merged, closing.

[2016-10-11 00:11] #641 closed

[2016-10-11 00:25] zenhack commented on #314
Observation: the implementation is changed such that connections to the switches are created on first use, so the overhead we were discussing for not batching the actions is no longer there. doing a commit after each action seems sensible. I'd like to pin down where #508 is going, but this seems straightforward in and of itself.

[2016-10-11 00:31] zenhack commented on #306
Spitballing: What if we added a decorator that let's us tag arguments as "don't log"? e.g.:

[code]

I think we can implement this by doing something like `setattr(f, 'dont_log_args', ...)` in the decorator, and then check for that attribute before we do the logging.

Thoughts?

[2016-10-11 00:37] zenhack commented on #303
What's our current thinking on this? Now that HIL has seen a bit more use, has anyone found themselves actually wanting this? Per my comments back when this was opened, we can't actually change the boot order for more than the next boot, and calling shutdown from within the OS wil bypass our setting here anyway.

[2016-10-11 01:27] zenhack commented on #231
I'm going to grab this one. I'll have a pr soon.

[2016-10-11 18:49] gsilvis commented on #584
One option is:  Add a method to the NetworkAllocator class that checks for validity, and call that.

[2016-10-11 18:50] gsilvis commented on #584
(Note that the null backend, in particular, uses UUIDs)

[2016-10-11 19:54] naved001 commented on #584
I would like to work on this issue after we decide what type of VLAN-ID is considered valid.

[2016-10-11 22:56] henn commented on #508
@zenhack: That's a really good point - we are designing an RPC protocol!

Do you think it'd be worth going all-in, using something like JSON-RPC? Maybe we could re-use our Schema() stuff, though that might be hard since the transfer protocol is SQL rather than HTTP.

[2016-10-11 22:57] henn commented on #508
Also, for the record, there are some review comments in #621 that might help.

[2016-10-12 01:08] zenhack commented on #508
One obvious possible first step is to replace the NetworkingAction table with something that just has an ID used for ordering and the actual JSON for the JSON rpc. We could process calls on the other side by just doing a first() and then running a schema on it. If/when we needed to have multiple "queues" we could just add a column for that and filter on it. We'll have to keep an eye on the situati

[2016-10-12 01:18] gsilvis commented on #508
Hm... this doesn't actually need anything new, as far as I can tell?

The API call would just add a normal networking action, whose destination is determined by what's already in the database.

[2016-10-12 01:18] gsilvis commented on #508
In the longer run, we might want a more fully featured RPC mechanism, but I don't think this feature requires it.

[2016-10-12 01:31] zenhack commented on #508
@gsilvis, what we want here is the ability to just clear the port entirely. Right now we can only remove it from specific channels (by setting new_network to None). I don't see a way to encode what we want in the information the table currently contains. For this one it's preferable not to assume the information in the database is correct. I suppose theoretically, in the case of VLANs, we could ju

[2016-10-12 01:32] zenhack commented on #508
(Also, I'm not really suggestion we integrate a proper RPC protocol right now. Just, if we use @henn's idea, I want an acknowledgment that that's the road we're going down).

[2016-10-12 01:37] gsilvis commented on #508
Oh, thought we were talking about resetting the port to what's in the database.  If you want to clear it all at once... yeah, that's a fundamentally different operation.  I'd say, for now, just do it in some hacky way, but it might be a good idea to have a real protocol later.

[2016-10-12 01:38] gsilvis commented on #508
(My other comment is that network operations should always specify the full destination of the operation---most likely as a dictionary.  If you do it that way, then clearing is not a special operation at all.)

[2016-10-12 01:51] zenhack commented on #508
I'm actually not 100% on this; @henn, which did we want, just clear the port or reset to the expected state?

Either way, the thinking behind this is that the database's state may be wrong, which means to use the existing operator, we'd actually have to queue up an operation for every possible channel; anything that *doesn't* have an attachment needs to be explicitly cleared.

And yeah, I agree re

[2016-10-12 17:18] shwsun commented on #508
I agree with the assumption that database might be wrong.

Doing RPC or the other should be the proper way to have this revert/reset functionality. In this case,  the question is what effort do we want to spend on it? Based on my background info, BMI team can assume everything in database is right, it might not be the case that this one is vital.

[2016-10-13 15:49] zenhack commented on #508
Observation: I don't think the reset/revert port method needs any new fields (besides the "method" on which to discriminate). We could just add the one field for now, and defer the converting arguments to JSON thing.

The only thing is that by doing this we're deviating from what we've done with e.g. switches and obms where you have the per-type fields in a separate table. I'm fine with that, but

[2016-10-13 15:57] #231 closed

[2016-10-13 17:40] naved001 commented on #584
Here's a PR #670  that addresses this issue.

[2016-10-14 17:06] shwsun commented on #572
#658 solved this, closing

[2016-10-14 17:06] #572 closed

[2016-10-14 18:15] shwsun commented on #515
I think click is able to do these bash completions as well, see. [nfoi](http://click.pocoo.org/6/bashcomplete/). This one will solve itself if we decide to go down that path. @matsuuran what do you think?

[2016-10-14 18:59] matsuuran commented on #515
@shwsun definitely and it would make life way more convenient.  Are we still waiting on a PR?

[2016-10-14 19:12] matsuuran commented on #54
@zenhack @henn  I've been googling a bit to see if I can find a way to ask the switch for a list of its port names so that we can check to see if the port they provided is completely valid.  I've had no luck, just wanted to see if:
 - either of you knew how to ask the switch for its port names?
 - is it an okay idea?

[2016-10-14 23:43] matsuuran commented on #314
would it be okay to close the sessions after the db commits, so we'd go from two loops on actions to one?

[2016-10-17 18:40] SahilTikale opened #671 "systemd service for `create_bridges`"
The `create_bridges` command responsible for making bridges for all the vlans that HIL manages is currently run as a script from /etc/rc.local. We have observed that this does not always get executed. Sometimes we have to run this manually after a server reboot.

Suggestion is to convert this to a systemd service and sequence it to be executed before the libvirtd service, so that VM depending on H

[2016-10-18 12:33] matsuuran commented on #54
@shwsun @naved001 do you know the answer to my question above?

[2016-10-18 15:39] zenhack commented on #54
I think what we'd been discussing was validating the /format/ of the port name. e.g. on the powerconnects, you have things like gi1/0/23; I believe @henn was talking about the situation where someone accidentally types e.g. gk1/0/23; we should be able to inspect this when the API call is made without interacting with the switch.

What the original issue is about though, is that we just don't handl

[2016-10-18 15:43] zenhack commented on #314
@matsuuran, that's what I had in mind.

[2016-10-20 15:00] naved001 commented on #671
@SahilTikale I made the script and made the changes in docs/INSTALL.rst on how to run the script. Do I have to write some tests for it?

[2016-10-20 15:04] shwsun commented on #671
I am nervous to these kind of changes, please make sure you have tested it on various environments.

[2016-10-20 15:09] naved001 commented on #671
Yes, I'll test it before I create a pull request. You may look at the script [here](https://github.com/CCI-MOC/hil/compare/master...naved001:fix_671)

[2016-10-20 17:41] gsilvis commented on #520
Fixed by Network ACLs

[2016-10-20 17:41] #520 closed

[2016-10-20 17:43] gsilvis commented on #584
Fixed by #670

[2016-10-20 17:44] #584 closed

[2016-10-24 19:29] zenhack commented on #508
So here's a concrete proposal, which I'd like people to comment on; if folks think it's a good idea I'll just go ahead and implement it:

1. Add a `type` or `method` or such field to `NetworkingAction`, which would be something resembling an enum.
2. Have the existing api calls that inject `NetworkingAction`s set type to `modify_port` (or something similar; we can defer quibbling about the name un

[2016-10-24 19:30] zenhack commented on #337
I think we're fuzzy enough on what this should even be that having an issue open for it isn't really helpful. I propose that we just close this. @henn, @matsuuran, @shwsun, any objections?

[2016-10-24 19:31] zenhack commented on #306
@gsilvis, @henn, can you weigh inon my proposal?

[2016-10-24 19:44] gsilvis commented on #306
Perhaps make it an optional parameter to rest_call?  Seems a little less hacky to implement it that way.

[2016-10-24 19:51] zenhack commented on #306
Sounds good; then we can just pass it in to `_rest_wrapper` and use it there.

[2016-10-24 19:52] matsuuran commented on #337
@zenhack I agree, but when the new CLI comes along I think we can still throw in something to load a config file like `--config`

[2016-10-24 19:55] zenhack commented on #431
Per discussion in #337, we most likely want to have a `--config` option that can specify the config file location. I'm mentioning it here so we can close that issue without losing the information.

[2016-10-24 19:56] zenhack commented on #337
Ok, I put a comment to that effect in #431 so we remember. I'm going to close this. @henn, @shwsun, if you have any objections feel free to repoen.

[2016-10-24 19:56] #337 closed

[2016-10-31 21:52] naved001 opened #675 "Travis CI building failure due to upstream bug"
The travis CI build is failing. It's even failing for a previous commit that successfully passed all the checks. So I think something is up with Travis-CI.
@knikolla @henn
Here's a portion of the job log:

[2016-11-01 18:52] zenhack commented on #629
@henn, thoughts on adding this to the 0.3 milestone?

[2016-11-01 19:16] knikolla commented on #675
This is related to upstream bug https://bugs.launchpad.net/oslo.messaging/+bug/1638263

Patch that fixes the issue https://review.openstack.org/#/c/392135/

[2016-11-02 00:51] shwsun commented on #675
This is a bug from upstream, we are waiting the upstream to fix the bug and then remove our temporary workaround.

[2016-11-02 14:45] shwsun opened #677 "Current doc need some cleanup"
I have spotted some markdown syntax error in our docs. For example, in [INSTALL.rst](https://github.com/CCI-MOC/hil/blob/master/docs/INSTALL.rst) command should always has a `$` before it, and the markdown writing style is not uniformed.

[2016-11-03 14:37] naved001 commented on #677
I can fix it. Besides putting a $ before a command, what other syntax errors are there?

[2016-11-03 16:27] naved001 commented on #675
I'll leave this issue open until the bug from upstream is fixed and we have a permanent workaround.

[2016-11-03 17:40] zenhack commented on #508
Spoke to @henn yesterday, who said it sounded reasonable, so I'm going to get started.

[2016-11-03 18:15] zenhack opened #678 "Eradicate `import *` and make a linter to keep it out"
I just removed some "unused imports" from model.py and started getting all kinds of errors in tests that were doing `from haas.model import *` and then forgetting to import e.g. `logging`. I'm cleaning this instance up and will soon send a pr with correctly placed imports, but we ought to finaly get rid of `import *` and have travis check for it.

[2016-11-03 19:42] shwsun commented on #678
Yep we should, that is a pep8 violation.

[2016-11-04 16:41] naved001 commented on #677
I have made some changes you can see [here](https://github.com/CCI-MOC/hil/compare/master...naved001:cleanup_677)
What other markup errors do you see?

[2016-11-05 00:59] shwsun commented on #677
@naved001 apparently some places in our doc is not right. What I want for this issue is to take a good look at serval important file first and address the ill-formatted part first.

[2016-11-08 17:02] shwsun commented on #675
Upstream bug is fixed, we removed the tmp fix in #681 .

[2016-11-08 17:02] #675 closed

[2016-11-08 20:34] zenhack commented on #306
@henn, thoughts?

[2016-11-08 20:36] zenhack commented on #303
@henn, thoughts?

[2016-11-08 20:46] zenhack commented on #629
Spoke to @henn briefly in person, he agreed to add this to the 0.3 milestone, so I'm doing so.

[2016-11-08 20:57] zenhack commented on #232
Alembic stores version information in a dedicated table in the database, so we can just query that table to see if we're up to date, and exit with an intelligible error if not. Probably using this from the alembic library:

http://alembic.zzzcomputing.com/en/latest/api/script.html#alembic.script.ScriptDirectory.get_heads

[2016-11-08 20:58] zenhack commented on #232
I'm going to self-assign, I'll get to this soonish.

[2016-11-09 18:55] naved001 commented on #677
I am not sure what changes to make apart from the ones that I've already made. Could you be more specific about the issues in the docs.

[2016-11-14 17:58] zenhack commented on #39
I'm going to close this; the only part that's still relevant is the bit that's described in #54.

Also, holy crap this issue is old. This is our oldest open issue. We have *more than one* issue that is over 2 and a half years old. I think I'm going to start periodically triaging the oldest of them, because wow.

[2016-11-14 17:58] #39 closed

[2016-11-29 19:40] henn opened #687 "State checking for ports"
We recently had a power outage, which caused a lot of ports to reset on a dell switch.

To fix it, I ran `node_detach_network` then `node_connect_network`.

What happened was very disconcerting - HIL/the switch connected the native VLAN I had requested, but then added **all** other VLANs as tagged!

I'm thinking that to prevent this scenario and also to advertise to anyone manually managing the sw

[2016-11-30 00:56] henn opened #688 "HIL needs to write flash config"
Currently, at least the dell driver does not save the flash config, such that if a power outage happens the changes persist.

We need to:
a) Check all the drivers for this class of bug, and
b) fix it.

One possible way to address it would be to stick a "write ..." command in the switch driver's disconnect(). By doing it there rather than after each port mod, we might cut down on flash overwrites a

[2016-11-30 01:03] henn commented on #688
Looking at #673, since there could be a time/flash wearing vs. consistency tradeoff maybe we could make it a tunable as to whether the `write ...` happens in disconnect() or after every change?

[2016-11-30 16:24] shwsun commented on #647
I vaguely remember that @zenhack said we want to rework on the console stuff? If so this one will get fixed naturally.

[2016-11-30 20:08] zenhack commented on #647
Yeah, it'll have to be part of any design we implement there.

Is the console stuff even being (currently) actively used anywhere? If not I'd actually recommend just disabling it; It's horribly broken and probably a liability as is.

[2016-11-30 20:27] zenhack commented on #687
Yeah, this is a serious problem.

We definitely need to persist the changes to the switch. This probably in concert with committing to the database.

The integrity checking you describe could be per-driver, but I don't know how I feel about it. We really ought to notify an administrator if we discover inconsistencies, since even if we're able to fix the problem, there's the possibility of "damage

[2016-11-30 20:36] henn commented on #687
#688 is to have HIL write the config to flash.

One other thought that came up in our HIL discussion today was that if HIL detected an anomaly on one port, it could go ahead and revert() all of the ports on that switch. Revert() should be an inert operation in the usual case.

[2016-11-30 20:36] henn commented on #687
Good point on notifications!

[2016-11-30 20:41] zenhack commented on #688
One other option: we could recommend having the switch's stored config have all ports managed by HIL be *disconnected from everything*, so in the case of a power outage we fail-safe. This sidesteps the tricky problem of coordinating database commits and flash writes, as well having to worry about wearing out the flash.

[2016-11-30 20:47] zenhack commented on #687
Also, right now drivers are required to implement a function that fetches the running state on the switch, which we currently only use in the test suite. We could use that to do integrety checking of the whole switch on HIL startup.

Observation: while I think it's more likely in the event of an inconsistency for the switch to be "wrong," we should consider the possibility that something has gone

[2016-12-05 19:27] henn opened #690 "Support updated networks in bridge services"
As discussed in #674, it would be nice to have updates regarding bridges reflected on the running system.

We should be able to do this through [systemd's](https://www.freedesktop.org/software/systemd/man/systemd.service.html) `ExecReload` and `ExecStop` primitives.

[2016-12-08 17:20] zenhack opened #691 "More Keystone Travis breakage; probably an upstream change."
Failing build log on master:

https://travis-ci.org/CCI-MOC/hil/jobs/182325416

Note that the pr was passing prior to merging; presumably this was a matter of stuff shifting upstream in the interm.

Possibly related:

* https://github.com/CCI-MOC/hil/issues/675
* https://github.com/CCI-MOC/hil/pull/676
* https://github.com/CCI-MOC/hil/pull/681

This looks like it may be basically the same issue.

[2016-12-09 04:52] henn opened #692 "API for explicit auth checks"
As we're doing more and more integrations (BMI, Net Ex, VPN, ...), the need for services to verify that a user has access to things like a node keeps coming up.

The use case we discussed today was having a dedicated, separate console proxy service. It would need to be able to verify that a particular user had access to a node (without checking with HIL, it would have no way of knowing which nodes

[2016-12-13 17:33] knikolla commented on #691
Bug should be fixed upstream, until kombu 4.0.2 is released. Their [approach](https://review.openstack.org/#/c/408643/2/global-requirements.txt) is to != specific versions. So everytime a new one comes, stuff will break unless oslo.messaging is fixed to support the new versions.

The second approach is easier, and kombu has already failed the 2 strikes, so I say we go with that.

[2016-12-13 17:39] knikolla commented on #691
#693 is passing so can confirm that our gate is unblocked.

[2016-12-15 19:31] naved001 commented on #671
This issue can be closed. It was fixed by #674

[2016-12-16 00:17] #671 closed

[2016-12-18 17:07] naved001 commented on #555
@shwsun We can close this issue. It's a duplicate of #671 which has been fixed by #674

[2016-12-19 20:09] henn commented on #688
I like that.
Going into our discussion (hopefully later this week), I think we need to keep in mind that we a) don't want anyone to have access to networks they shouldn't, and b) should have a sane way for HIL providers to restore or reinstall their switch.

We've discussed 4 (mostly non-exclusive) ideas so far:

1. Write to flash (mentioned above)

2. (@zenhack's comment above) Have a default con

[2016-12-20 18:33] naved001 commented on #303
It seems like IPMI supports setting the boot device persistently.

Legal options settings are:
	help:	print this message
	valid:	Boot flags valid
	**persistent: Changes are persistent for all future boots**
	efiboot:	Extensible Firmware Interface Boot (EFI)
	clear-cmos:	CMOS clear
	lockkbd:	Lock Keyboard
	screenblank:	Screen Blank
	lockoutreset:	Lock out Resetbuttons
	lockout_power:	Lock out (powe

[2016-12-20 19:40] henn opened #694 "ipmitool error in node_power_off on a Sun"
Running `haas node_power_off sun-X` on haas-beta against one of the sun blades results in an error:
[code]

This was found in `/var/log/httpd/error_log`:

[code]

Interestingly, if I manually reconstruct what should be the ipmitool command, it works:
[code]

[2016-12-22 16:11] SahilTikale opened #695 "list_network_attachment does not work for argument <project_name>"
Recently added call `list_network_attachment` gives error when providing the project name.
It gives appropriate output for argument <network> "all"

[2016-12-24 20:24] zenhack commented on #303
I vaguely remember testing that and finding that it didn't work, but that may have been with the old sun blades, in which case it might make sense to try it with newer gear.

[2016-12-30 20:17] zenhack opened #697 "Tests are polluting each other's sets of extensions"
Somehow the tests are being polluted by each other; on #696, the migration test I added is having extensions it doesn't specify loaded, which breaks the test. I've managed to fix this on a debugging branch by running the migration tests in their own travis instance:

https://travis-ci.org/zenhack/hil/builds/187775909

(We may want to split more things out that way, since it would allow things to f

[2017-01-03 04:17] shwsun commented on #697
This is an interesting topic, and probably we can contribute our experience afterwards. For our own sake, I don't mind adopting the solution to move all of these imports into fixtures, as long as it can fix our problems.

@henn @SahilTikale @knikolla   Any thoughts?

[2017-01-04 04:19] zenhack commented on #697
My hunch was right; submitted a pr that fixes this. Once that's merged, rebasing #696 on top of it should solve the problems there.

[2017-01-09 22:21] naved001 commented on #694
What you are manually reconstructing is different from what we have in the driver.
In the driver we use the `lanplus` interface, so the command looks like `ipmitool -I lanplus -H X.Y.Z.A -U '' -P XXX chassis power off` which returns

 If we use the `lan` interface, it works.

[2017-01-12 16:24] gfaline commented on #695
To fix this, the line do_get(url, data={'project': project}) needs to be changed to do_get(url, params={'project': project}) in the list_network_attachments definition in the cli.

[2017-01-12 18:44] henn opened #700 "Update documentation to require python 2.7"
2.6 is ancient, and AFAIK we have no CentOS 6 machines any more.

Any objections?

It would be good to start going to python 3, but let's go one step at a time.

[2017-01-12 19:01] henn commented on #688
We just had some more discussion with @naved001 @knikolla @kylehogan @meng-sun and @gfaline. It sounds like a plausible solution would be to add a reset_nic(), in addition to having reset_port().

reset_nic() would be able to handle situations like needing to replace a dead switch with one or two others that might have different port capacities. After the nic was disconnected from the previous swi

[2017-01-13 00:22] zenhack commented on #700
No objections here.

For posterity: the conversation in #680 provides some context; basically @kylehogan submitted code that requires 2.7+ and I mentioned that we should be explicit about what to support.

re: the python 3 thing, another intermediate step would just be writing portable code, which isn't actually that hard. The `six` library smooths over most of the pain points. And we can add 3.x

[2017-01-13 05:17] shwsun commented on #700
I agree with removing obsolete things and improving portability

[2017-01-18 19:25] henn opened #703 "Fix SQLAlchemy warning"
This warning is littered throughout HIL stuff:

We use SQLAlchemy's transaction mechanism, so whomever takes this will need to investigate whether to disable `TRACK_MODIFICATIONS` or disable the warning. It looks like [this stackoverflow](https://stackoverflow.com/questions/33738467/how-do-i-know-if-i-can-disable-sqlalchemy-track-modifications) has info on this.