[2017-01-19 22:29] naved001 commented on #694
The issue was that the Service Processor (OBM) firmware was pretty old. I updated it to the latest version (only the SP, not the BIOS) and now `node_power_off` works. I only updated `sun-14` to test it; will update the other sun servers. So this is not a bug in HIL. I think we can close this issue now.

[2017-01-20 19:42] #703 closed

[2017-01-24 02:22] #697 closed

[2017-01-24 02:35] henn commented on #700
The [README](https://github.com/CCI-MOC/hil/blob/master/README.rst) says that we require python 2.7, so that portion is solved, but I like the thoughts from @zenhack for slowly transitioning to python 3, so let's make this issue about that.

[2017-01-24 20:33] zenhack opened #706 "Make it possible to have arbitrary JSON request bodies."
Right now the way rest_call works makes it impossible to define API calls that take arbitrary JSON bodies; we merge the args from the path into the body, so it has to be a dictionary and can't have those keys. At least in the case of the node metadata (see #680) we'd like to be able to just do a PUT of an arbitrary JSON value.

Adding this to the milestone I just created.

[2017-01-25 19:35] henn opened #708 "Document our exceptions to putting imports at the top"
PEP8 says that imports must be at the top of the file, but there are reasons we want to avoid this like extensions or speed (see #698).

We should document this exception in the developer docs.

[2017-01-25 19:37] henn commented on #694
This was solved by upgrading the firmware. Thanks @naved001 !

[2017-01-25 19:37] #694 closed

[2017-01-25 23:05] henn opened #709 "Document port initial states"
It's not clear to me what state a port is expected to be in when it is registered with HIL.

For example, I just registered a Dell powerconnect port with HIL, ensured that it had no VLANs configured and was in access mode and connected it through HIL to a network. The result was that *every* VLAN ended up trunked to it.

#683 will help with this, though we'll still need to do the analysis for each

[2017-01-26 03:50] shwsun opened #710 "Update License and Authors informations"
We need to update the `COPYING` and the license info in our `haas/` dir

[2017-01-30 18:16] henn opened #713 "API to change a user's admin status"
Currently, it's only possible to either create a user as an admin user. It should also be possible to promote a user.

[2017-01-30 21:18] henn opened #714 "Missing list_nic API function"

[2017-01-30 21:54] SahilTikale commented on #714
Why do we need a list_nic api ?
Isn't show_node <node name> listing all the nics associated with the node.

[2017-02-02 19:46] SahilTikale opened #716 "Unique HTTP status code required to reflect different different error states."
Currently different errors listed in [errors.py](https://github.com/CCI-MOC/hil/blob/master/haas/errors.py) return the same status code. eg. for errors `DuplicateError` and `BlocedError` return code `409`. We need to have unique status code for each error state or add new error states to reflect new types of errors.

[2017-02-07 22:38] naved001 opened #718 "Logging in the brocade driver"
The Brocade driver needs to handle exceptions thrown by the switch (like 204). @knikolla

[2017-02-07 23:34] henn opened #719 "Implement updated null switch driver"
#715 removed the null switch driver because it was out of date. It'd be good to have one for testing purposes that doesn't require configuration (the "mock" driver requires some config).

[2017-02-08 16:04] knikolla commented on #718
@naved001 Anything 2xx is not an error. What I meant during our discussion is logging the response of the switch when it returns 4xx status codes. There is not much we can do in terms of exception handling besides log the error text.

[2017-02-08 16:04] knikolla commented on #718
Updated title to reflect issue.

[2017-02-08 17:31] naved001 commented on #718
Fixed by #702

[2017-02-08 18:45] #695 closed

[2017-02-08 18:56] henn opened #721 "Standardize error texts and place them in the docs"
For clients libraries like #617, we should document what the error text for different things are.

That way, the libraries can do things like throw standard exceptions based on this text.

Initially discussed in #717.

[2017-02-08 19:32] henn commented on #54
@matsuuran - do you think you could lead the discussion on this one?

[2017-02-08 19:39] henn commented on #232
@zenhack - do you think you'll still have time for this? We'd like to finish it up in the next 3 or 4 weeks or so. Thx

[2017-02-08 19:50] matsuuran commented on #54
@henn what do you mean by lead discussion?  I have a branch somewhere that has most of this figured out and could probably knock it out after apply networking is closed

[2017-02-14 20:15] zenhack commented on #232
Yeah, I can definitely get it in in that time frame. Sorry for the delay.

[2017-02-15 17:47] SahilTikale opened #722 "User should be owner of the project"
Currently it is the HIL admin user creates other users and assigns them to projects.
We should have a way to make user owner of a project.
This way we can delegate control to the project owner

- To share networks with other projects

- Add/remove users to its projects

This will reduce administration burden from HIL administrator and give more control to users.

[2017-02-17 04:59] shwsun opened #723 "Nexus switch register error msg"
I have tested it on the hack-n-hil and seems like the driver for cisco switch is broken (or this model is not supported?)

@zenhack @henn I have manually setup the cisco switch but driver is not working, I dont have time right now to fix it. Any thoughts?

[2017-02-17 05:18] zenhack commented on #723
@shwsun, it *should* support the nexus we have upstairs; we got that switch *specifically* for developing that driver. Can you be more specific than "not working?"

I'll be in tomorrow to hack on some stuff with @SahilTikale. We'll be done by 4:00 at the latest, so if you'll be around we can confer briefly if it's useful.

[2017-02-17 18:50] shwsun commented on #723
Apologize for not being clear at the first place. what I have experienced is that I cant register the cisco switch. We can chat if you are around, I am in 591 now

[2017-02-17 22:43] zenhack commented on #723
Can you share your haas.cfg?

[2017-02-17 23:19] shwsun commented on #723
[code]

[2017-02-18 03:52] zenhack commented on #723
@shwsun, yeah that looks fine to me. Is there a stack trace or is the error just that one line? Failing that, my next thing to try would be to put a breakpoint at the top of that function and see what is actually calling it.

[2017-02-21 15:52] SahilTikale opened #724 "Adding a get_node_status to the OBM driver"
To make it easy for integrating HIL with provisioning systems like Ironic, MaaS etc we need to add
a call `get_node_status` to the OBM driver that queries the current state of the node (powered on/powered off/Booted )and reports it as it is.

[2017-02-22 15:35] naved001 commented on #723
@shwsun try my haas.cfg file (make modifications as you need, I have some redundant stuff in it). Also make sure that you provide a **dummy vlan** when registering the switch. Without that it throws the `set_auth_backend` error

[code]

Hope this resolves your issue!

[2017-02-22 17:24] shwsun commented on #723
Thanks to point out the `dummy_vlan` Naved.

@zenhack @henn The problem we experienced is that registering nexus switch require a extra field - `dummy_vlan`. Register switches w/out the field should throw out a right error message instead of current `Fatal Error: set_auth_backed() called twice. Make sure you don't have conflicting extensions loaded.`

[2017-02-22 17:53] naved001 commented on #724
I am curious as to why does a provisioning system need to know the status of a node? AFAIK, we need to restart the node anyway so what's the purpose of checking if it's on or off beforehand.

[2017-02-22 19:39] zenhack commented on #723
Glad we tracked this down. Want to open a new issue re: errors & docs?

[2017-02-22 19:41] shwsun commented on #723
Yeah, then we can close this one and use it as an reference.

[2017-02-22 19:41] #723 closed

[2017-02-22 19:49] shwsun opened #726 "Nexus driver: wrong error msg and documentation fix"
This bug is found out during a process of using Nexus driver. As mentioned in `network_driver.md`, registering cisco nexus switches required a extra field `dummy_field`. However, doing so w/out the extra field will not throw an error msg about `dummy_field` but something like `Fatal Error: set_auth_backed() called twice. Make sure you don't have conflicting extensions loaded.`

Another related pro

[2017-02-22 20:35] naved001 commented on #726
The wrong message is a bug in the cli, not the driver. I'll push a fix now.

[2017-02-22 21:51] naved001 commented on #726
To add to this, the nexus driver allows the dummy_vlan to be set to 0.
https://github.com/CCI-MOC/hil/blob/master/haas/ext/switches/nexus.py#L52
It should be a strict inequality on the left side.

[2017-02-23 15:47] SahilTikale commented on #724
It is required to make HIL compatible to provisioning systems like IRONIC and MAAS. Ironic periodically checks the status of the nodes it controls. Any driver for Ironic has to provide this functionality. If HIL needs to support IRONIC or other such systems, we will need to functionality.

[2017-02-23 17:17] naved001 opened #728 "Brocade Driver: disconnecting a network that's attached natively does not work"
Ran into this while testing #683.

~~If a network is attached natively, then calling `node_detach_network` on that network does not actually~~ ~~remove it on the switch. ~~

When we remove a native network, the switchport defaults to VLAN 1 as it's native VLAN.

[2017-02-27 20:10] naved001 commented on #724
I can take this issue. Do you have a general idea what `get_node_status` should return? Besides, `on`, `off`.

[2017-02-27 22:24] naved001 opened #729 "Travis CI build failure"
Here are the details of my PR which was previously passing all the tests. https://travis-ci.org/CCI-MOC/hil/jobs/205965436

@henn @zenhack @knikolla

[2017-02-28 16:52] naved001 commented on #729
@SahilTikale the issue I was talking about.

[2017-02-28 20:04] #726 closed

[2017-02-28 21:08] zenhack commented on #729
Look at the code, I'm actually a bit confused as to why it *was* working, or *is* working on master. It's complaining that additional_db is being called outside of a request context (and thus without access to db.session), which I would expect to cause problems. And indeed our list of fixtures has additonal_db before with_request_context.

@shwsun, your name is on the commit that put additional_db

[2017-03-01 21:40] naved001 commented on #729
@zenhack You are right. Changing the order in the list of fixtures fixes the errors for `tests/unit/model.py`, and `tests/unit/api/auth.py`

[code]
Still looking at `tests/unit/ext/auth/database.py` where 1 test is failing.

[2017-03-02 07:24] shwsun commented on #729
So I guess I don't need to dive into this now. Re: fixtures, IIRC, the order of them does matter, `additional_db` will add some more content to the database based on `fresh_db`. Probably it means I need to add some more doc/comment to our test infra

[2017-03-02 17:14] naved001 commented on #729
* @shwsun I [reordered the fixtures](https://github.com/CCI-MOC/hil/compare/master...naved001:test-fixes?expand=1), so tests are now passing for `sqlite` but tests that rely on `postgres` are failing. Here are the logs: https://travis-ci.org/naved001/hil/builds/207052073 If you could provide some insight that would be helpful.

* The tests pass if you run in an old environment, so most likely some

[2017-03-02 17:51] naved001 commented on #729
Got it, the tests pass if we use `Flask-SQLAlchemy-2.1`. It was recently updated to 2.2. So restricting that would fix it. But I think we should still reorder the fixtures the right way instead of using an old version. For now I'll raise a PR to restrict the version of Flask-SQLAlchemy so that other PRs aren't blocked.

[2017-03-03 21:14] zenhack opened #731 "When given a relative path with sqlite, haas-admin db create creates splits data across two databases."
The alembic_version table ends up in a db the current working directory, while everything else ends up in $root_of_source_repo/haas

I noticed this when working on #232.

Probably some weird descrepency between how we're configuring alembic vs. Flask-SQLAlchemy.

This ought to be fixed before #232, since although this wouldn't cause problems for production setups, it means developers would have to

[2017-03-07 06:18] zenhack commented on #729
Closing, since #730 is merged.

[2017-03-07 06:18] #729 closed

[2017-03-07 06:20] zenhack opened #733 "Use flask's application context instead of request context with the db."
See also the discussion on #730. This *should* be enough for us to update to Flask-SQLAlchemy 2.2

[2017-03-07 06:21] zenhack opened #734 "Keystone is breaking our CI again"
https://travis-ci.org/CCI-MOC/hil/jobs/208425804#L1678

Getting that on both of my open prs (which don't share code other than what's on master). This probably won't be hard, just a bit of fiddling to get the versions to play nice together.

*sigh*

[2017-03-07 16:33] henn opened #735 "Create validation for IPMI parameters"
Per secure coding guidelines for  [OWASP](https://www.owasp.org/index.php/OWASP_Secure_Coding_Practices_-_Quick_Reference_Guide), it's good to:

Right now, #699 introduces some state that gets validated pretty deep in the stack, within the IPMI driver.

We should:

a. Add the validation suggestion from OWASP to our developer guidelines
b. Update the IPMI set_bootdev function (introduced in #699) t

[2017-03-07 19:19] shwsun commented on #306
@henn I think what @zenhack proposed seemed to be a good solution, any thoughts on this?

[2017-03-07 19:20] #734 closed

[2017-03-08 04:15] henn commented on #306
Passing it as a parameter into `@rest_call` sounds good to me!

[2017-03-08 18:47] henn opened #737 "Isolate our CI from keystone"
So far, we've expended effort working around keystone problems in our CI (#691 #734 #675 #736) . In the latest version (#736), this was because of internal conflicts within the dependencies of keystone. Even though we've frozen the keystone repo itself at a particular commit, its dependencies in requirements.txt are mostly set as `>=$some_version`, meaning they can evolve/break.

One possible solu

[2017-03-08 19:58] henn opened #738 "Better error handling in haas script"
In PR #683 we [hit an issue](https://github.com/CCI-MOC/hil/pull/683#issuecomment-285148932) that was made more difficult to debug because the generated `scripts/haas` entrypoint script has this block:

[code]

In order to find the error (which was the somewhat cryptic `set_auth_backed() called twice. Make sure you don't have conflicting extensions loaded.`), we had to remove the `except NameError

[2017-03-08 19:59] henn commented on #303
#699 fixes this!

[2017-03-08 19:59] #303 closed

[2017-03-08 20:01] henn commented on #54
@matsuuran - I meant making sure everyone agreed on the solution to avoid unnecessary coding. If you have a PR, we could discuss it there too!

[2017-03-08 20:06] henn commented on #54
@zenhack - since the NetworkingAction queue is serialized, an error processing one action should mean that we can't/shouldn't process other things. With systemd integration, we now have a way of capturing the stack trace via the journal or `systemctl status haas_network`.

Having something that checked the validity of a port name (by doing a `show interfaces` or something like that) would help.

I

[2017-03-08 21:44] zenhack commented on #737
One nice change would be to separate out tasks on our build matrix a bit; we only need to run the keystone tests once per push. This way at least we'd get the feedback that it's just the keystone tests that broke.

If we isolate it this way, we could also use `pip freeze` to pin *every* package that gets installed.

[2017-03-08 21:47] zenhack commented on #54
@SahilTikale and I had a conversation about the status API today. I think that's the right way to go about reporting errors, but he's planning to have a more detailed proposal written up soonish, so let's talk about it in that context.

[2017-03-08 21:51] zenhack commented on #738
I just did:

[code]

in my source repo, and it found nothing. Where is that code? I think it might be part of the entry_points mechanism, not our own source. I sure as heck didn't sign off on a PR with this in it...

[2017-03-08 22:22] knikolla commented on #737
#739 resolves the lack of "<" in the requirements.txt file. That's because OpenStack has a common upper constraints file which all projects use when installing dependencies.

[2017-03-09 19:53] shwsun commented on #737
Solved by #739

[2017-03-09 19:53] #737 closed

[2017-03-10 16:58] naved001 opened #740 "Deployment tests for networks don't pass"
I was trying to run deployment tests for #702 #683 but those were failing. So I decided to run the tests with what we currently have in the master and the tests failed for all the switches. The deployment tests only passed with mock drivers.

I have put the logs in the comments here; the tests are getting stuck at `create_networks()`

I can share my `site-layout.json` and `testsuite.cfg` files if

[2017-03-10 16:58] naved001 commented on #740
Here are the results for the dell

[code]

[2017-03-10 16:59] naved001 commented on #740
Here are the results for the brocade:

[code]

[2017-03-10 16:59] naved001 commented on #740
Here are the results for the nexus

[code]

[2017-03-13 19:20] #232 closed

[2017-03-13 19:20] #731 closed

[2017-03-16 04:53] zenhack commented on #629
Putting this one in my queue.

[2017-03-16 14:07] naved001 commented on #740
I think something is wrong with this function, pexpect is timing out.
https://github.com/CCI-MOC/hil/blob/master/haas/ext/switches/dell.py#L158

I have only looked at it for the dell.

[2017-03-16 20:16] zenhack commented on #740
@naved001 I think I'd need to poke at it with a debugger to make sense of it. Maybe we can schedule a time for me to come down there and try to suss it out with you? Send me email and we can schedule a time.

[2017-03-16 20:18] naved001 commented on #740
@zenhack Sounds good.

[2017-03-21 03:29] zenhack opened #743 "Use more static analysis tools"
There are a number of tools out there that can be used to catch stupid mistakes, dubious constructs, and other mundane but important issues. We should be using them. Off the top of my head:

* [x] pep8
* [ ] pylint
* [ ] pyflakes
* [ ] mypy

We've been using pep8 for a while. MyPy is the only one of these where integration may be a bit tricky; I like the idea behind it, but the particulars of the

[2017-03-21 20:37] zenhack opened #744 "Replace console-based drivers with something more reasonable."
The drivers for the dell powerconnect & cisco nexus switches both talk to the interactive console, which was never designed as a programmatic interface. As a result, they're really slow, and particularly in the test suite there's a lot of clumbsy parsing of the output of various commands.

These drivers have their origin in something I wrote *way* **way** back, after @pjd-nu had spent about a day

[2017-03-21 20:39] zenhack commented on #476
I just opened #744; I think the right way to deal with this is to make sure this is a design consideration when addressing that; we'll just junk the console driver instead of trying to further optimize it.

[2017-03-21 20:41] zenhack commented on #719
I'm inclined to suggest we just close this; it's a trivial thing to add if we find ourselves wanting it when we right a particular test. The driver had bitrotten in part because we weren't using it for anything, which calls into question whether it's realy useful. If I don't hear soonish, I'll go ahead and click close.

[2017-03-21 20:41] zenhack commented on #46
Should be a design consideration when addressing #744

[2017-03-21 20:43] zenhack commented on #306
@shwsun, this is assigned to you, and it looks like we have an agreed-upon solution. Do you want to tackle this? If not I can just grab it; I've got the time to pick through issues and there's nothing on the 0.2 milestone that doesn't have an assignee.

[2017-03-21 21:46] zenhack commented on #387
I'm going to self-assign.

[2017-03-22 10:55] shwsun commented on #306
Hi @zenhack , it would be good if you want to take it since there are probably more I have to dig while I am a bit busy this semester. I will be doing code review if you have a PR pushed.

[2017-03-22 18:02] SahilTikale opened #747 "Using SNMP to control switches to set VLANS"
We should have a better way to set VLANS programmatically than using pexpect due to the problems discussed in #744. @pjd-nu gave us super overview of how SNMP works and what troubles we may encounter (like it is good for reading stuff from hardware, but writing to hardware can be tedious at times)

I, @henn, @naved001, @pjd-nu agree that this can be a good internship project.
Explore, understand S

[2017-03-22 20:48] zenhack commented on #306
Cool, I've assigned myself.

[2017-03-23 20:22] naved001 commented on #728
Closing this issue because it works correctly.

[2017-03-24 14:53] naved001 opened #748 "Brocade Driver: less strict error logging"
The deployment tests are failing again; even for the master (my bad; should have looked at #702 more carefully. the tests pass if you run it once, but fail when ran the second time).

As far as I understand, the problem here is that every time a function is called again later, that according to the switch is a bad request which raises logger.error.
For example:
When _enable_and_set_mode() is calle

[2017-03-25 01:47] zenhack commented on #748
I'm nervous about toning down the error checking too much here; I'm worried about a scenario where the switch returns some error code because an operation failed, and then we plow ahead e.g. having not actually detached a network properly, giving someone unintended access to someone else's network.

Options:

1. Suck it up and add the extra check everywhere. This has the advantage that failures ar

[2017-03-28 02:34] naved001 commented on #748
These error checks were added in #702.

In a scenario where a switch returns an error, the networking server (`haas serve_networks`) continues to run without stopping and users wouldn't know unless they look at the logs. So raising a logging error doesn't really help as the user is unaware anyway.

The deployment tests are failing because we are using the fixture `fail_on_log_warnings` . So the te

[2017-03-29 17:43] henn commented on #748
We discussed this at the HIL weekly meeting. It sounds best to add an argument that allows the caller or make_request() to determine what to do with the error, and then verify at the callsite if the error is one we can ignore.

@knikolla @naved001 @kylehogan

[2017-03-29 17:48] henn commented on #740
#748 should fix at least some of this.

[2017-03-29 18:13] henn commented on #306
Hey @zenhack - do you think you'll have time to work on this in the next 2 weeks?

Thanks

[2017-03-30 02:45] zenhack commented on #306
@henn, yep; I've some WIP kicking around on my hard drive already.

[2017-04-05 17:28] SahilTikale opened #751 "redundant code in switch driver"
I found this code being repeated here.

https://github.com/CCI-MOC/hil/blob/master/haas/ext/switches/nexus.py#L102L113

Is it a mistake ? we should remove the redundant code.

[2017-04-05 18:16] #740 closed

[2017-04-05 20:33] naved001 commented on #748
closing this because #750 got merged.

[2017-04-05 20:33] #748 closed

[2017-04-05 20:34] #718 closed

[2017-04-06 21:01] SahilTikale commented on #751
@zenhack just wanted know if this was a redundant code, or was the repetition deliberate.

[2017-04-07 14:07] naved001 commented on #751
you can close this because #752 got merged.

[2017-04-07 15:22] zenhack commented on #751
Yep, closing.

[2017-04-07 15:22] #751 closed

[2017-04-07 19:12] naved001 commented on #54
I am fine with this approach.

I have been playing around with the switches lately.
For the nexus switch, we can do `show interfaces switchport |grep Name` that would return a multi-line string with names of all the ports. Something like this
[code]

For the dell, we can do `show interfaces status` (more info, but faster) or `show interfaces description` (less info, but for some odd reason slightl

[2017-04-07 19:23] naved001 opened #754 "Consistency check to see if node and switch agree on the mac address provided when registering"
When we register a nic on a node, we type in the mac address without checking to see if the port on the switch expects that mac address. Though not required, it could be a good safety check.
This came up in a discussion with Chris Hill.

@SahilTikale @henn

[2017-04-07 19:57] naved001 opened #755 "Brocade Switch: Enable jumbo frames for ports"
This was suggested by @radonm

For the other 2 switches we support, we only need to enable jumbo frames for the whole switch, which is a one time thing. But for brocade we need to do it for every port. Right now an administrator has to do it manually.

Also, Openstack can work with a standard MTU of 1500 bytes, but it is really slow so we change it to 9000 (Jumbo Frames), which means the underlyin

[2017-04-07 20:36] radonm commented on #755
9100 actually

On 7.4.2017 г. 15:57 ч., Naved Ansari wrote:

[2017-04-10 15:37] SahilTikale commented on #754
I feel this is a good reliability check. We should have this call that verifies that nodes are connected to correct ports and via the mac addresses that administrators thinks were right. This is a good way to reduce dependency on a single human input and reduce chances of error.

[2017-04-10 17:47] naved001 commented on #754
so when do we want to do this check? right when we are registering a NIC?

[2017-04-12 18:30] henn commented on #754
I like it, as long as there's an override to the check in case we're setting up a port before the machine is connected.

Possible complications could be caused by additional MAC addresses due to bridged VMs/containers or BMCs. This would likely mean verifying that a MAC address is in a list of addresses.

[2017-04-18 16:36] #306 closed

[2017-04-18 18:10] #735 closed

[2017-04-18 18:13] #555 closed

[2017-04-18 18:26] naved001 commented on #579
Closing it then.

[2017-04-18 18:26] #579 closed

[2017-04-19 17:45] henn opened #757 "CLI command to dump everything"
Once the new CLI is integrated, we should add a command that dumps an entire HIL config.

Something like `hil show --all`.
This way, we can keep the complexity of recursively showing everything out of the API.

**Bonus points:** do something like `hil dump` and `hil restore`, where we can restore a configuration.

[2017-04-21 21:34] naved001 opened #758 "Leasing script to work with HIL."
It seems we kind of need/should have a leasing script (based on feedback from people who want to use HIL on their environment).

There is a [closed/unmerged PR](https://github.com/CCI-MOC/hil/pull/588/files) with most of the work done. Before someone picks up on this, do we need any discussion about this issue?

@zenhack @henn @SahilTikale

[2017-04-21 23:44] zenhack commented on #758
That PR was closed because the script needed serious work, and Ravi didn't have time to work on it. I don't know that it's fair to say that it had "most of the work done."

Also, @SahilTikale's client lib is very close to being merged; it would b e good for such a script to use the library.

I'm not sure whether it makes to build on that PR or just start fresh.

I also do want to be a bit more exp

[2017-04-22 05:17] #629 closed

[2017-04-24 18:47] shwsun opened #759 "Merge of CLI lib just breaks the CI test."
#617 breaks the CI test we have, see https://travis-ci.org/CCI-MOC/hil/builds/225312311. @zenhack @henn @SahilTikale @naved001

PS, the time to run CI is around 20min now.

[2017-04-24 18:54] SahilTikale commented on #759
I am aware that the tests take longer since the unit tests require a server to be spinned up and sometimes it fails to fetch the given port.
I have talked to @zenhack  about refactoring the tests so that we can run them in parallel and reduce the time of testing. Will do that once we close on the current PR and move from haas to hil

[2017-04-24 19:22] naved001 commented on #759
@shwsun the build you linked seems to be still running the tests (it passed for postgres)

@SahilTikale does that mean that the tests might fail sometimes? it looks like it's passing at the moment.

[2017-04-24 19:27] SahilTikale commented on #759
Yup that is what I am saying. It sometimes passes for one database and may fail for other, just need to restart that build. No changes required.

About the tests taking long time, that is because it spins up a new server and tests against it, It makes rest calls for each test, that might take time.

[2017-04-24 19:32] henn commented on #759
@SahilTikale Are you saying these tests will fail intermittently through
no fault of the potential submitter?

If so, that's something that would need to get fixed ASAP if we want to
keep this PR so as to not impact others.

[2017-04-24 19:38] zenhack commented on #759
Re: the tests taking a long time, I'm working on an improvement for that right now.

Re: intermittent failures, yeah, that's absolutely unacceptable.

[2017-04-24 20:16] zenhack commented on #759
So I've got some WIP here:

https://github.com/zenhack/hil/tree/ci-speedup

The failures are in the keystone tests, but the client tests in particular are taking an insanely long time. I am debugging locally.

[2017-04-24 20:58] SahilTikale commented on #759
@zenhack I have figured out why it was taking this long.
Working on a patch.

[2017-04-24 21:04] SahilTikale commented on #759
I may be able to get it down to less than a minute.

[2017-04-24 21:09] SahilTikale commented on #759
I have got the patch ready. Need to clean up a little bit. will make a new PR in 2 hours.

[2017-04-24 21:16] zenhack commented on #759
Ok, cool.

[2017-04-24 21:20] zenhack commented on #759
Any notions about the keystone tests? I'm a bit puzzled by those, since I got the same failure when I separated out the keystone tests from the others, so it's not really being touched by your stuff (I think), but it's still passing on the old master, so it's not that something changed out from under us either.

[2017-04-24 21:53] knikolla commented on #759
Why are these in unit tests? We have a full blown apache apache for our integration tests (which these are), use that instead of spinning up a new server. These are not unit tests.

[2017-04-24 21:55] naved001 opened #760 "Driver for Dell N3048"
I am playing around with the Dell Networking N3048. It's mostly similar to the powerconnect 5548 that we support. `revert_port` is different, and the output of `_int_config` (to get interface configuration required for tests) is slightly different. Also the switch that I am playing with doesn't directly log you into privileged mode so we have to enter `enable` to do that (this is probably how the

[2017-04-24 22:01] naved001 opened #761 "Revert port when registering in HIL"
So I came across this when I was playing with the dell n3048. So when you enable trunking on it (`sw mode trunk`) by default the port has all the vlans enabled which is not cool. This may be the case in other switches too.

What we should do is, during port registration, call `revert_port` on the port being registered. That way, when a new port is registered we can be sure that it has no vlans ena

[2017-04-24 23:00] SahilTikale commented on #759
@zenhack I did all tests on my local branch, got finished at a good pace.
I have made an urgent patch for the client library tests. This should help shave off some time from the duration it took to run the tests in travis.

[2017-04-24 23:36] zenhack commented on #761
Yeah, I thought there was a note somwehre about admins needing to shut that off when setting up. But now that we have the functionality we probably ought to just do it automatically.

[2017-04-24 23:40] zenhack commented on #760
Reading from the config file would be inappropriate, since that's shared by every switch, so you wouldn't be able to have both a powerconnect and an n3048 in the same setup.

These are different switch types, so we should have different classes that we differentiate based on the type field. They can share code via a superclass, and they can even be in the same extension (i.e. 2 classes defined in

[2017-04-25 13:57] shwsun commented on #759
Yes, I was a bit nervous about the merge yesterday and open this issue as soon as the sqlite test fail.

So the long time running CI is fine to me, Openstack developers have to deal with it all the time. I am just complaining that it (maybe) should not be that long for a project at HIL's scale.

I agree with @zenhack and @henn , one thing really nervous me is that now sqlite or postgres tests may

[2017-04-26 11:14] SahilTikale commented on #759
I removed client.py from the unit tests and rerun the tests. It still failed with the following error

[code]

Truncating output, getting to the error directly

[code]

This error got resolved when I installed the said package. `pytest_catchlog`
I am working on the latest master branch. Did anyone remove the package during one of the prior merges ?

[code]

[2017-04-26 17:34] henn opened #764 "Improve client library test performance"
Per discussion with @SahilTikale @naved001 @kylehogan , we'd like to refactor tests to be able to operate in parallel.

Right now this includes:
- [ ] [Client library tests](https://github.com/CCI-MOC/hil/blob/master/tests/unit/client.py) can spawn a different web server for each test, each on its own port. Picking a port could be done either sequentially or randomly, first checking to see if the

[2017-04-26 17:53] henn opened #765 "List public networks as a regular user"
As mentioned in #453, we should have a function that lists public networks that any user can connect to in both the API and CLI.

[2017-04-26 17:53] henn commented on #453
Closing this so that we can address public networks separately.

[2017-04-26 17:53] #453 closed

[2017-04-26 17:58] henn commented on #340
This is addressed in the [README](https://github.com/CCI-MOC/hil#requirements).

[2017-04-26 17:58] #340 closed

[2017-04-26 17:59] henn commented on #214
???
Please re-open if this is still an issue or you can provide additional details

[2017-04-26 17:59] #214 closed

[2017-04-26 19:18] zenhack commented on #759
@SahilTikale, that dependency was introduced recently; I suspect you were working from a venv you created prior to that patch being merged?

[2017-04-26 19:20] zenhack commented on #764
I started some work on this on a branch, but it's blocked by the outright failures we're having. The basic notion I had was to split up our tests into a larger matrix, so e.g. the keystone and apache tests run separately from tests/unit, and thus all of that installation doesn't need to happen in unit, and fewer tests need to be run in those cases.

[2017-04-26 21:29] naved001 commented on #761
@zenhack just realised that I can't call port revert on a port that is not attached to any nic. Why is that so?

[2017-04-27 14:37] shwsun commented on #759
@SahilTikale   It is introduced by #756

[2017-04-29 00:06] henn opened #768 "Get rid of the lambdas sprinkled throughout CLI"
Since we're re-doing the CLI anyhow in #746 , we should get rid of the extra lambdas that are all over [cli.py](https://github.com/CCI-MOC/hil/blob/master/haas/cli.py). They're extra syntax that complicates the code, and we can get by without them.

My suggestion: stick the call dispatch from main() into a try/except block that catches `FailedAPICallException`, then get rid of check_client_respons

[2017-05-10 03:13] henn opened #770 "Client lib tests still failing transiently"
I just made a local changed that shouldn't have affected anything, but ended up getting a [Travis failure](https://travis-ci.org/henn/hil/jobs/230519821), with the relevant errors appended.

It looks like

To see the minimal source differences I made, check out https://github.com/CCI-MOC/hil/compare/master...henn:travis-upgrade-pip

# Relevant logs
[code]

[2017-05-10 03:16] henn commented on #770
@naved001 @SahilTikale

One thought - could it be taking more than 1 second for the server to start? Should we change the `sleep(1)` to something that loops on some file touched by the server or doing a `ps`?

[2017-05-10 03:42] zenhack commented on #770
@henn, rather than touching/looking for a special purpose file, we could just poll attempts to connect to connect to the relevant port. But yeah, I vaguely recall suggesting a more rigorous backoff, with maybe a *very* generous timeout (like a minute -- so if we hit that we know something is almost certainly actually wrong).

[2017-05-10 03:43] zenhack commented on #770
ps isn't going to tell us if the process has called bind()

[2017-05-10 18:13] henn commented on #764
Tests running with postgres are currently unable to run in parallel due to sharing a single DB.

To overcome this (allowing us to run unit tests in parallel with `py.test -n auto --boxed`), each worker process could have its own DB named after its worker name. [Pytest-xdist's docs](https://github.com/pytest-dev/pytest-xdist#identifying-the-worker-process-during-a-test) describe how to do this.

[2017-05-10 18:45] zenhack commented on #768
I like the notion of centralizing the error handling.

[2017-05-10 18:46] zenhack commented on #764
I'm going to submit a PR doing the keystone stuff (and some other componentization); I started working on it while we were fussing with the transient failures, but was blocked on the fix.

[2017-05-10 19:10] zenhack commented on #764
So, at this point tests/unit/client.py even on sqlite3 is taking longer than the rest of the tests put together -- including the keystone test and apache, and their setup steps. I'm going to do the keystone breakout anyway, since I think it will pay off once we fix that, but this is just dumb -- there's something deeper going on than "we should start parallelizing," those tests should *not* be tha

[2017-05-10 20:07] zenhack commented on #764
The time is being eaten up by populate_server() -- it takes about 40 seconds to run on my laptop.

[2017-05-10 20:48] zenhack commented on #764
...which amounts to about  0.67 requests per second. I'm also getting a whole bunch of this:

[code]

There is likely something odd going on with the way HTTP requests are being handled.

I will point out that I was against spinning up an actual server for these tests.  I was left out of the discussion -- you guys had it off-line without me, despite me being the person who raised the concern in th

[2017-05-11 05:20] henn opened #773 "Error in no_dry_run() showing up in tests"
After enabling messages for the client.py unit tests, I noticed these errors:

These appear to be showing up on account of the unit tests setting `dry_run=true`.

[code]

[2017-05-11 17:00] henn opened #775 "Have tests work without `--boxed`"
Using `--boxed` for pytest (in setup.cfg) [creates a new process](https://pypi.python.org/pypi/pytest-xdist#boxed) for every test, but also seems to disable stdout/err capturing (possibly related PR: https://github.com/pytest-dev/pytest/issues/680).

We've come to rely on `--boxed` for cleaning up state, for example resetting the active process's network allocator ([Travis logs](https://travis-ci.

[2017-05-11 17:15] henn commented on #764
Re: running a full server, there was a debate (I was on the side of using flask's built-in server), and the vote was to use the dev server. @pjd-nu and @okrieg felt that it was necessary to quickly make a decision, so we did it at one of the HIL meetings.

Given the time I spent debugging/fixing this as part of #774, I'm tempted to to revert the client library tests if we can't stabilize them soon

[2017-05-11 17:21] henn opened #776 "Client library test problem: the case of the disappearing config file"
If one of the client library tests encounters an error, then another distracting error is generated in the teardown fixture saying that it can't remove the `haas.cfg` file.

It's not obvious what's causing this. Running everything under `strace` using `strace -ff py.test -x -v -s tests/unit/client.py` with setup.cfg changed to disabled `--boxed` shows only one unlink operation against the file --

[2017-05-11 22:49] zenhack commented on #775
The big challenge is extensions, which I think is why we went with this solution in the irst place. I don't there's a nice way to "un-import" a python module -- we'd have to basically re-design the way extensions work. On top of that, a lot of these things register stuff with SQLAlchemy, so it changes what the database schema looks like like in a way that I don't think we can fix without cracking

[2017-05-11 22:52] zenhack commented on #764
+1 for reverting if we can't solve this soon. I'd also like to get the dev server out of there one way or another -- it's adding complexity (and a big performance hit, even in the theoretical case where there's not something funny going on) without much tangible benefit.

[2017-05-12 19:11] zenhack opened #777 "Decouple our HTTPClient interface from the requests library."
I was futzing around with implementing HTTPClient on top of the flask test infrastructure, and ran into a problem: HTTPClient specifies that it returns a Response object as defined by the requests library. This works for our existing implementations, since all of them ultimately shell out to requests anyway, but the flask test client doesn't, and we're using enough of the misc. helper methods prov

[2017-05-13 05:00] naved001 commented on #773
this seems similar to what we fixed here https://github.com/CCI-MOC/hil/pull/766

[2017-05-13 16:12] zenhack commented on #773
Yeah, that's definitely the same problem.

[2017-05-15 23:12] #773 closed

[2017-05-18 18:24] henn opened #779 "Disable STP in reset_port()"
With STP enabled, it can take 30 seconds for DHCP to complete. For situations like [BMI](https://info.massopencloud.org/blog/bare-metal-imaging/), where we PXE boot then boot iPXE, this can add a minute or more to the boot time.

As part of the port initialization in reset_port(), we should disable STP.

It might be a security issue to give untrusted tenants access to STP anyhow (they could mess w

[2017-05-18 20:28] pjd-nu commented on #779
It's definitely a denial of service opportunity if a tenant has access to Spanning Tree. Good call.

.....................................................................
 Peter Desnoyers                                  pjd@ccs.neu.edu
 Northeastern Computer & Information Science      (617) 373-8683

[2017-05-19 01:38] zenhack commented on #779
It occurs to me that maybe we ought to try to find a more systematic way to make sure what we're exposing is sane; I wouldn't be at all surprised if this wasn't the only hole.

[2017-05-19 20:49] naved001 commented on #761
@zenhack ping

[2017-05-19 21:51] zenhack commented on #761
It's an artifact of the fact that NewtorkingActions are bound to nics, not ports, so to actually shove something in the queue we need a nic. This probably shouldn't be the case, just a limitation of the existing implementation.

It would require a bit of refactoring to fix. I *think* we could just switch what object the networking action was bound to, though there are likely a few subtleties in th

[2017-05-22 16:42] naved001 commented on #779
I am feeling a little out of the loop here.

1. Are we talking about `revert_port()` here or do we want to add a different reset_port() in future (and if yes, what would reset_port() do?)
2. At the moment there's no port initialization. This is something I suggested we do #761

When are we ever exposing access to STP at all?

[2017-05-22 18:27] zenhack commented on #779
I'm not entirely clear at what level STP comes into play? Are we just talking about telling the switch not to negotiate STP with stuff on that port?

It occurs to me that you could use the normal api operations to construct a topology that allows for loops; if we "disable STP" in whatever manner we're referring to, is that going to prevent those hosts from dealing with the situation internally? I

[2017-05-22 18:31] zenhack opened #781 "Associate NetworkingActions with Ports, not Nics."
Right now, the schema for NetworkignActions has a foreign key referencing the nic table. As a result, We can't do any port operations on ports that don't have an associated nic. This blocks #761.

It shouldn't be a *huge* change to have a port_id instead of a nic_id; we'd need to tweak a few other bits to match, but I don't think it would be that hard.

//cc @henn, @naved001

[2017-05-22 18:48] zenhack commented on #508
Closing this, since #683 has been merged.

[2017-05-22 18:48] #508 closed

[2017-05-22 18:54] naved001 commented on #688
closing this because #749 and #753 were merged.

[2017-05-22 18:54] #688 closed

[2017-05-23 16:10] naved001 commented on #781
I made some [quick changes](https://github.com/CCI-MOC/hil/compare/master...naved001:port-based-networkingActions) to support this. I have associated NetworkingActions with Ports, in addition to Nics, that way I didn't have to modify all the other functions. so minimal changes. I can call revert port on a port that's not attached to a nic.

If this approach seems reasonable, then I can finish this

[2017-05-23 18:48] zenhack commented on #781
I don't like having the redundancy, and I worry that allowing the nic to be null is going to introduce bugs.

We can probably spoof the old nic property with the `@property` decorator, and maybe even shove a deprecation warning in the getter/setter. This solves the redundancy issue, but not the null concern.

I'd also like to actually look and try to estimate how much work it would be to just upda

[2017-05-23 21:58] zenhack commented on #777
@naved001, @knikolla, interested in your thoughts as well.

[2017-05-23 23:20] zenhack commented on #417
So, I want to fix this already. Here's what I'd like to do:

* Rip most of the direct console support out of the API server proper.
* Add a separate daemon that will manage the consoles.

# Operation of the daemon

## "Admin" operations

These operations would require some kind of authentication/authorization. This could just be a password, which is stored by the daemon (salted & hashed) and also

[2017-05-24 18:07] henn commented on #714
Since we have show_node(), it sounds like maybe we don't need this for now.

This was more for API consistency, since we have list/show operations for other objects like networks, projects, and nodes.

[2017-05-24 18:07] #714 closed

[2017-05-24 18:09] henn commented on #550
Fixed by #569

[2017-05-24 18:09] #550 closed

[2017-05-24 19:19] naved001 commented on #321
Fixed by https://github.com/CCI-MOC/hil/pull/534

[2017-05-24 19:19] #321 closed

[2017-05-24 19:30] naved001 commented on #456
Closing this because it is duplicate of #575

[2017-05-24 19:30] #456 closed

[2017-05-24 19:31] naved001 commented on #523
closing this because #653 got merged

[2017-05-24 19:31] #523 closed

[2017-05-25 07:30] zenhack commented on #417
So I decided to just go ahead and *do* this, then talk about it. I wrote a prototype of the daemon:

https://github.com/zenhack/console-service

Not a bad way to spend an evening.

It mostly works -- need to call ipmitool instead of just making a network connection, and there's an imporant FIXME in there that needs dealing with. And we'll likely want to persist the data for resarts. But, other tha

[2017-05-25 19:44] naved001 commented on #417
@zenhack I like the idea of having a separate daemon mainly because it makes the API server simple and the console robust.
I'll need to take some time to look at the current code and the issues it has. Additionally, since I am not familiar with Go it will take me some time to comment on it.

[2017-05-25 20:30] Izhmash commented on #318
How tunable should the sleep time be? My first thought is to pass the time as a parameter in serve_networks() but that might not be the right direction.

[2017-05-25 20:46] zenhack commented on #417
Of course. Don't hesitate to pick my brain/tell me something needs documenting.

[2017-05-25 21:14] Izhmash commented on #318
@henn Should the solution from #323 that was merged into the devel branch be implemented in master?  It seems that is the accepted solution to this issue.

[2017-05-26 05:55] henn commented on #318
@lzhmash Nice find, though I think it only partially addresses the issue. The solution will need to check for configuration from the config file (see uses of `cfg` elsewhere in the code), then pass it to serve_networks() using the solution you found if the configurable was set.

[2017-05-26 17:40] naved001 commented on #781
I tried to estimate how much work would it be but ended updating everything. I'll make a PR soon.

[2017-05-30 15:18] henn commented on #779
@naved001 - yes, revert_port(), and my suggestion is to do this subsequent to #761.

@zenhack - the proposal is to disable STP negotiation with untrusted tenant ports.

Here is a [Cisco quote](https://www.cisco.com/c/en/us/td/docs/solutions/Enterprise/Security/Baseline_Security/securebasebook/sec_chap7.html) on the security risks:

As you say, though, the tenant could do things like run OVS and ac

[2017-05-30 19:02] zenhack commented on #779
I'd like us to do said research before implementing something else -- if it *is* possible, I think it would be the ideal solution.

[2017-05-30 20:18] Izhmash commented on #315
I've been working on finishing this one up.  Currently reviewing my changes and writing some tests.

[2017-05-30 21:14] #387 closed

[2017-05-31 02:28] #770 closed

[2017-05-31 15:14] SahilTikale commented on #777
What would we gain by doing this. Why do we need the flask test client ? I did not understand the context. Could you elaborate @zenhack.

[2017-05-31 15:35] SahilTikale commented on #776
If the test fails to execute (and not fails as intended) then that error may affect the tear down procedure.
for each test, the create_setup() creates the necessary haas.cfg file, initializes the database, starts servers and populates them. After each test it destroys all of it including the config files and database.

The test does not generate the file, it is generated before executing the test.

[2017-05-31 18:56] henn commented on #54
One other option for validating ports would be something like `show int <int_name>`, and see if there's an error.

[2017-05-31 18:58] henn commented on #54
Let's make this issue about validating ports, and make another one about the more general handling of errors.

To be honest, crashing might be the best we can do until the status API comes around, as the networking action queue is there to ensure things don't happen out of order.

[2017-05-31 19:05] henn opened #786 "Deal with networking action errors sanely"
Originally filed in #54, the NetworkingAction queue should properly catch switch errors and do something better than shutting down the serve_networks() daemon.

One complication is that HIL's serialization guarantees are based on the networking action queue being executed in order. If an error is encountered, it's not clear what the right thing to do is. Maybe email? Print an error on the console?

[2017-05-31 19:41] zenhack commented on #427
I think instead of having a success status/cleanup timeout, it would make more sense to just delete them and have the client interpret 404 as success -- it will have already gotten receipt of successful enqueuing, so this is the only possibility.

Proposal:

* Operations that create networking actions return some kind of identifier/ticket
* Add a show_networking_action or such that shows the curre

[2017-05-31 19:44] zenhack commented on #786
I outlined a proposal on #427. I actually think that (plus proper monitoring/alters) might be sufficient to cover this as well, given that errors aren't something that should happen during normal system operation. Because of that it might be better not to try to gracefully degrade (and just hard fail, like we do now), since it isn't clear that there's a safe way to continue in the general case.

[2017-05-31 19:48] SahilTikale commented on #427
I and @zenhack  discussed this couple of weeks back.
I like the proposal.

[2017-05-31 19:53] zenhack commented on #777
@SahilTikale, there are two things:

* I'm still of the opinion that we shouldn't be launching a real server in `tests/unit/client.py`, particularly because of the running time overhead, which makes it frustrating to use. Instead, we could pass in an HTTPClient based on flask's testing library, and have the client object use that to make requests. But
it's (very) hard to implement an HTTPClient on

[2017-05-31 19:55] zenhack commented on #776
@henn, what is the exact error? (do you have a travis log you can link to?)

[2017-05-31 19:56] zenhack commented on #427
Yeah, this is basically exactly what @SahilTikale and I talked about.

[2017-05-31 21:32] Izhmash commented on #315
Since I'm changing the primary keys in core `haas`, `haas.ext.switches.mock`, and `haas.ext.obm.mock`, do I need to have three separate migrations? Or do I only need one for all three?

[2017-05-31 22:15] zenhack commented on #315
You need separate ones -- the ones for extensions should only get run if those extensions are loaded.

[2017-06-01 20:54] naved001 commented on #447
Fixed by #767 and #780

[2017-06-01 20:54] #447 closed

[2017-06-01 21:03] henn opened #787 "Have revert_port() set VLANs based on HIL DB"
There are many use cases, where a sysadmin would want HIL to set a port's state to "whatever HIL thinks it should be". These include:
- A switch or port gets replaced and all of the hosts are moved to the new one
- Someone outside of HIL manually changes a port, and we need to be sure it's back to what we think it should be

I propose that the meaning of revert_port() be changed from "Ensure nothi

[2017-06-01 21:13] henn opened #788 "Need a mechanism to disconnect a NIC from a dead switch"
If a HIL-managed switch dies, it won't be possible to detach the node NICs from it since their networks won't be able to be disconnected as the switch is dead.

To fix this, it might make sense to allow a "--force" option to detaching a NIC, which leaves the networks in place so that the cables can be moved to a new switch. We can then add a call to revert_port()/reset_port() to port_connect_nic()

[2017-06-01 21:49] henn commented on #779
@zenhack - I don't think this is going to be possible, since if the switch were able to pass along STP frames, it would need to pass it along its backbone links, which would be trusted links that would cause the fabric to interpret them.

That being said, it'd be a fun little project for someone to capture an STP packet, then replay it on a port that has STP disabled and see if it shows up at the

[2017-06-01 21:57] henn commented on #647
@zenhack - I assigned this to you, since you're re-doing the console.

[2017-06-01 22:03] henn commented on #687
Notifying the admin would need to be a part of a monitoring infrastructure, which we currently don't have.

One thing I could foresee would be to have a `check_port()`, which validated that a port was in the configuration that HIL thought it should be. A script could call this on all ports periodically, and thus act as a sort of monitoring agent.

[2017-06-01 22:07] henn commented on #692
@zenhack  - do you think this would be useful for the new console service you're working on?

[2017-06-01 22:25] zenhack commented on #382
I think this is actually a duplicate of #427 (or vice-versa); what you're suggesting sounds like my proposal there.

(Just got the notification about you self-assigning).

[2017-06-01 22:34] zenhack commented on #692
@henn, I outlined a solution for the console stuff that I think is fairly simple and manageable. I haven't thought about it's generality, but I think something like it could be more broadly useful. It would be nice not to re-invent it over and over, if you guys are finding you need this elsewhere.

Please read the proposal (and maybe the code, since I did go ahead and implement it...) and tell me

[2017-06-01 22:35] zenhack commented on #647
@henn, great. Please read the proposal, as it contains a solution.

[2017-06-01 22:42] zenhack commented on #779
Ok, if it's not possible then we'll have to disable it. We should of course document that it won't work.

[2017-06-01 22:57] henn commented on #317
This should be done after the new CLI in #431.

[2017-06-02 00:17] henn commented on #417
A couple of thoughts/questions

* I like the event-y type design

* I like that we could potentially hide OBM creds and connectivity from the API by splitting the console service off.

* I'm concerned that keeping state in memory means one process crash causes the entire thing to lose state/synchronization with the HIL server and means there's no ability to connect until someone forces the HIL ser

[2017-06-02 00:55] zenhack commented on #417
Quoting Jason Hennessey (2017-06-01 20:17:59)

This is something I was still waffling on. It might be a good idea to
persist node/ownership info to a db at the very least. I think keeping
the tokens in memory is fine, since user can easily get a new one
(provided they are still authorized to do so).

Putting everything in memory was mostly because this was a prototype.

This sounds like additional

[2017-06-02 16:07] Izhmash commented on #315
@henn Would you like me to add the overflow test we discussed before I start the pull request?

[2017-06-02 20:56] Izhmash commented on #768
In `check_clientlib_response()` it says `except Exception as e:`.

@henn rather than using `FailedAPICallException`, should I just use `Exception`?  It would still centralize the error handling to `main()`.

I found for instance when I typed gibberish after `haas user_delete` with `FailedAPICallException` implemented I got a long traceback with a `ValueError`.  With `Exception` instead, the report

[2017-06-05 16:24] Izhmash commented on #768
Extending the last comment, [this comparison](https://github.com/cci-moc/hil/compare/master...Izhmash:replace_lambdas) illustrates my idea to centralize the error checking and to remove the lambdas.  Is it appropriate to fully replace the two original `except` blocks in main()?

[2017-06-05 18:46] Izhmash commented on #713
I'm going to start working on this one.

[2017-06-05 22:00] Izhmash opened #790 "Client library assumes 'regular' if 'admin' misspelled: user.py"
In haas/client/user.py, create() will accept any string besides 'admin' as a non-admin user.  If someone were to mistype 'admin', no error would warn the user of the mistake.

[2017-06-05 22:45] zenhack commented on #768
I'd actually like to keep the type-specific except blocks -- if we get an error we're not expecting I want it to stand out.

[2017-06-06 22:45] zenhack commented on #417
@henn, curious to your further thoughts.

[2017-06-06 22:51] zenhack commented on #487
This is arguably out of date since we've thrown out #483. Current discussions re: console stuff have us mostly avoiding long-lived connections in the API server anyway.

But, fwiw, there are things like gunicorn that are pretty much drop-in greenlet based webservers. I don't know how it would work with the direct socket calls we were making in that pr, but it seems like it would be generally simpl

[2017-06-06 22:54] zenhack commented on #464
Related: #788.

[2017-06-07 18:16] henn opened #794 "Migrate HaaS -> HIL"
We began the slow transition of moving the HaaS name to HIL. Let's finish it in both the code and file names.

[2017-06-07 18:26] henn commented on #764
FYI - we can treat this PR as a general *let's improve client library test performance*.

The client library tests caused Travis CI to go from ~15 mins to about an hour

[2017-06-07 18:46] zenhack commented on #764
I'd like to re-open the question of whether it's a good idea to actually spin up a web server for the client lib tests. I still maintain it isn't. But given these problems it seems worth discussing again (on the record this time...)

//cc @henn, @okrieg, @pjd-nu

[2017-06-07 18:48] zenhack commented on #794
This is a duplicate of #602; can we close this and discuss there?

[2017-06-07 19:03] henn commented on #315
Checklist we discussed:

- [ ] Do first PR with one migration.
- [ ] Do the rest

[2017-06-08 01:45] henn commented on #768
if we get an error we're not expecting I want it to stand out.
    I agree. In general, it's better to catch the least amount
      possible.
    Check out https://wiki.python.org/moin/HandlingExceptions

[2017-06-08 17:24] knikolla commented on #543
Fixed by #793

[2017-06-08 17:24] #543 closed

[2017-06-08 22:43] naved001 commented on #794
Yeah, I am gonna close this issue then since it's a duplicate.

[2017-06-08 22:43] #794 closed

[2017-06-09 13:51] #790 closed

[2017-06-09 13:56] Izhmash opened #795 "create() in haas/client/user.py accepts a string rather than bool for admin privilege"
This should be cleaned up to keep the client library as clean and streamlined as possible.

Suggestion: `create()` should take a boolean rather than a string for `is_admin`.  The CLI rather than the client library should then handle the strings ('admin', 'regular').  The approach would be similar to `set_admin()`.

[2017-06-12 14:42] Izhmash opened #798 "check_clientlib_response misspelling in haas/cli.py"
In `node_delete_nic()` the undefined function `check_client_lib()` is called rather than `check_clientlib_response()`.

[2017-06-12 19:19] zenhack commented on #798
Sounds like an easy fix :)

[2017-06-12 22:06] naved001 commented on #768
Fixed by #796

[2017-06-12 22:06] #768 closed

[2017-06-12 22:43] zenhack commented on #798
Fixed by #796

[2017-06-12 22:43] #798 closed

[2017-06-14 18:04] henn commented on #764
@SahilTikale - Any updates on this?

[2017-06-14 18:34] SahilTikale commented on #764
@henn from the last email I was under an impression that we have frozen making of new PRs since we want to make a shift from `haas` to `hil` in our codebase. Therefore I was waiting for that to happen before I could submit PR to improve the efficiency of the tests. Let me know if that is not the case.

[2017-06-14 19:58] zenhack commented on #764
The freeze was as of tomorrow. But at this point it's probably a bot late.

Also, for the record, at the HIL meeting today we discussed and agreed that we don't need to spin up a real web server in the client tests.

[2017-06-14 21:38] naved001 commented on #760
closing this because #772 got merged

[2017-06-14 21:38] #760 closed

[2017-06-15 20:18] naved001 opened #801 "Mechanism to deploy HIL in an environment which is already in production"
This came up while I was having a discussion with @henn about upgrading HaaS in one of our environments that do no support migrations. The problem is we already have some stuff that is configured (switch has certain vlans enabled on certain ports). We can do the following:

1. Tell admins to suck it up, start from scratch and then configure everything again using HIL. People may not be too happy a

[2017-06-15 20:20] naved001 opened #802 "HIL should add vlan-names on the switch when setting vlans on a port."
We can do this when we enable a Vlan on a port. So HIL can, at that point, set the VLAN name to be whatever is in the database with additional metadata. Something like *NetworkName*-*ProjectName*-*HIL*

That way an admin on the switch can see what networks (belong to)/(are in use) by HIL.

[2017-06-15 20:52] zenhack commented on #801
I don't think it makes any sense to introduce changes into HIL proper to deal with a setup using a particular old version -- we have an upgrade path now; I don't want to add stuff that will only ever be used this once. If you guys want to avoid the downtime, it may involve some custom hackery. At that point you guys could just write some icky script that injects the necessary database contents --

[2017-06-15 21:14] naved001 commented on #801
The issue is a bit general rather than just upgrading an old version that cannot be upgraded. The question is how do we introduce HIL to an environment where there's a bunch of stuff already configured. Unless, of course, we make it clear to new HIL users that you have to get rid of your existing config in order to use HIL.

[2017-06-15 21:23] zenhack commented on #801
Ok, so I'd like some more fleshed-out use cases. I can see the utility of being able to slide HIL under an existing setup without disturbing anything, but I want to figure out what our scope is.

[2017-06-15 21:39] naved001 commented on #801
Yeah, that's a better way to phrase it.

I have to figure that out too. Let me think more about it.

[2017-06-15 22:55] henn commented on #802
To clarify, we are considering setting the VLAN/Network-specific metadata field on the switch to be something. Since the tag may be too long for some switch fields, the driver would need to truncate it.

Note that this is similar to what #687 proposed to do for switch ports (adding a `Managed by HIL` tag), but instead of ports we would be doing it to networks.

[2017-06-15 23:06] henn opened #804 "Ensure that VLAN ids do not collide"
If one manually creates a network as an admin with an explicit VLAN id, then it is possible that the network ID / VLAN could collide with one in the VLAN pool.

If that were to happen, then someone else could end up with a network from the pool with the same VLAN id as the explicitly created network.

This seems like a bug to me. Can anyone think of a valid use case?
If not, then I suggest we put

[2017-06-16 03:45] zenhack commented on #804
We could debate the semantics of the word "bug" -- there have historically been numerous ways for an admin to break things if not careful, and this is one. We should definitely add a check.

[2017-06-16 16:11] henn commented on #410
CC @naved001 @zenhack

[2017-06-16 19:42] zenhack commented on #777
Since we more or less decided at the HIL meeting that we shouldn't be launching a web server, this is actually important for the change.

[2017-06-16 21:29] zenhack opened #806 "Several misspellings of "privileges""
Per @jeremyfreudberg's comment in #805:

This will be an easy one to fix.

[2017-06-19 20:35] Izhmash commented on #529
Would one API call that lists every extension suffice, or should there be an argument for the type of extension (auth, switches, etc.) to be described?

[2017-06-19 21:14] naved001 commented on #529
I think an API that lists everything should suffice. Just package the response in a way such that it's easier to get the stuff we need.

you can do that in the CLI

[2017-06-20 19:33] naved001 opened #808 "Why is the default channel `vlan/native`"
If a user does [not provide](https://github.com/CCI-MOC/hil/blob/master/haas/api.py#L394) channel when running `haas node_connect_network` it [defaults to](https://github.com/CCI-MOC/hil/blob/master/haas/ext/network_allocators/vlan_pool.py#L64) `vlan/native`. It would be better if it defaults to tagged network i.e. `vlan/<number>`. In that case the user does not have to remember (or do a look up u

[2017-06-20 21:17] zenhack commented on #808
Are you guys finding the common case to be hooking it up tagged? I think we did it this way because we thought you'd "normally" want it to be set as the native vlan, only using explicit tags if you had more than one network per nic.

[2017-06-21 14:49] Izhmash commented on #747
I'm going to start working on this one.  Right now I've gotten python-easysnmp setup locally on my machine to get up to speed with SNMP queries.  I'll talk with @naved001 later about getting access to our switches.

[2017-06-21 17:32] henn commented on #602
FYI - I'm trying to work on this in my branch, https://github.com/henn/hil/commits/rename
Am hitting postgres DB connection issues.

Related to #805

[2017-06-21 17:56] SahilTikale commented on #777
Today at HIL meeting in presence of  @henn @naved001 @okrieg @shwsun @Izhmash
we discussed about the unit tests of client library.

@henn mentioned that the dev server is very slow and we should move to the apache server that @knikolla had created for the integration tests. I do not mind using the apache server. I just want to make sure that it is a separate server with its own mock objects so as

[2017-06-21 18:09] SahilTikale commented on #777
As to the tests being very slow, I explained the team how making changes to the fixture `create_setup` I could speed up the tests. I had a patch that was completing the tests in 45 seconds what originally took more than 5 minutes for the client library tests. But with those tests some new race conditions emerged. Largely that was because I was using the same database across all the tests to avoid

[2017-06-21 18:20] henn commented on #410
Examples include:
- Jumbo frames are per-switch on our Dell switches and per-port on our Ciscos
-  QOS
- Disabling STP (#779)
- DHCP/ARP Snooping (#471)
- Enabling the tagging of DHCP packets with the port number (from @okrieg or @pjd-nu)

[2017-06-21 18:26] henn commented on #808
I agree.
If a user always wants tagged, they can always specify `vlan/<number>`

Closing. Please re-open if you want to discuss further.

[2017-06-21 18:26] #808 closed

[2017-06-21 18:29] henn commented on #808
If default-tagged networks were something folks desired, we could potentially do something as part of the CLI rewrite (#431).

[2017-06-21 20:25] zenhack commented on #777
These are *not* integration tests, we don't need a web server *at all,* regardless of whether it's apache or the dev server. Furthermore, if creating the db is the bottleneck in the sqlite tests, then gutting the http server should fix that, since we'll be able to use an in-memory db like every other test.

[2017-06-21 20:35] zenhack commented on #777
FWIW, the client library tests are taking much *much* **much** longer than 5 minutes by themselves.

[2017-06-23 00:06] henn commented on #602
FYI - We're still getting some issues with the rename.

[[Full output](https://gist.github.com/henn/068dabca855cb742f168f2f4dd331172)]

Abbreviated:

[2017-06-23 00:36] naved001 commented on #602
Just spitballing here; how about we disable the tests we think might cause problems, and then enable them one at a time to figure out what test(s) fail the build. That should help us narrow it down at least.

Actually, how about we disable the tests  that we know are passing at the moment (on your personal branch) to save some time on the builds and directly run the problem tests.

[2017-06-23 02:13] zenhack commented on #602
Let's try to keep the discussion on #805; Per my comment there I already narrowed it down to the migration tests, and the DB hanging issue; I think if we keep splitting the conversation we're going to spend more time going in circles.

[2017-06-23 02:14] zenhack commented on #602
Also, I can reproduce the problem with a local postgres, so a full travis run isn't totally necessary anyhow.

[2017-06-26 20:12] Izhmash commented on #747
For the PowerConnect, so far I've discovered that updating Access mode VLANs is easy using SNMP OID 1.3.6.1.4.1.89.48.62.1.1.<port#>.  I haven't yet found a way for accessing/editing the Trunk mode VLANs.  On a side note, I did discover that it's pretty easy to deal with VLANs on ports set to General mode.

[2017-06-26 23:51] zenhack commented on #747
Cool, keep up the good work.

The reason we wrote the telnet drivers in the first place was that @pjd-nu had spent about a day fighting with the powerconnect's MiB, and we decided it was best to just get *something* working so we could unblock things. So it might take a bit of digging to work everything out; keep us posted.

Happy hacking.

[2017-06-26 23:55] SahilTikale commented on #747
Best of luck @Izhmash. I am curious to know the outcome. Keep us posted.

[2017-06-27 17:37] Izhmash commented on #747
In exploring the options with SNMP so far I have a good feeling that it will be usable in our switch drivers. However, the drivers will still need to be unique for different switch models.  For example, the Dell switches have different SNMP MIBs than the Cisco switches, so a unified driver wouldn't be possible.

Is it an issue for anyone that the drivers wouldn't be unified? I understand that Pexp

[2017-06-27 17:40] zenhack commented on #747
That was my expectation.

Fine to start with one driver for now; they're independent, so no need to do them all at once.

[2017-06-27 18:01] henn opened #809 "Scope network names by project"
@xuhang57 and @naved001 had the suggestion that network names only need to be unique within a project instead of globally unique, as they are now.

To implement this, I think the only API change would be the specification of an optional `Project` specifier in node_connect_network() and node_detach_network(), which would only be used if the network was from a different project than the node.

This

[2017-06-27 18:10] naved001 opened #810 "Object metadata in HIL"
It would be nice to have time stamps like "date created" or "last modified" associated with objects like Projects and/or nodes. This would make a HIL GUI have some useful information for the end user.

This was suggested by @xuhang57

[2017-06-27 19:45] zenhack commented on #810
We already have something like this for nodes (originally added for some
use case to do with TPMs IIRC, but it's a generic mechanism). I could
see extending it to most/all objects.

Is that the kind of thing you had in mind?

Quoting Naved Ansari (2017-06-27 14:10:07)

[2017-06-27 19:47] zenhack commented on #809
What do you do with public networks?

I'm also not sure how I feel about the complexity to benefit trade-off
here.

Quoting Jason Hennessey (2017-06-27 14:01:29)

[2017-06-27 23:31] henn commented on #747
After an extended conversation with myself, @pjd-nu @naved001 and @Izhmash,  we decided that SNMP doesn't make sense. Reasons included:

[Quotes are from  [RFC 3535](https://tools.ietf.org/html/rfc3535)]

- The future for switch configuration seems to be the [NetConf](https://en.wikipedia.org/wiki/Netconf) API, which has advantages like:
  - transaction support, which could facilitate scaling the

[2017-06-27 23:31] #747 closed

[2017-06-28 01:26] zenhack commented on #747
Works for me.

FWIW, the points about "most SNMP implementations" and "newer hardware
will support this" don't necessarily preclude having drivers for
specific switches be SNMP based if it makes sense for that particular
switch -- the beauty of having a well-factored driver API. But I'm
totally find just deferring until we've got a more modern technology to
switch over to.

-Ian

[2017-06-28 01:27] zenhack commented on #747
(Also, thank you guys for recording the points made like this; this is
much better re: paper trail than we've mostly been).

[2017-06-28 13:20] Izhmash commented on #529
I have an implementation of this finished, going to wait until the name change to present it.

[2017-06-28 17:42] SahilTikale commented on #410
@shwsun @naved001 @Izhmash @zenhack
We discussed this how do we wish to expose to the user, what different services HIL provides for a given switch. Currently switches are not exposed to the users. They only know about nic and networks.
We think we should augment the one of the calls `show nic` or `show network` where we can list what other services HIL provides for that given switch.

[2017-06-28 17:48] SahilTikale commented on #602
@zenhack the issue to be renaming of branches in alembic.  He will be working on it today and will report the outcome soon.

[2017-06-28 17:50] SahilTikale commented on #54
Blocked on #805

[2017-06-28 17:57] SahilTikale commented on #764
@zenhack mentioned that we should not have a full fledged web server for these tests.
@henn mentioned moving this tests along with integrations tests.
I have a version of the current tests run faster than these tests, but I will not make the PR until #805 is resolved. Since there are difference of opinions on what approach is best, we should discuss it out here.
@okrieg @pjd-nu

[2017-06-28 18:00] SahilTikale commented on #315
Blocked on #805

[2017-06-28 19:58] naved001 commented on #810
Yeah, that, or if there is a way to know when the rows are created/modified in a table.

[2017-06-29 00:10] zenhack commented on #810
It's not obvious to me how we would do that short of actually updating a field every time we do a modification, which I'm not a fan of, though maybe there's a way. But I also want to err on the side of keeping complexity out of HIL core, and I don't know that I think it's a good trade-off from that perspective.

[2017-06-29 02:48] zenhack opened #812 "Fix CI re: new travis images"
See:

https://blog.travis-ci.com/2017-06-21-trusty-updates-2017-Q2-launch

We started getting CI errors about importing psycopg2 recently, and nothing has changed on our end, so I assume this is it. I'm going to use the deprecated version in the interest of unblocking the open prs, and then try to debug this myself, to get it working with the new image.

[2017-06-29 02:56] zenhack commented on #764
So, to clarify, at the meeting I raised the point that we've had different discussions with different groups of people and settled on different things; we were starting another one and I think it's proven a waste of time to have that conversation without everyone being able to participate, which means doing it here.

At the meeting I called into two weeks ago I thought we'd settled on not needing

[2017-06-29 03:01] zenhack commented on #410
To clarify/expand a bit on @SahilTikale's summary:

* The obvious thing would be to just query the switch, but the switch topology is currently only exposed to admins.
* We've talked about wanting to expose topology to the users in the future; one that happens we should probably move this information there.
* We *can* report this information via the affected visible objects, i.e. networks and NICs

[2017-06-29 20:11] shwsun commented on #764
Ok, so here goes my $0.02:
I agree that the improving CI test is prioritized right after the renaming PR. This is the tech debt we have to pay because back in time we just want the client lib to done. We don't want to small fixes that will break other things or some hacking just to ease the pain. What we want is to reduce the CI running time to a reasonable time frame. I estimate it to be a job th

[2017-06-29 20:40] zenhack commented on #764
I was actively against the current design at the time; my opinion re: the web server thing basically hasn't changed. The decision was made at an in-person meeting that was not recorded, and I was just out of steam on that PR; I didn't have the energy to protest anymore. If I wasn't so exhausted, I probably would have made more of a stink about it. When stuff turned out to be outright *broken* once

[2017-06-30 14:13] naved001 commented on #764
This might have been said before, but @knikolla once told me about this neat [requests-mock](https://pypi.python.org/pypi/requests-mock) library to mock out the HTTP requests. If all we want is unit tests for the client library, then we can use that instead of a web server, right?

[2017-06-30 15:53] Izhmash opened #813 "Error checking in client/base.py failing to send message"
`Unexpected error: msg` was popping up when running commands like `haas list_nodes all`.  I discovered that it originated from client/base.py on line 46: `raise FailedAPICallException(e['msg'])`.

However, when I printed `e` inside base.py by itself, I got a helpful error rather than just 'msg':
`{u'error': {u'message': u'The request you have made requires authentication.', u'code': 401, u'title':

[2017-06-30 17:06] zenhack commented on #813
Maybe it should be e['message'] instead of msg?

[2017-06-30 17:07] zenhack commented on #764
Yeah, that might be even better.

[2017-06-30 19:00] jeremyfreudberg opened #814 "A more flexible definition of HIL admin when using Keystone auth"
Right now (when HIL is configured to use Keystone auth) a HIL admin is a user with the `admin` role in Keystone. https://github.com/CCI-MOC/hil/blob/master/hil/ext/auth/keystone.py#L49

For those who are not Keystone experts, some background/clarity can be found here: https://github.com/CCI-MOC/hil/pull/615#r73472974

Ideally the definition of HIL admin would be more flexible: the simplest solutio

[2017-07-01 01:08] zenhack commented on #814
I think making the privileged role configurable is a good idea. The patch would be trivial.

[2017-07-02 09:51] #806 closed

[2017-07-03 20:09] naved001 commented on #781
Should we close this issue if we are going for a more generic mechanism? See this [comment](https://github.com/CCI-MOC/hil/pull/784#issuecomment-308510830)

[2017-07-03 20:55] zenhack commented on #781
Yeah, good call. Closing.

[2017-07-03 20:55] #781 closed

[2017-07-03 21:44] naved001 commented on #804
I [started working](https://github.com/CCI-MOC/hil/compare/master...naved001:unique-vlanids?expand=1) on this, and there are couple of issues that I ran into.

To make sure that VLAN ids don't collide I must mark them unavailable in the database. So, as long as the Vlan that an admin is using belongs to the allocation pool I can find it in the database and mark it unavailable (because [populate](h

[2017-07-04 03:08] zenhack commented on #804
So the situation you're concerned about is the one where hil.cfg is updated after-the-fact, to include a vlan that an admin has already manually assigned somewhere?

One thing we could do: in populate() we could check for any pre-existing networks using the same net_id that we're about to add. If we find one, we could set available = False.

[2017-07-05 17:15] SahilTikale commented on #410
@naved001 @Izhmash and I are in the meeting today.
I gave some thought to our discussions last week and I agree that putting this as a part of `show_nic` makes more sense than `show_network`. But I have some more questions, I will add it to the thread here after the meeting.

[2017-07-05 17:17] SahilTikale commented on #602
#805 closes this.

[2017-07-05 17:17] #602 closed

[2017-07-05 17:35] henn commented on #605
Addressed by #767

[2017-07-05 17:35] #605 closed

[2017-07-05 17:48] henn commented on #814
In theory, I totally agree with this. The "admin" check was a stop-gap until we had something better (which happened to agree with what OpenStack does by default IIRC).

My understanding is that roles in OpenStack services are defined by policies stored in json files.

Is this oslo.policy?

Is there a parser for these json files available via a straightforward library interface?

[2017-07-05 18:01] henn commented on #804
We've discussed two use cases for when an admin manually sets the VLAN for a new network:
1. When a VLAN is in the pool
2. When a VLAN is not in the pool.

The first case is the very worrisome that this issue is concerned with. For this one, we will mark the VLAN as being in use, and release it when the network is free'd. If it is in use, then we'll disallow the network create.

For the second use

[2017-07-05 18:05] SahilTikale opened #817 "Two admin networks with same VLAN id."
Currently only admin can make networks with specific VLAN ids that are not part of the default VLAN pool.
If for any reason, an admin tries to create another network and uses the same VLAN id by mistake, there is no check that HIL makes to prevent it from happening.

Since the VLAN id not part of the VLAN pool, there is no entry of it in the database.
A way a prevent this from happening is to chec

[2017-07-05 18:06] SahilTikale commented on #804
Use case 2 is covered in #817

[2017-07-05 18:15] henn commented on #817
Since this isn't a security issue like #804, I'm not convinced we need to address it; it's more about forcing a certain way of using HIL, which is debatable.

The use case I'm thinking of is that there's a central provisioning service (let's say BU provisioning), and the admin wants to give access to 2 different projects to it. To do so, the admin creates a network in the first project, and also i

[2017-07-05 20:22] naved001 commented on #356
now that hacking.rst doesn't exist, I'll close this issue.

[2017-07-05 20:22] #356 closed

[2017-07-05 20:27] naved001 commented on #372
A duplicate issue is raised here #631. I'll close this issue because the other one has more discussion on it.

[2017-07-05 20:27] #372 closed

[2017-07-05 20:28] naved001 commented on #631
Quoting @zenhack from #372 because he brought up an important point there.

[2017-07-05 20:39] naved001 commented on #547
fixed by #553

[2017-07-05 20:39] #547 closed

[2017-07-05 20:41] naved001 commented on #599
@SahilTikale Can you reproduce this?

[2017-07-05 20:43] naved001 commented on #713
#792 fixed this!

[2017-07-05 20:43] #713 closed

[2017-07-05 20:49] naved001 commented on #759
We can close this issue now, since the CI is stable after we merged #774

To discuss performance issues, we have #764 open

[2017-07-05 20:49] #759 closed

[2017-07-06 13:46] jeremyfreudberg commented on #814
@henn The JSON-stored policies consumed by OpenStack services are, in fact, oslo.policy -- which serves as both the parser of those files and can act as the enforcer of the policies within the API code.

oslo.policy is powerful - you can define policy not only by Keystone role, but also by membership in Keystone project/domain, being a specific user, etc. And the rules can be combined, and are per

[2017-07-06 20:07] Izhmash opened #819 "Keystone: missing OpenStack creds exception not printing"
Although there's `raise KeyError("Required openstack environment variable not set.")` on [line 143 of hil/cli.py](https://github.com/CCI-MOC/hil/blob/master/hil/cli.py#L143),  it only printed 'msg'  when I was missing one of the credentials.  Maybe related to #813 ?

[2017-07-07 21:39] SahilTikale opened #822 "Enable webhook for readthedocs so that our docs stay in sync."
Need to update the read the docs. Replace all instances of `haas` with `hil`

[2017-07-07 21:56] naved001 commented on #822
Ah, it should be run automatically and build the docs from latest master.  But anyway, I'll see why that is not happening.

[2017-07-07 22:03] #464 closed

[2017-07-09 19:27] zenhack commented on #817
Yeah, I also don't really see this as a problem.

[2017-07-09 19:35] zenhack commented on #814
I am very against letting any of this creeping into hil core, though I'm okay making the extension able to be smarter about how it determines admin/project access. I agree we should limit the initial scope though.

[2017-07-10 14:17] naved001 commented on #822
@SahilTikale It's fixed now. Somebody with enough access should setup a webhook with readthedocs for it to build automatically everytime a PR is made.

[2017-07-10 15:58] naved001 commented on #318
Fixed by #785

[2017-07-10 15:58] #318 closed

[2017-07-10 21:16] shwsun commented on #822
@SahilTikale Can you take a second look at the readthedoc page? I think the name changing thing is already handled. If you can confirm it then we can close this issue

[2017-07-10 22:41] naved001 commented on #822
@shwsun I triggered the rebuild to reflect the new change. But I would like to keep this issue open until someone with enough privileges enables the webhook for readthedocs so that it happens automatically in the future.

[2017-07-12 17:02] SahilTikale commented on #817
What I meant was if another person in the `administration team` makes a new network having the same VLAN number **by mistake** That becomes a problem for a variety of cases. What if that vlan is for private use of bunch of groups and not everyone is supposed to have access to it ? What if the VLAN to provide internet and VLAN to scrub nodes before they are put back in the free pool has the same VL

[2017-07-12 17:03] SahilTikale commented on #817
Since we have ACLs implemented in HIL we do not need this extra feature which does the exact same thing.
Generally I am not a fan of having multiple code paths to achieve the same end result.

[2017-07-12 17:31] naved001 commented on #822
@SahilTikale or I don't have admin access to the HIL repo. @henn @knikolla can either of you enable the integration for readthedocs with our Repo?

[2017-07-13 16:28] zenhack commented on #764
So I spent a bit of time poking at requests-mock; it looks like it would be a big chunk of work to move this over to that, since we'd actually have to spec out the responses for each test in detail.

My inclination is to do the thing I outlined before (fix #777, then use a flask based mock object). If you want to put a label on it "functional testing" might be better than unit; this is true for a

[2017-07-13 17:28] naved001 commented on #475
do we really need to support ancient hardware at this point? I remember upgrading the sun machines' IPMI to work with our current driver (see #694)

[2017-07-13 17:31] zenhack commented on #475
I was against the idea when this issue was opened, and yeah, I think it's still not worth it, and we should close this. @henn, how do you feel about this these days?

[2017-07-13 17:37] naved001 commented on #461
yeah. APIError returns 400 (Bad request) but resource exhaustion is not a users fault.

[2017-07-13 17:38] naved001 commented on #54
#816 fixes this

[2017-07-13 17:38] #54 closed

[2017-07-13 18:04] zenhack commented on #461
Hm, then maybe we should be using something else on your vlan pr?

[2017-07-13 18:47] naved001 commented on #461
The name AllocationError sounded appropriate to me. I just dont think the error code is appropriate.

[2017-07-13 19:22] zenhack commented on #461
Right, but if we're going to change it to 5xx, we should probably use something else for #823. Maybe BlockedError?

[2017-07-13 19:51] naved001 commented on #461
Cool. so in #823 I'll use BlockedError (code 409 = conflict ). But for this issue we should probably change AllocationError to some 500 level ServerError

[2017-07-13 20:23] zenhack commented on #461
Yep.

[2017-07-13 20:24] zenhack commented on #461
I'm going to go ahead and change this.

[2017-07-14 15:44] #461 closed

[2017-07-14 18:41] naved001 commented on #557
@Izhmash you run HaaS in devmode with postgresql? Can you see if there's something in the documentation that you can add that would be helpful for others?

[2017-07-14 18:46] knikolla commented on #764
I agree with @zenhack.

[2017-07-14 18:49] Izhmash commented on #557
I'm using HIL with postgres locally, yeah.  I'll try to remember how I set it up and add any comments.

[2017-07-14 18:52] knikolla commented on #822
@naved001, I don't have access to the readthedocs admin page for hil, but I can add the webhook if you give me the payload url as per the guide.

[2017-07-14 18:54] zenhack commented on #557
The process is pretty much the same as for production -- install postgress and psycopg2, create a postgres db, and put the url in hil.cfg. you can put it in testsuite.cfg to run the tests against postgres.

The error @SahilTikale mentioned above looks like the c toolchain isn't installed, which will cause problems with any Python library that calls C.

I see the value in having extra docs around t

[2017-07-14 19:04] zenhack commented on #777
Fixed by #825. I will soon submit a PR adding a flask test object implementation, and having the client lib tests use it.

[2017-07-14 19:04] #777 closed

[2017-07-14 19:15] Izhmash commented on #557
The only thing extra I noticed when configuring for Postgresql testing was that I needed a database called 'hil_tests'.  I remember one of the tests specifically was trying to access a db with that name, and when I tried to point testsuite.cfg at my database named 'hil' it didn't work.  That part got me hung up a bit.

[2017-07-14 19:27] zenhack commented on #557
Huh, I haven't seen that -- my local postgres db is called hil. Which test was it?

[2017-07-14 19:37] Izhmash commented on #557
I can't remember which test, but it might have something to do with how Travis installs the databases (https://github.com/CCI-MOC/hil/search?utf8=%E2%9C%93&q=hil_tests&type=).

But anyway I was trying to figure out if it was at all possible to run the tests with a different DB name, and it sounds like you can.

[2017-07-14 19:40] zenhack commented on #557
Yeah, it should work with any name -- hil_tests is just what we happen to use on travis.

[2017-07-14 20:09] naved001 commented on #580
Looks like this was fixed by #581 see commit [message here](https://github.com/CCI-MOC/hil/pull/581/commits/973a176c22b957b7e89a3280d6d3dd8a62f3f557).

[2017-07-14 20:09] #580 closed

[2017-07-14 20:21] naved001 commented on #314
@henn this is the only 0.2 bug left now

[2017-07-17 14:52] naved001 commented on #776
this wouldn't be an issue once #827 is merged since we won't create or remove any config file.

[2017-07-17 17:25] Izhmash commented on #819
I'll work on this now.

[2017-07-17 20:46] naved001 commented on #819
fixed by #828

[2017-07-17 20:46] #819 closed

[2017-07-17 20:51] naved001 commented on #764
#827 fixes this.

[2017-07-17 20:53] naved001 commented on #813
#828 fixes this.

[2017-07-17 20:53] #813 closed

[2017-07-17 20:59] #776 closed

[2017-07-17 21:00] naved001 commented on #804
#823 closes this

[2017-07-17 21:00] #804 closed

[2017-07-18 18:32] shwsun commented on #410
Sorry for the delay, was trapped into sth previously. Here are some more questions/thoughts:
1. I think exposing network topology is very important and seems very related, is that on our roadmap somewhere?
2. In the long run do we want to let admin make `network` with different functionalities beforehand? (s.t. users can choose a `network` with QoS, or a `network` with Jumbo frame?) My $0.02 here

[2017-07-18 19:30] naved001 commented on #529
#820 fixes this.

[2017-07-18 19:30] #529 closed

[2017-07-18 19:39] henn commented on #410
The first implementation of this will be #755.

Now that we have a decision, closing this out.

[2017-07-18 20:14] naved001 commented on #822
@henn enabled it. I'll test it with a new PR before I close this.

[2017-07-18 20:24] henn commented on #764
#827 didn't parallelize the tests, even though it did reduce the time significantly.

Re-opening for that purpose.

[2017-07-18 20:25] #764 closed

[2017-07-18 20:58] henn commented on #631
Per discussion with @naved001 and @Izhmash, we probably want to keep the default as "soft reset". We can change the default later if we decide we want that.

[2017-07-18 21:13] zenhack commented on #631
Can you summarize the discussion? I don't have a strong opinion, but I'd like to have a paper trail for technical decisions like this.

[2017-07-20 03:15] henn commented on #691
I believe this was addressed by #736. Please re-open if not.

[2017-07-20 03:15] #691 closed

[2017-07-20 03:19] henn commented on #518
The first concern (postgres support) was addressed in  #561

The second (deployment tests) is being worked on right now by @SahilTikale as part of his OVS work. Assigning this to him.

[2017-07-20 03:29] henn opened #833 "Improve Travis speeds: caching"
A lot of the test Travis time (about 4 mins in a [recent run](https://travis-ci.org/CCI-MOC/hil/jobs/255509334)) is spent doing pip install.

Maybe we could use Travis's [cache feature](https://docs.travis-ci.com/user/caching/) to cache the entire virtualenv?

We would need to be careful to invalidate it occasionally to be sure none of the dependencies broke us (as they have in the past).

[2017-07-20 03:47] henn opened #834 "Improve Travis speed: switch back to container"
If we switch back to Travis's container infrastructure, our CI will [start faster and possibly have more CPU resources](https://docs.travis-ci.com/user/reference/precise/#virtualization-environments).

The downside is that we lose sudo ability.

From what I can think of, the biggest holdback would be apache, since it's a system-installed application and we need to mess with its config file.

Note

[2017-07-20 04:03] zenhack commented on #518
I think we actually have the deployment tests running in travis now we can probably close this

[2017-07-20 04:18] zenhack commented on #833
The other thing is, about half of that is keystone, which we could split off into its own section of the build matrix. I'm working on this on a branch, but still working out the kinks:

https://travis-ci.org/zenhack/hil/builds/255503286

It shaves off about 3 minutes total; the postgres run is the longest at 8 min, which previously was 11 min.

It might be good to have a more centralized list of p

[2017-07-20 04:49] #577 closed

[2017-07-20 04:53] zenhack commented on #834
We'd still need to configure apache, which may be harder to do without root.
Can we maybe split it off into it's own section of the build matrix, and use containers for most stuff, only having the stuff that needs root in the vm builds? Or does travis not let you mix & match?

[2017-07-20 04:53] henn commented on #518
@SahilTikale is working on connecting VMs with OVS in a VM. We could potentially deploy that to Travis as a sort of end-to-end deployment test.

We could track that with this issue or open a new one (either is fine by me).

[2017-07-20 05:07] zenhack commented on #314
I'm going to take @matsuuran off of this. Does anyone else want to pick this one up?

[2017-07-20 05:11] henn commented on #833
RE: splitting off keystone, do we want to test `DB=postgres` **and** `DB=sqlite`?

RE: other optimizations, in addition to #834 , the other idea I had was to enable parallel tests for postgres by having tests use different DBs.

This could take the form of either using the PID as part of the DB name (assuming there were ncpu stable processes) or generating different ones with random UUIDs (maybe t

[2017-07-20 05:15] zenhack commented on #833
Quoting Jason Hennessey (2017-07-20 01:11:11)

I would just do SQLite; the keystone auth backend doesn't touch the DB
at all, so it doesn't seem worth the expense.

Given that we basically didn't get a speedup for doing this with SQLite,
I'd want some reason to believe that Postgres would be different before
we expend the effort, esp. since it probably will be trickier.

[2017-07-20 16:12] naved001 commented on #822
Done, it works.

[2017-07-20 16:12] #822 closed

[2017-07-20 20:50] naved001 commented on #631
As far as I remember the discussion was just that let's do soft reset by default.

[2017-07-20 21:16] geedo0 opened #836 "Support for booting nodes in UEFI"
First of all, I spoke with @naved001 and we agree that power_cycle() should not assume that the user wants the next boot device to be set to PXE. Instead, they should use the set_bootdev() routine prior to the boot. Further, with these specific options, ipmitool forces the boot mode into legacy BIOS mode which completely prevents any UEFI based boot chains with HIL.

.../obm/ipmi.py:72
``
    def

[2017-07-21 15:53] zenhack commented on #631
Ok, so basically you guys just picked one, without terribly specific reasoning? (I'm fine with this, but just want to make sure the reasoning is recorded)

[2017-07-21 16:01] Izhmash commented on #631
The choice wasn't super important, but we chose soft as a default because hard reset can potentially cause damage.  Another reason is so users can keep using the command as they used to.  When omitting the `force` parameter, it will function will operate just the same as before.

[2017-07-21 16:04] zenhack commented on #631
Cool, works for me.

[2017-07-21 16:20] zenhack commented on #836
We could add an (optional) field to the body of the request, so to force EFI boot, you'd do:

[code]

[2017-07-21 20:30] henn commented on #836
Now that we have set_bootdev(), I agree that it's no longer necessary to set a default boot device (to support that, the [deployment guide](https://github.com/CCI-MOC/hil/blob/master/docs/deployment.md) recommends having a particular boot order as well).

Regarding selecting UEFI, I agree with @zenhack - we can add it as an optional parameter to set_bootdev(). It might make sense to make the defau

[2017-07-21 21:20] henn opened #837 "OBM driver for Intel AMT"
We may want to support Intel AMT as an OBM driver at some point in order to support desktop/laptop systems in HIL. Our use case would be supporting the dev laptops we use in Secure Cloud.

Due to [security issues](https://security-center.intel.com/advisory.aspx?intelid=INTEL-SA-00075&languageid=en-fr), admins would likely only want to expose AMT in relatively trusted environments. My understanding

[2017-07-25 14:42] #338 closed

[2017-07-25 18:28] henn commented on #836
FYI - from [api.py/show_node()](https://github.com/CCI-MOC/hil/blob/af98ba26f79bc884c9189341210e21f05c6b1b3d/hil/api.py#L1139), it looks like any user can do a show_node() on a free node.

So I think storing it as a metadata item is viable.

[2017-07-25 19:00] henn opened #840 "Generic mechanism for switch commands"
It sounds like now might be the time to implement the more general Switch-command option/closure thing we discussed in #784 and #508. This is due to to #755.

While designing this, I'd suggest to keep in mind that we would like to use this as a mechanism for keeping a compromise of the front-end HIL REST API server from being able to run arbitrary commands against or get the credentials for the sw

[2017-07-25 19:01] henn commented on #755
This is dependent on #840.

[2017-07-25 21:31] zenhack commented on #840
My original thought was to basically do JSON rpc:

http://www.jsonrpc.org/specification

The 10,000 foot view is:

[code]

There's a response object that looks pretty similar, but has either "result" or "error" instead of "params". "id" is used to correlate requests and responses. Leaving off "id" indicates not wanting the result.

One thing that makes this a little awkward in the current context

[2017-07-26 15:46] Izhmash commented on #836
Do we want this in the CLI too? Or is API/Client sufficient.

[2017-07-26 16:55] zenhack commented on #836
Definitely need to expose it via the client library.

[2017-07-28 15:38] Izhmash commented on #836
Current idea for the new structure:
- A new boolean argument `efi` that determines Legacy vs. UEFI will be passed to `set_bootdev()`.
- `power_cycle` will no longer have the `_ipmitool()` PXE call on its first line.
- Nodes store Legacy/UEFI as a metadata item
- `node_set_bootdev` api call will take an optional `efi` argument.
    - If `efi` isn't set it will try to choose legacy/uefi from the nod

[2017-07-28 16:26] zenhack commented on #836
I don't like the idea of hil directly acting on the metadata.

Re: what to do if set_bootdev isn't called, yeah, it will just default to whatever the BIOS is set to. The deployment docs suggest specifying a particular order, so I think that's OK.

[2017-07-28 16:33] Izhmash commented on #836
Maybe instead then we do not have a default, and if someone calls `node_set_bootdev` without an `efi` option, it will request that the user choose one and display what the metadata option is set to?

[2017-07-28 17:16] henn opened #841 "Ability to enable/disable physical ports"
For nodes on the free list (especially on switches where we must assign a native VLAN), it might make sense to disable the port to ensure a node isn't able to communicate.

My thought is that we should have:
- API commands to enable/disable a port
- These commands should be runnable by an admin or the authorized node user
- These commands should be treated like NIC operations and placed into the N

[2017-07-28 17:21] henn opened #842 "Event handlers"
It may make sense to have events where the HIL admin can cause arbitrary logic to run.

For example, before giving a node to a user out of the free pool, it could implement:
- a quota check
- billing info
- node operations (power on, assign to a provisioning network)

Places we could hook:
- Node alloc/free
- Net alloc/free

[2017-07-28 18:30] naved001 commented on #728
Re-opening this issue.

Discussed this in person with @radonm and @knikolla

[2017-07-28 20:46] zenhack commented on #842
+1.

This could be as simple as doing a POST on some endpoint for notifications. Re: alloc/free race conditions, we could have an option that makes it so when a node is "freed," it goes into a sort of "limbo," the external hook is notified, and that hook makes a separate call to actually return it to the free pool.

We could also, rather than having an explicit option, just have this happen when y

[2017-07-28 22:07] henn commented on #834
From [what I can tell](https://docs.travis-ci.com/user/reference/trusty/), one only gets a single .travis.yml, which has a single global "sudo" statement.

Another option would be to add another CI service like CircleCI, though this would increase the points of failure.

[2017-07-28 22:42] zenhack commented on #834
Quoting Jason Hennessey (2017-07-28 18:07:16)

Darn.

Not worth the trouble, I think.

[2017-07-31 15:14] naved001 commented on #728
@henn @zenhack I am putting this for 0.2 milestone because this seems pretty serious.

[2017-08-01 20:11] henn commented on #836
The issue here is that nodes can differ on what they support, so HIL needs a per-node way of representing that.

If we go with @Izhmash 's suggestion where we require the tenant to always specify an option, the tenant still needs a way to figure out what their node supports.

I don't see an easy/clean way of doing this other than using the metadata. Thoughts?

[2017-08-01 20:27] henn opened #844 "Dell s3048-on switch driver/Dell NOS9"

[2017-08-01 20:38] henn opened #845 "JUNOS 15.1 driver"

[2017-08-01 20:53] Izhmash opened #846 "Require a native VLAN before making trunked ones"
- Most switches always require a native VLAN
- Part of the solution to getting rid of the dummy VLAN
- Points of discussion:
    - Should this requirement be configurable?

[2017-08-01 20:57] Izhmash opened #847 "Last VLAN cannot be detached -> can't have port without VLAN"
- Strategy:
    - Power off port when last VLAN (native) is detached
    - Power on port only if a native VLAN is attached
- Part of solution to removing the dummy VLAN

[2017-08-02 16:34] Izhmash commented on #315
Addressed by #839

[2017-08-02 16:34] #315 closed

[2017-08-02 18:52] naved001 commented on #847
@henn, @Izhmash @SahilTikale and I discussed how we handle native VLANs in HIL.

In most of the switches we have, we just can't remove the native VLAN and it always defaults to VLAN 1 in most cases.

Our current workaround for this is to set it to some dummy VLAN and then disable it. It seems like we are relying on a weird glitch in the switch that we can set native vlan of a port to a disabled vl

[2017-08-02 18:56] naved001 commented on #847
I think #846 and this would be bundled together

[2017-08-02 18:58] naved001 commented on #841
After our discussion in the HIL meeting yesterday (which I have summarized [here](https://github.com/CCI-MOC/hil/issues/847#issuecomment-319764311)) would we even need this API ?

[2017-08-02 19:01] zenhack commented on #847
@naved001, that sounds reasonable to me.

[2017-08-02 20:03] naved001 opened #848 "need a way to ensure that nodes are powered off and ports shut off when a node is released back into the free pool"
We don't want people to run malicious stuff and then release their nodes into the free pool.

* if we turn off the switch port like we discussed in #847 then I think this problem is solved.

The other related issue is that we want to ensure that a node is powered off before it's released into the free pool. So we all thought of having a pre-free-pool (or a maintenance pool only accessible to an ad

[2017-08-02 20:14] Izhmash commented on #848
@naved001 you covered most of it.  The biggest reason we wanted the maintenance pool was because of the race condition that is created if a node goes straight into the free pool.  Another question was how configurable the maintenance pool should be.

[2017-08-02 22:14] zenhack commented on #848
Quoting Ian Ballou (2017-08-02 16:14:58)

I would basically add a config option with a value that's a URL, and
have hil POST to that URL when a node is released. Administrators can
set up some other service to respond to those. And we'll have another
call to actually put the node back in the free pool, once it's been
cleaned.

We could have it default to the current behavior if no URL is supplied.

[2017-08-06 19:48] SahilTikale opened #849 "How do we manage dependencies for extension modules in HIL"
Hi,
I am currently writing a driver for Juniper. I am using a specific python library called [PyEZ](https://github.com/Juniper/py-junos-eznc) for administering the switch. The library is a wrapper over [netconf](http://www.rfc-editor.org/rfc/rfc4741.txt).

This library is a dependency requirement for the juniper driver only, therefore required only in HIL environments that manage Juniper switches.

[2017-08-06 20:13] zenhack commented on #849
Right now we're just leaving out the dependecy, and mentioning it in the docs. I've actually been thinking about this lately, and have some ideas for a better approach -- watch for a pr in the next few days. For now, just omit and document.

[2017-08-07 20:13] henn commented on #834
It turns out I was wrong -- we **can** mix sudo and non-sudo travis jobs!

Here was the amazing response Travis support sent back to me:

[code]

BTW - I still think we'll get more performance bang for our buck by doing #833 first.

[2017-08-08 17:50] zenhack commented on #849
So we just merged #851, which deals with this more systemtically. The thing to do would be to add another extra for that driver; I'm going to ask that you update that in your current pr. I'm closing this issue as well.

[2017-08-08 17:50] #849 closed

[2017-08-08 18:19] naved001 commented on #314
@zenhack @henn

[code]

Why can't we just do this?

[2017-08-08 18:27] henn opened #853 "Need more hops to ensure EFI boot order is changed"
In conversation with @vathpela from Red Hat, it sounds like when EFI is enabled the OS is able to modify the boot order.

This means that using the hard reset primitive from #835 won't be enough to wipe a malicious attacker's OS from the system, as the malicious OS could be waiting for the next boot setting to change, then change it back to what they want (like a disk with maliciousOS).

We probab

[2017-08-08 18:36] zenhack commented on #853
Maybe instead of (2), do a hard *shutdown*, then add (4): turn machine on. This avoids some tricky race conditions. We could add a call to view the power status of the machine as well.

[2017-08-08 18:46] zenhack commented on #314
@naved001, I think that does work -- would want some tests, obviously, which was the bigger part of #673, and I the bit that it got stalled on. The rest of it was a fairly simple change at the time, though it's bitrotten beyond recovery at this point.

If you want to wrap that up in a pr with some tests, we can knock this off the list.

[2017-08-08 18:47] zenhack commented on #314
What I'm not sure about is whether it's safe to modify the contents of that query while iterating over it, but if not we can just store stuff in a list first.

[2017-08-08 19:31] SahilTikale commented on #853
@pjd agreed that this would solve the problem.

[2017-08-08 19:40] SahilTikale commented on #844
@naved001 is waiting on Dell support to report back on how to configure RESTapi server.

[2017-08-08 19:48] SahilTikale commented on #836
HIL needs to define a namespace to keep per-node information that HIL core uses rather than provided by the OBM drivers.

[2017-08-08 20:12] zenhack opened #854 "Mechanism to validate networking operations on a per-switch basis"
Right now we have a bunch of logic in a few API calls for validating networking actions before we queue them up. However, some switches are capable of operations that others are not, for example, the powerconnect and nexus drivers can support configurations where there are trunked vlans on a port but no native VLAN. #852 adds checks for this specific case to the API calls, but that's problematic b

[2017-08-08 20:13] zenhack commented on #410
I'm not sure I understand why this was closed? we've come to a consensus about what to do, but this still isn't done -- this should probably remain open until we've actually merged a solution.

[2017-08-09 14:32] Izhmash commented on #836
I have the code written for UEFI booting, currently trying to figure out why ipmitool is failing to boot the Kumo PowerEdge M620's into UEFI.  Perhaps some machines support UEFI but don't support ipmitool's `efiboot`?

[2017-08-09 14:40] geedo0 commented on #836
It's important that the thing you're booting explicitly supports UEFI, otherwise the firmware will just failover and reboot. Have you successfully booted them with UEFI enabled manually yet?

[2017-08-09 14:45] Izhmash commented on #836
Yeah, the M620's can boot UEFI if I set them manually in the BIOS setup.  I'm planning on testing this with another type of server soon to see if it's an issue with the machine or ipmitool.

[2017-08-09 19:52] Izhmash commented on #836
So for the namespacing, we could have a metadata option such as `__bios` which can accept something such as `__legacy` or `__uefi`.  The API would check for this namespaced metadata in `node_set_bootev()`

[2017-08-09 20:48] zenhack commented on #836
1. Probably better to make it a list; many machines support both mechanisms
2. There's no reason to apply the prefix to values; namespacing the keys should do the trick.
3. Nitpick: maybe pick something other than `__bios`, e.g. `__boot_firmware`; `__bios` is sometimes taken to imply the classic PC bios, whereas boot firmware could be anything that falls into that role (efi, the pcbios, openfirmwa

[2017-08-15 15:20] naved001 commented on #844
the dell s3100 doesn't have any APIs. So I got the s3048-on that has REST APIs.

[2017-08-18 09:41] zenhack commented on #417
I've been thinking a bit more about the data sync issue. I have a slight tweak in mind for the current console serer API, that I think solves the sticking points with the current mechanism.

Instead of the console tracking an owner per node, it tracks a version number, which is incremented every time the node is modified, and can be incremented manually via an api call. Incrementing the version in

[2017-08-18 21:43] zenhack commented on #487
I'm going to propose closing this, for the reasons I outlined above. I'll wait a bit for folks to raise objections/discuss, but if I don't hear anything for a while I'll just close.

[2017-08-18 21:50] henn opened #858 "Handle switch errors gracefully"
In [hil/deferred.py](https://github.com/CCI-MOC/hil/blob/master/hil/deferred.py#L75), we currently don't catch any errors that might occur. In practice, this means that the Network Action Server (aka `hil serve_networks`) process dies.

This likely can happen for two reasons: a misconfiguration (ie - port name is incorrect/invalid), or a switch error.

We might be able to something more sensible i

[2017-08-22 01:49] #314 closed

[2017-08-22 17:39] naved001 commented on #233
we have migration scripts for that now, yeah? can we close this?

[2017-08-22 18:58] zenhack commented on #233
Yep, closing.

[2017-08-22 18:58] #233 closed

[2017-08-22 20:11] SahilTikale commented on #845
still working on it.

[2017-08-23 20:24] naved001 commented on #417
sorry but I don't understand the data sync issue. What's wrong with tracking the owner per node? Could you describe a scenario where this would be a problem? Thanks!

There's bunch of other stuff as well, like power cycle, changing boot device. We might as well move all of OBM stuff into this daemon. And if it has it's own database then this would need it's own migration scripts too I guess.

[2017-08-23 20:29] naved001 opened #860 "Errors when using revert port on a mock switch"
I registered a mock switch with a port `gi1/0/1` on it. And I connected it to a nic on some mock node.

I first connected that nic to a network, which was fine and then when I ran `port_revert` on it it gave me this error.
`Unexpected Error: gi1/0/1` which is coming from the CLI.

So I ran this with `pdb` inspecting all the steps and I then didn't get this error. Any debugging tips?

[2017-08-23 21:41] zenhack commented on #417
Quoting Naved Ansari (2017-08-23 16:24:36)

During a project_connect_node or project_detach_node, the API server
needs to update the owner of the node with the console daemon. Because
the call to set the owner in the console daemon isn't protected by a
transaction, if either daemon dies between updating the owner in the
console daemon, and committing to the HIL api server's database, then
when the

[2017-08-24 17:27] naved001 commented on #417
Yes. Now I have some more questions.

how does the console service know that a node was modified? Does HIL call the console service to update the version number when it does a `project_connect/detach_node`?

It's not very clear how this works. As a user who wants to request a new token, what do I pass to the console service?

[2017-08-24 19:28] zenhack commented on #417
That's the idea.

The whole thing works exactly as before, except that when the api server creates a token for the user to use, it supplies the expected version number, instead of the expected owner.

Basically, everything that used to manipulate the owner now just bumps the version. The rest of the process is the same.

[2017-08-24 19:54] naved001 commented on #417
Cool. Seems fine to me.

@henn you have any comments on this?

[2017-08-29 19:29] henn commented on #844
@naved001, @vsemp and I discussed using the REST XML API vs. using the REST API that runs CLI commands.

It sounded they're pretty similar when things are good, but that the straight XML API would likely give us better error messages back, so we should go with that when possible.

The only thing keeping us from that is due to the XML API not having support for listing the VLANs on a port. For that

[2017-08-30 15:25] naved001 commented on #844
I am thinking of doing more stuff with the REST API encapsulation of CLI commands because the regular API is obnoxious and the [documentation](http://www.dell.com/support/home/us/en/19/product-support/product/force10-open-automation/manuals?lwp=rt) isn't helpful.

For example: When trying to do a GET on a VLAN; you can see that port `gige-1-3` has 3 untagged Vlans (10, 20 and 30) which is incorrec

[2017-08-30 15:38] naved001 commented on #844
Looks like I can delete the untagged interfaces from the other Vlans by doing a DELETE on `long-url/untagged`. And then I can PATCH it to other interfaces.

But the delete itself might fail, if the interface/vlan was configured using the CLI. It's like if I set things using the CLI and then do a GET on that interface using the REST API, it gets out of sync. So I am not sure if I can count on the R

[2017-08-31 17:20] zenhack commented on #844
Hard for me to weigh in with much insight having not played with the switch myself. It sounds like the CLI may be the more reliable option though.

[2017-09-05 19:20] henn commented on #410
My suggestion is that:
* We have per-switch capabilities (like a giant ENUM)
* These capabilities are checked in api.py

That way, api.py doesn't need to do switch-specific logic; each switch's capabilities are exported in a generic manner.

For example, we could have a PER_PORT_JUMBO_FRAME setting, which is exported by each switch driver's get_capabilities(), and then checked in the api.py call f

[2017-09-05 19:21] zenhack opened #863 "Migrations: support removing extensions"
This came up as a possible culprit when troubleshooting upgrading HIL on a test server. Per `docs/UPGRADING.rst`, we currently don't support removing extensions from hil.cfg. This is a little annoying, and it would be nice to have a way around it. The tricky bit, and the reason we don't support it is what to do with the migrations.

I don't think this is especially high-priority, but it's a wart a

[2017-09-05 19:35] zenhack commented on #417
A note, I went ahead and made the version change update in the console-service repo.

I can see two ways of proceeding:

* Do things as described originally; gut the existing console code from HIL, and replace it with calls to this daemon. We'll still have to have the node info duplicated though.
* Go ahead with moving the rest of the impi driver's functionality into this daemon, then swap in a ne

[2017-09-05 19:44] zenhack opened #864 "Expose network topology via the API"
It's been long agreed upon that the MOC wants to be exposing as much info as we can to users; accordingly, HIL should allow users to discover what the network topology is.

One relatively simple way to do this is to just start exposing port & switch objects to users, and have basic show_* calls for them that regular users can use to figure out what is connected to what (incl. nics). This is relate

[2017-09-06 04:56] henn opened #865 "Create release note documenting upgrades with haas -> hil name change"
For the 0.2 release, we need to document that:

- [ ] Since the systemd script is created manually, the old one needs to manually be deleted and the new one copied in.
- [ ]  If wanting to keep the previous `haas` user, then the script needs to be modified to reflect the different username.
- [ ] The `/var/lib/haas` and `/etc/haas.cfg` entries need to be moved (or at least symlinked)
- [ ] You sho

[2017-09-06 15:32] naved001 commented on #417
@knikolla can you weigh in on this please? Thanks!

[2017-09-06 23:44] naved001 commented on #308
@zenhack

I agree with this. Most of the places where we are using `first()` is because it can return `None` unlike `one()` which throws an error. I don't see any reason to change it

I can't find one_or_none() in the docs. Can you point me to it?

I think the current `_assert_absent()` is totally fine imo. Moreover, I couldn't find exists() in the docs. And doing a `dir()` on `query...exists()` s

[2017-09-07 00:13] zenhack commented on #308
one_or_none:

http://docs.sqlalchemy.org/en/latest/orm/query.html?highlight=one_or_none#sqlalchemy.orm.query.Query.one_or_none

[2017-09-07 01:27] SahilTikale commented on #417
I have classes and other workload, but I will have a look at it too.

On Wed, Sep 6, 2017 at 11:32 AM Naved Ansari <notifications@github.com>
wrote:

--
--Sahil

[2017-09-07 12:38] naved001 commented on #48
As I understand we won't be supporting headnode related stuff anymore. Can we close this then?

[2017-09-07 12:42] naved001 commented on #317
I don't feel strongly about this; specially since this is only for development.

I prefer that the commands going to the switch are in a different window and api calls are in another.

@SahilTikale @Izhmash @zenhack @henn you guys wanna vote on this (or discuss the pros and cons)

[2017-09-07 12:45] naved001 commented on #333
#335 prevents connecting headnodes to networks with vlan ID outside of pool.

[2017-09-07 12:45] #333 closed

[2017-09-07 13:03] naved001 commented on #380
This was fixed by this [commit](https://github.com/CCI-MOC/hil/commit/d72ce6f4432a879014831b00f61a452b6fb84567)

[2017-09-07 13:03] #380 closed

[2017-09-07 13:11] naved001 commented on #419
We don't do that anymore.

had conversations about maybe making the switch a database object
again, and having a switch_register, in which case those go in the
DB.

That is what we are [doing now.](https://github.com/CCI-MOC/hil/commit/986e38a1274200e0705ea7c03ddb656bb78b2d0b)

I am gonna close this. Re-open it if you think I misunderstood something.

[2017-09-07 13:31] naved001 commented on #463
@zenhack is this still an issue? we now have `network_create_simple()` which simplifies some stuff. And did #455 address this issue?

[2017-09-07 13:35] naved001 commented on #475
@henn hasn't responded; I am closing this issue for now. Reopen it if you think this is pertinent.

[2017-09-07 13:35] #475 closed

[2017-09-07 13:40] naved001 commented on #495
It's run as a part of [our CI now](https://github.com/CCI-MOC/hil/blob/master/ci/apache/run_integration_tests.sh#L15-L16) :D

[2017-09-07 13:40] #495 closed

[2017-09-07 13:46] naved001 commented on #502
I tihnk this has mostly been taken care of.

More recently, @Izhmash did a couple of production installs and found some issues. Those issues were fixed by #843 and #831

[2017-09-07 13:46] #502 closed

[2017-09-07 14:01] naved001 commented on #557
@SahilTikale Does this still warrant a documentation update?

I am gonna close this issue because the consensus here seems like we don't need an update in the docs.

 if you still think this is pertinent, please re-open it.

[2017-09-07 14:33] naved001 commented on #678
#855 fixes this.

[2017-09-07 14:33] #678 closed

[2017-09-07 14:34] naved001 commented on #599
as per @henn's comment, this should not happen.

@SahilTikale ping.

[2017-09-07 15:20] naved001 commented on #677
Just revisited `INSTALL.rst` it mostly looks fine to me.

I actually think that's a bad idea because most of the time I want to copy and paste whole code blocks, putting the dollar signs before every command would make it painful to copy and paste it.

@shwsun

I am in the favor of closing this issue because I don't see any glaring issues with the documentation formatting.

[2017-09-07 15:43] naved001 commented on #709
Afaik, in the powerconnects, when a new port is put into trunk mode it has access to every VLAN by default.

We should put that in `network-drivers.md` or do what I suggested here  #761

[2017-09-07 15:52] shwsun commented on #677
By just look at the INSTALL.rst, I can spot a few places that are confusing. For example, we dont have a clear separation of things we want the user to type in the terminal and things that should goes into a file . Everything is fine with us simply because we worked on this so long and can just ask around.

I don't think it is a high priority job but I dont think we should close it.

[2017-09-07 15:58] naved001 commented on #719
I am in the favor of closing this too. For most purposes, the mock driver is good enough.

[2017-09-07 15:58] #719 closed

[2017-09-07 16:18] SahilTikale opened #868 "All extensions should be grouped under [extensions]"
In `examples/hil.cfg.dev-no-hardware`  the `[hil.ext.network_allocators.vlan_pool]` is defined in the middle of extensions. The authentication extensions are defined after it.
Because of this when the `[hil.ext.network_allocators.vlan_pool]` is uncommented, running `hil-admin db create` fails, giving the following error:

[code]
Make sure that all the extensions are defined together under  `[hil.e

[2017-09-07 16:57] naved001 commented on #868
Ah, I see what you mean. The error code is due to the fact that we are calling the network pool allocator before registering any auth backend.

[2017-09-07 17:15] zenhack commented on #317
Eh, I think it's not really worth the complexity. I also think there's some value in developers needing to know about the network daemon, and keeping this manual makes sure people see it (if they actually doing anything in dev that needs it, which I often don't). I don't feel strongly though.

[2017-09-07 17:21] zenhack commented on #463
This is still valid. IIRC `network_create_simple` existed at the time as well, but it's a band-aid over an underlying ugly api. #455 is orthoginal to this.

[2017-09-07 17:26] zenhack commented on #709
Yeah, we should document this. I left a comment in #761 about that solution, but either way it seems like we could just add a change to the docs now, and worry about automating things later.

[2017-09-07 17:41] naved001 commented on #317
Let's give others a couple of days before closing this issue.

[2017-09-07 17:43] naved001 commented on #761
hm, maybe we can make it tunable via the configuration file.

`[installation]`
`complete-wipe` or `sneaky`

that way we can do other stuff too, like turn off nodes when they are registered.

[2017-09-07 18:11] zenhack commented on #761
maybe a more stragithforward name for the option, like `clean_resources_on_register = True`, but that seems reasonable.

[2017-09-07 18:11] zenhack commented on #317
Sounds good.

[2017-09-07 19:17] naved001 opened #870 "Bug in the n3000 driver"
I looked back at the n3000 driver I wrote. It also suffers from that native vlan issue i.e. I can't set the native vlan to `None` (or an uncreated vlan).

The nexus hack (create a dummy vlan, assign it to a port and then "uncreate" it/ ) doesn't work on this switch. In fact, I did document it ([..unlike the nexus the dummy vlan must exists...](http://hil.readthedocs.io/en/latest/network-drivers.ht

[2017-09-11 21:30] zenhack commented on #417
@knikolla, ping.

[2017-09-12 13:21] naved001 commented on #317
Closing. Please re-open if you want to discuss this.

[2017-09-12 13:21] #317 closed

[2017-09-12 16:49] #308 closed

[2017-09-12 18:42] naved001 commented on #417
The ipmi information (hostname, user, passwords)  might not change often in real life, but we can't make that assumption. So I am not sure how I feel about duplicating that because if it does change we would have to worry about keeping it in sync.

This seems more reasonable.

It looks like the ipmi stuff is gonna be it's own thing. It would have its own database (and related code), driverization

[2017-09-12 19:37] SahilTikale commented on #536
knock knock @vsemp

[2017-09-12 19:50] SahilTikale opened #872 "Write an openvswitch driver for HIL"

[2017-09-12 19:56] SahilTikale commented on #872
Will help testing new functionality like the one described in #410 without the need for a real switch.

[2017-09-12 22:29] zenhack commented on #417
Quoting Naved Ansari (2017-09-12 14:42:07)

This was my instinct as well. I don't think it will be that bad
actually. I'm inclined to try to get the daemon part mostly
feature-complete by the end of the week. It would be nice to get an
additional opinion first, but I'm not inclined to wait around forever.

[2017-09-13 14:42] naved001 commented on #848
@zenhack
I want to start working on this already (this is kinda high priority), but I am not sure if I understand your proposal about HIL POSTing to a URL.  Can you describe how will this work? And what other services you think admins would set up to respond to those? Because what I described in the title are all things that HIL can do to a node.

Though, I agree that we should make it configurabl

[2017-09-13 15:00] naved001 commented on #817
so what's the consensus on this?

[2017-09-13 17:02] zenhack opened #873 "Set up a linter to check for trailing whitespace in non-python files (e.g. docs)."
Every now and then somebody submits a patch that removes some trailing whitespace, e.g.

https://github.com/CCI-MOC/hil/pull/866/commits/a5cec0ec4bf54c1e908e97d43633ddccc001094f#diff-96f699aa7db6da1ea1765db754a87a45L186

My editor is set up to do this automatically on save. This clutters up the diff a bit, but it never seems worth it to do a separate patch for that.

It would be nice if we had  a

[2017-09-13 17:09] zenhack opened #875 "Rename "dell" driver to "powerconnect""
@geedo0 [points out][1] that with the dellnos9 driver going in, it's a bit confusing to also have a driver named 'dell'. Perhaps we should rename the old dell driver to 'powerconnect'.

There's a bit of work to do making the migration on this smooth.

[1]: https://github.com/CCI-MOC/hil/pull/866#discussion_r138638165

[2017-09-13 19:41] zenhack commented on #848
re: turning off the nics, we shouldn't need to do that, since releasing the node requires disconnecting from all networks anyway.

My thought was that, on top of what you describe, we have a config option for a cleanup service, whose value is just a URL. Once the node has been added to the maintence project, HIL makes an HTTP requiest to the cleanup service, URL, providing the name of the node. Th

[2017-09-14 03:58] zenhack commented on #417
Status update: I've modified the daemon so that it stores the node information inside of a database. console tokens are still ephemeral, and my intention is for them to stay that way -- if the in-memory state is lost you need to call show console again anyway.

Most likely my immediate approach to the rest of this will be to just replicate the rest of the HIL power management api, which should be

[2017-09-15 13:37] naved001 commented on #848
cc @Izhmash

[2017-09-15 13:38] naved001 commented on #417
cc @Izhmash

[2017-09-15 14:36] naved001 commented on #410
@henn @Izhmash and I discussed this again today. And we think that the following should solve this issue.

* Every switch driver will have a list called `capabilities` in the class. So it would look like
`capabilities = ["require-native-network", "per-port-jumbo-frames"]`

* and then there'll be a method  `get_capabilities()` that returns a boolean if a capability exists or not by checking it in t

[2017-09-15 15:00] Izhmash commented on #417
More of an administrative question here: @zenhack do you have an idea about how we'll want to package the console daemon with HIL in the future?

[2017-09-15 20:49] zenhack commented on #417
The master branch on my repo now handles the power_off, power_cycle, and set_bootdev api calls, which work exactly as in HIL, except that they take the token as a query parameter (as in the console streaming call). So you do e.g:

`PUT /node/node4/boot_device?token=9832t3857faed9382...`

Could you test it with some real machines to make sure I got the implementation right? I can only easily test a

[2017-09-15 20:51] zenhack commented on #417
@Izhmash, haven't spend much time thinking about it. I think it probably makes sense to keep the packaging somewhat separate for the time being, as being able to just do `pip install hil` would be nice.

[2017-09-17 11:41] okrieg commented on #417
If you want to bounce off of one more person, someone grab me tomorrow and will try to get up to speed.

Sent from my iPad

[2017-09-17 19:32] #844 closed

[2017-09-18 19:34] naved001 opened #877 "Refactor some of the switch driver code"
I think there's some stuff that can be refactored in our driver code to reduce copypasta. At the moment I think `modify_port` should be pushed to the top. It's almost the same for every switch.

While going through the code, I came across [this line](https://github.com/CCI-MOC/hil/blob/master/hil/ext/switches/_console.py#L79). And then there's a [note](https://github.com/CCI-MOC/hil/blob/master/hi

[2017-09-18 20:40] naved001 commented on #877
ah, looks like we needed it to get the port ID so that we can remove native vlans in our console based drivers.

[2017-09-18 20:50] naved001 commented on #877
Here's a [WIP](https://github.com/CCI-MOC/hil/compare/master...naved001:refactor-driver-code?expand=1)

[2017-09-19 18:54] naved001 commented on #870
I read the [CLI guide](http://downloads.dell.com/manuals/common/networking_nxxcli_en-us.pdf) again paying more attention this time. On page 822 I found this:

trunk port. (Ex. switchport trunk allowed vlan remove 1.) Management
traffic is still allowed on the trunk port in this configuration.

Running `show interfaces switchport gigabitethernet <name>` still shows that the Trunking Mode Native Vla

[2017-09-19 19:10] SahilTikale commented on #536
any updates on this @vsemp

[2017-09-20 16:32] naved001 commented on #870
I had an emai conversation with a Dell Sr. Networking Systems Engineer, and he assured me that until we explicitly run the `switchport trunk native vlan 1` command, all untagged frames will be dropped. He said that it's weird that the switch is reporting back some Trunking Mode Native Vlan.

[2017-09-20 17:07] naved001 opened #878 "Cisco Switches - No Vlans in trunk mode = all vlans"
Apparently, if the switchport is in Trunking mode and we remove all vlans from it (revert port for example) then the switchport gets access to all vlans; which is the exact opposite of what we want.

The port membership is shown when you do a `do show vlan <id>` on any vlan.

@radonm discovered this on a Cisco Nexus 6000 switch (version 7.0) controlled by HIL in Kaizen environment.

[2017-09-20 18:40] naved001 commented on #870
I think this issue was already solved, I just got it confirmed by the Dell Engineer.
I am posting a bunch of commands to illustrate my point and the conversation I had with the Dell Engineer.

`Switch(config)#do show interfaces switchport gigabitethernet 1/0/10`

It's output looks like this (I have removed some useless stuff):

[code]

If I try to set some native vlan that's not added to the truin

[2017-09-20 18:40] #870 closed

[2017-09-20 20:57] naved001 opened #880 "links in the readme are broken"
Since we changed the domain name, the old ones no longer work. This is easy to solve, I am leaving this one for those who are new to github.

[2017-09-20 21:23] naved001 commented on #880
@razaaliraza

[2017-09-20 23:24] zenhack commented on #878
Huh. I seem to recall testing the nexus driver pretty extensively; is it possible that the loaner switch we have in PRB (3000 I think?) works differently?

[2017-09-21 17:53] naved001 commented on #431
@vsemp

[2017-09-21 19:10] naved001 commented on #854
I gave this a shot based on what we discussed in #876

https://github.com/CCI-MOC/hil/compare/master...naved001:enforce-native-network?expand=1

If the idea sounds good, I''ll add unit tests and update the deployment tests (`tests/deployment/vlan_networks.py` fails for switches that need a native vlan to be set first).

[2017-09-22 13:34] #868 closed

[2017-09-22 17:30] Izhmash commented on #875
Will we also want to change the Alembic branch label to 'powerconnect' as well?

[2017-09-24 04:05] zenhack commented on #875
Ideally, though I'm not sure how involved that would be.

[2017-09-24 06:41] #496 closed

[2017-09-25 19:04] naved001 opened #883 "Race condition between turning on ports and then doing switch operations."
In some of the switches, (the s3048 and brocade). The switchport is needed to be turned on before performing other switch operations (like setting the native vlan). If there's a failure right after turning on a port, then that switchport will be sitting on some defaullt VLAN.

See [this comment](https://github.com/CCI-MOC/hil/pull/866#discussion_r137421854) and the discussion.

[2017-09-26 13:57] naved001 commented on #728
The fix introduced in #882 should take care of this too.

[2017-09-26 14:11] naved001 opened #885 "Deployment tests for VLAN networks need to be rewritten"
With the fix introduced in #882, the vlan deployment tests (`tests/deployment/vlan_networks.py`) fail for Dell NOS9 based switches. We need to rewrite the deployment tests so that they work with both kind of switches.

(Whoever takes this should, ideally, run the tests on every switch we support).

[2017-09-26 17:53] naved001 commented on #846
Looks like we aren't gonna be forcing all switches to work the same way. #882 implements the title for the s3048-on switch, but not for other switches.

We don't need to enforce this for other switches if a switch can just work fine without having a native vlan on a trunked port.

[2017-09-26 18:37] vsemp commented on #536
I didn't see any inconsistent arguments or completely incorrect descriptions.

There the following potential inconsistencies of rest_api.md with api.py:
- Console code doesn't have documentation
- list_active_extensions from "API Extensions" is in api.py while other "API Extensions" are not

[2017-09-26 18:52] vsemp commented on #536
I suggest writing a separate function that checks some common access requirements.

**Here is one example:**

`    if network/node.owner is None:
        auth_backend.require_admin()
    else:
        auth_backend.require_project_access(network.owner)`

This piece of code is used in multiple places:
https://github.com/vsemp/hil/blob/12489961c975a7d0d0ec4328a59f5457d5b0103c/hil/api.py#L851
https://

[2017-09-26 20:20] Izhmash commented on #853
I'll pick this one up since I worked on #835.

[2017-09-26 21:25] zenhack commented on #536
Good spot on that pattern; definitely worth factoring that out.

Re: the console stuff: my inclination is to leave that for now, as we're re-designing that anyway

`list_active_extensions` should be moved out of the API Extensions section; want to add that to your PR?

[2017-09-26 21:32] zenhack commented on #885
If we're no longer expecting every switch to work the same way, then it isn't necessarily valid to assume that all of the deployment tests *should* work for all of the switches. We should either generalize these or write some tests that work with the nos9 switches, but it may make sense to have some conditional logic to skip certain tests based on the hardware available.

[2017-09-26 21:33] Izhmash commented on #853
Would it make sense to implement this inside of `power_cycle()`?  If the user selects the `force` option it could go through the steps 1 - 4 above.  Otherwise, there could be a new command to do this more secure reboot.

[2017-09-26 21:34] Izhmash commented on #853
I also noticed that we set the boot device to pxe in `power_cycle`, is there a specific reason for that? If someone runs `set_bootdev` and then `power_cycle` they might be disappointed to find that the node boot into PXE rather than what they chose.

[2017-09-26 21:40] zenhack commented on #853
That could probably be removed now that we have set_bootdev. I think originally the notion was you'd have the default boot device set to disk, and rebooting via the api would let you netboot & install, after which you'd boot from the disk into your new OS. but it probably makes more sense to just call set_bootdev explicitly.

[2017-09-26 21:43] naved001 commented on #885
Right, I did add some unit tests specifically for the nos9 switches.

But I still want to be able to test the regular functionality that the vlan deployment tests were testing. I guess I could put some checks there (if `type == dellnos9` then do `certain things`) and tweak the tests a little.

[2017-09-26 21:43] Izhmash commented on #853
@zenhack that makes more sense now in context.

[2017-09-26 21:47] Izhmash commented on #853
Adding to my previous comment, if we want to set the boot device and reboot, we might need a combined call that both sets the boot device and restarts the node.  Otherwise, we won't know what to pass to `set_bootdev` when we run it both times.

[2017-09-26 22:12] zenhack commented on #885
Maybe instead of `if type == dellnos9` we should be querying switch caps when we have those.

[2017-09-26 22:20] zenhack commented on #853
I think the right way to solve this issue is the following:

1. Add an API call to check the current power status of the node, so we can tell when it's finished powering off
2. Implement the node maintenance pool stuff.
3. Have the maintenance daemon implement the cleanup logic (it will need the API call defined in (1) to do this correctly).

So HIL itself, wouldn't do this, just provide the calls

[2017-09-26 22:39] zenhack commented on #417
So, I spent a bit more time thinking about this, and I'm not sure the versioning actually makes this any better. The question not addressed is, when does HIL update what version it has on file? I can't think of an answer that doesn't have one of these problems:

* Allows for some kind of race condition with equivalent consequences to the above.
* Potentially allows things to get out of sync in a w

[2017-09-27 05:02] vsemp commented on #536
OK. I'll do that.

[2017-09-27 12:41] ivanzaqqa commented on #880
can i do this? @naved001

[2017-09-27 13:45] naved001 commented on #880
@ivanzaqqa thanks for the willingness! But this one is already assigned to @razaaliraza

Have a look at other issues (with labels like easy, documentation) and you coud work on those.

[2017-09-27 14:55] ivanzaqqa commented on #880
oke

[2017-09-28 20:48] naved001 commented on #417
a few weeks ago we thought this would work

So HIL updates the version number it has on file when it does a project_connect/detach_node and asks the console daemon to update it too.

Could you describe a scenario that could lead to a race condition?

[2017-09-28 21:02] naved001 commented on #854
Does the method we introduced in #882 solve this? Perhaps we could refactor that method into separate methods that check for legality for different cases.

[code]

[2017-09-28 21:05] naved001 commented on #846
Do we want to enforce this policy on all switches or not? I am not sure if the network topology could get complicated if some switches are allowed to do certain things while others aren't (because they can't anyway).

[2017-09-28 22:01] zenhack commented on #417
I did some more puzzling, and I think I do have a full solution, but there's some subtlety to be dealt with, and I could use an extra pair of eyes. I'm going to move forward with the implementation in the interest of not blocking on this, but @okrieg, @pjd-nu, @henn (and everyone else), I would really like it if you guys would pick this apart.

here's the thing that I was puzzling over: We can't d

[2017-09-28 22:26] zenhack commented on #854
It does; that's basically exactly what I was proposing in this issue. I'm going to close.

[2017-09-28 22:26] #854 closed

[2017-09-28 22:27] zenhack commented on #846
I think we're okay here; we can just enforce this on switches that need it. I'm going to close.

[2017-09-28 22:27] #846 closed

[2017-09-29 00:08] zenhack commented on #417
Also, @naved001 I would still appreciate it if you would test the extra calls I added (power cycling etc). I just pushed a couple commits that tweak the API according to the strategy I described above, including updating the README, but I don't think any of the changes should really affect your testing anyway.

[2017-09-29 15:37] Izhmash commented on #853
@zenhack is the maintenance daemon pointed to by the URL in the HIL config? (From #848)
Also I plan on working on #848 before finishing this up.

[2017-09-29 15:44] naved001 commented on #848
I think HIL should at least give the option of powering off the node (because it can do it) in addition to POSTing to some other maintenance service that an admin sets up.
(Or have multiple URLs to post to and one of it could be POSTing to itself to power off the node haha)

[2017-09-29 16:58] zenhack commented on #853
Yeah, that's what I'm talking about.

[2017-10-03 18:12] #873 closed

[2017-10-04 17:43] naved001 commented on #880
@razaaliraza any updates on this?

[2017-10-05 15:51] naved001 commented on #840
To answer this question, we should figure out things we can't do with the current implementation (or difficult to do)

1. We want to be able to do more things with the switch at this point (instead of just doing `modify-port` and `revert-port`).
2. ability to do switch ops based on ports (not necessarily nics).
3. if switch raises an error, we can't really handle it.

if the networking daemon is r

[2017-10-05 17:19] naved001 commented on #761
so we can make it tunable via the config file, and call `revert_port()` when we do a `port_connect_nic()`. And since that would be an admin only operation that'll be performed before the nodes are given to users, I think it'll be safe to do.

What do you think @zenhack?

[2017-10-05 21:30] naved001 commented on #417
* all the new ipmitool commands work correctly.
* any active connection is dropped if a new token is requested, or the version number is updated.
* starting a second connection causes both connection to fail.
  - preexisting connection ends with this
[code]
and the new connection fails with this

[code]

looks like ipmitool is handling it?

[2017-10-06 02:43] zenhack commented on #417
Quoting Naved Ansari (2017-10-05 17:30:44)

What I suspect is happening is that  the second ipmitool is starting
before we've finished shutting down the first one, so it gets the busy
message, and then we shut down the other one, so they both get
disconnected. What *should* happen is that the first one is completely
shut down before the next one is started, so the first connection is
booted and re

[2017-10-06 02:59] zenhack commented on #417
Hm, is it possible that there's some kind of explicit shutdown that we need to be doing but aren't? @naved001, what happens if, after trying to start a second connection and having them both break, you try to connect again?

[2017-10-06 03:05] zenhack commented on #417
For posterity, @naved001 and I talked about a few things via IRC:

[code]

I did go ahead and rename the repo.

[2017-10-06 15:25] naved001 commented on #417
I don't think so, looked up the man page for ipmitool [here](https://linux.die.net/man/1/ipmitool) and it had some commands and none of those worked. I think it depends on the type of node.

[code]

Then I came across [this guide at symantec](https://www.symantec.com/connect/articles/how-do-sol-serial-over-lan-aka-console-redirection-dell-servers) which just asks to deactivate sol. And this page a

[2017-10-06 19:06] zenhack commented on #417
Opened a PR with a possible fix, tagged you in it.

[2017-10-10 01:21] razaaliraza commented on #880
Generated pull request

https://github.com/CCI-MOC/hil/pull/892

[2017-10-10 18:01] naved001 opened #893 "Allow changing native network without removing old native first"
https://github.com/CCI-MOC/hil/blob/0d7d2e376a4640366f699282859678454f5b1f8c/hil/api.py#L415

now that we are, in some switches, restricting users to attach a native network first we should allow changing the native network directly to a new one without having to explicitly remove it. Otherwise, the user would have to remove all tagged networks first before the native can be removed, attach a new

[2017-10-10 18:39] naved001 commented on #893
@zenhack @SahilTikale thoughts on this?

I came across this while working on the deployment tests.

[2017-10-13 17:21] #880 closed

[2017-10-15 04:33] SahilTikale opened #898 "Need an OBM driver for Network name spaces as Nodes"
Extending the what was suggested in #872, just like openvswitch provides a virtual switch, network namespace is a good emulation of a node.
I following benefits of having the driver:

-- New developers will greatly benefit from having a fully simulated environment of HIL that they can play with and actual changes. In my experience mentoring the new developers for HIL, I have come across multiple i

[2017-10-15 04:37] SahilTikale commented on #898
While giving demo of Openvswitch to the RedHat folks, I got this feedback, that it would be great if they could actually see some nodes pinging each other when they are part of same network and
they should not be able to communicate when they are not part of the same network.

At the time I demonstrated the driver by connecting ports to mock node objects.

[2017-10-16 15:35] naved001 opened #899 "Saving to flash memory for all switches"
Old issue #688

We did not add a method for the brocade switch because we thought it automatically saves to the flash memory. The reason for that behavior is that our brocade switches are stacked ([logical chassis mode](http://www.brocade.com/content/html/en/administration-guide/nos-601a-adminguide/GUID-BF9E6BA9-A949-48CB-AE57-ADBBC376DE0C.html)) and in that case all switches sync the running conf

[2017-10-17 17:35] zenhack commented on #898
I'm thinking about how a network (switch) driver for this would work, and it seems like it wouldn't need to touch namespaces per-se; it would basically treat the veth devices as ports. It would probably be structured similarly to the way we deal with networks for headnodes currently.

Observation: you could just as easily use tap devices, which would let you use e.g. KVM vms instead of just contai

[2017-10-17 19:01] Izhmash commented on #848
Blocked on #891

[2017-10-17 19:44] Izhmash commented on #105
The maintenance service will now do this. #891

[2017-10-17 19:44] #105 closed

[2017-10-17 19:45] Izhmash commented on #631
Fixed by #835

[2017-10-17 19:45] #631 closed

[2017-10-17 20:05] Izhmash commented on #352
Is there any reason why this is still open? If not, I'd like to close it.

[2017-10-18 15:13] zenhack commented on #352
I'm going to close. Headnode support is maintenance only.

[2017-10-18 15:13] #352 closed

[2017-10-25 15:30] naved001 opened #903 "Document our client library"
Right now there are no documentation for the HIL client library and we should add that soon.

@tpd001 suggested that we could have:

cc: @SahilTikale

[2017-10-25 15:33] naved001 commented on #903
@razaaliraza I am assigning this to you. This seems like a good way to start learning more about the code and I'll be available to help/review.

[2017-10-26 02:25] #623 closed

[2017-10-27 20:18] naved001 commented on #744
@Izhmash played with SNMP during the summer and concluded that it's not very reliable in setting things.

The powerconnect switches have a web interface, which means it has some sort of API. I remember @henn taking about it. But it's undocumented and we would have to "discover" each method by running a web browser in some debug mode. So this option doesn't sound that good either.

I don't know wha

[2017-10-27 21:44] zenhack commented on #744
This doesn't follow; it's entirely possible for it to be *just* a web UI. And I don't think trying to interact with that programmatically is any better (probably worse).

Does the nexus switch also not have any other API?

I'm fine closing this if we conclude there's nothing better.

[2017-10-27 22:02] #860 closed

[2017-10-29 05:07] SahilTikale commented on #898
@zenhack I actually did two proof of concepts one with booting two VMs in Virtual box that were connected to openvswitch and other with network namespaces connected to openvswitch.

When I gave a talk about my work to the HIL team and folks from RedHat, there was interest in developing both the approaches.

Having a libvirt OBM driver for HIL can be of greatly benefit the efforts for BMI. Develope

[2017-10-29 05:11] SahilTikale opened #908 "libvirt OBM driver for HIL"
Having a libvirt OBM driver for HIL can be of greatly benefit the efforts for projects like BMI. Developers can set up HIL in a dedicated physical server and have VMs for nodes which can be used for BMI development.
To elaborate, one of the time consuming part for doing development on BMI is troubleshooting the workflow of PXE booting a physical server. Physical servers also take few minutes to bo

[2017-10-29 05:15] apoorvemohan commented on #908
BMI already has development framework where we provision virtual machines. Not sure how different it is from what you are proposing.

[2017-10-30 14:24] naved001 commented on #744
I might be misunderstanding something then. Isn't the web UI interacting with the switch using some sort of API? In any case, since that is undocumented we can't use it.

Let me read the nexus switch's manual to be sure.

[2017-10-31 20:41] naved001 commented on #758
Had a chat with @okrieg today, and what we want is a very basic, minimal script that sits in the `examples` folder. We'll allocate certain nodes that'll be under the control of this leasing script; and the leasing script would return the nodes from any projects to the free pool periodically. I think a lot of admin intervention will be required. This will be replaced by a full fledged scheduler (ma

[2017-10-31 20:48] naved001 opened #909 "Some way of testing switch connectivity"
For our pexpect based drivers, if there's no connectivity to switch, it takes like 15 minutes to timeout. This can be frustrating at times.

One solution that I have in mind is have a method in our switch drivers `switch.switch_alive()` that simply pings the switch to see if there's connectivity and raise an error is there's no connectivity. This method can be called by the `node_{connect/disconne

[2017-10-31 21:09] zenhack commented on #909
Can we just lower the timeout?

[2017-10-31 21:16] zenhack commented on #744
The web ui is running on the switch itself, so whatever mechanism it uses to manipulate the switch doesn't necessarily have to be reachable from the network.

[2017-10-31 21:20] mosayyebzadeh commented on #758
@naved001 We should have a meeting for requirement/design doc soon so I can start to code the script. Can you schedule a one please?

[2017-10-31 21:35] naved001 commented on #909
hmmm; the default timeout of pexpect seems to be pretty low.

[code]
so pexpect times out pretty quickly.

These are the logs from @tpd001's email.

2017-10-26 **16:35:54** ERROR   --------------------------------------------------------------
2017-10-26 **16:35:54** ERROR   HIL reservation failure: Unable to detach node slurm-compute1 from project slurm
2017-10-26 16:35:54 ERROR    Exception: HTT

[2017-10-31 21:52] zenhack commented on #909
Timeout on my laptop is around 30 seconds, which is still small enough to not explain what's going on.

I don't want to just patch a feature into this without actually understanding why this is happening. We have some debugging to do.

[2017-11-01 18:32] naved001 opened #910 "Fix the CLI/client-library to print out appropriate error messages"
More often than not, people get this error when using HIL "Unexpected error: No JSON object could be decoded". I think this error might be coming from the client library. This can be frustrating to deal with at times because the real error is hidden.

[2017-11-03 21:12] naved001 commented on #910
one example that I found today.

[code]

if there's a '/' in node name it freaks out.

[2017-11-04 01:33] zenhack commented on #910
Here's what I assume going on in this specific case:

* putting a `/` in the node name is causing it to not match the route for that api call; we had to do something to special on the server side to get it to treat e.g. `gi1/0/2` as a single thing.
* Since the route isn't matching, the server is returning some default error page, probably a 404. Since the body isn't JSON, the client trys to parse

[2017-11-06 21:49] naved001 commented on #909
Was playing around with some other connection issues and then I looked closely at these logs:
* The timeout is not from the switch drivers (pexpect), it's in fact Requests that's timing out.
ERROR Exception: HTTPConnectionPool(host='1xxxxx', port=80): Read timed out. (read timeout=None)

The timeout is set to None, in theory it should just keep trying I guess, but idk why it stops after 15 minutes

[2017-11-07 19:37] naved001 opened #912 "Networking daemon skipping some actions ?"
This has me worried.

I am using a dell power-connect switch. The networking daemon is set to sleep for 2 seconds before it checks the journal again.

I have 3 ports on that switch.
1st port = gi1/0/10
2nd port = gi1/0/12
3rd port = gi1/0/23

I have a script that asks HIL to perform port_revert on those 3 ports. So for some reason, the networking server sometimes skips the 2nd port, and sometimes

[2017-11-07 22:43] zenhack commented on #912
Hrm. Can you see what the IDs that are being used in the database are?

[2017-11-07 22:50] zenhack commented on #909
The current documentation claims everything is in order; relaxing that constraint would have significant impact on the use of the api. Right now we *have* to block in order to provide the correct semantics.

[2017-11-07 22:50] naved001 commented on #912
Well, I can only see the ids if I stop the networking daemon and let the queue build. But that's not the problem scenario.

When the networking daemon is running, I can't see the ids because the database is cleared pretty quickly. Perhaps, I can put a print statement in the daemon to print the ID it's handling?

[2017-11-08 18:12] naved001 commented on #909
Why do we have to block the queue if the actions are happening on different ports?

[2017-11-09 20:14] naved001 commented on #912
Turns out the version of HIL it is running is before we fixed https://github.com/CCI-MOC/hil/issues/314 via #856

Though, this issue was not discussed there (or discovered at that point).

I setup everything up again with the latest version of HIL and this time it ran without any issues. I used the same powerconnect switch.

[2017-11-09 20:53] naved001 commented on #912
Turns out the version of HIL on which I ran into this issue is before we fixed https://github.com/CCI-MOC/hil/issues/314 via #856

Though, this problem was not discussed on that issue (or discovered at that point).

I setup everything up again with the latest version of HIL and this time it ran without any issues. I used the same powerconnect switch.

On the older version of HIL (the problem setup

[2017-11-10 01:38] zenhack commented on #912
Note to self: always ask if bugs can be reproduced on master.

Hypothesis: previously, this statement was deleting the actions that were being skipped:

https://github.com/CCI-MOC/hil/pull/856/files#diff-d550c3bbac185ae67f8c46d3b6b44586L105

The current implementation makes that impossible because it specifically deletes the actions it saw, rather than just saying "delete all of them."

This would

[2017-11-10 01:47] zenhack commented on #909
Because a user may assume that if they do (for example) `node_detach_network(node0, eth0, net0)` then `node_connect_network(node0, eth1, net0)`, they can rely on not ever having a situation where both of those nics are on the same network. This could be important e.g. to avoid loops or somesuch.

We *could* just change the contract, and say to users if they want that constraint they have to wait u

[2017-11-10 04:06] zenhack opened #913 "get_config method of switch session type is gross"
Concretely, It dumps a config file, which implies that the switch has a configuration that works just like the dell & nexus switches. This is a bit more implementation detail than I'm comfortable exposing. I'd like to find a way to make this separation a bit cleaner.

One relatively simple adjustment would be to hide it behind a switch capability, so that not all switches necessarily need to imple

[2017-11-14 15:41] naved001 commented on #417
@zenhack Any updates on this? Also, do you plan to open a PR with the specs for this anytime soon? Thanks!

[2017-11-14 19:25] naved001 opened #914 "Use Openstack VMs to access bare metal nodes, in addition to the Headnode service."
This was suggested by @okrieg

Rather than HIL spawning up VMs to access your HIL nodes, we should just use Openstack VMs to access them. Of course, there are some per-requisites for this to work.

* HIL should be able to manage vlans on openstack controllers and computes.
* HIL should be using keystone.

I am still mulling over how this would be implemented, once I am sure, I'll propose this in a

[2017-11-15 18:36] xuhang57 commented on #765
@naved001 fell free to assign me to this one.

[2017-11-15 19:24] zenhack commented on #417
Sorry, this kindof slipped through the cracks. I'll try to find some time for the spec late this week.

That said, I'm a bit unsatisfied with the subtletly of the algorithms here; I wish I knew of a way to make this easier to get right.

I did a bit of refactoring of OBMd and was in the middle of debugging a failing test when I apparently got sidetracked... that needs to get fixed too.

[2017-11-15 19:26] zenhack commented on #914
What happend to the openvpn idea? We were going to chunk the headnode system entirely in favor of that, and the last I heard it was just a matter of nobody having implemented it.

[2017-11-15 20:17] naved001 commented on #417
cool, no worries. Thanks for tackling this! Let me know if there's something you want me to look into. @mosayyebzadeh @razaaliraza should be able to help too!

[2017-11-16 14:45] mosayyebzadeh commented on #758
Based on previous email I have been working on a new script. I would like to discuss about its structure before doing more coding. The functions list and the structure is like:

[code]

Any comments? @naved001 @Izhmash @SahilTikale @shwsun

[2017-11-16 20:17] zenhack commented on #758
* You probably want to be using the client library, in which case the credentials will get passed off to that and you'll be passing around a client object instead of having multiple functions that take the url/username/password. This also has the benefit of being easy to get working with different auth backends.
* It's a little hard to tell what your intent was since there's no code and you don't

[2017-11-17 23:48] zenhack commented on #417
The more I think about this the more troubled I am by the complexity of the interaction. If it were just the one thing, I'd be OK with having thought very carefully about it and come to a solution, but I'm worried about splititng things out into microservices if we can't come up with a more generalizable strategy for getting these kinds of things right. I have a pretty clear sense of what changes

[2017-11-20 16:21] naved001 commented on #865
This checklist was helpful when upgrading engage1.

[2017-11-20 18:23] mosayyebzadeh commented on #758
Great suggestions. Thanks.

Each line in the file will be like this: node project_name/free_pool time
Time will be compared with threshold and if it is greater than threshold the node will be released from the project.

[2017-11-20 22:53] naved001 commented on #913
I thought all switches have the concept of running-configs and startup-configs. Have you worked with a switch that doesn't have it?

The only purpose of this method is to see if the switch is actually saving the configuration to flash memory. Other things we could test instead of checking the whole config file is:
1. set a few vlans on an interface (or a couple). And then get the vlans from the ru

[2017-11-21 02:12] zenhack commented on #913
On reflection, I guess I'm OK with the idea in the abstract, but the interface could use some work; the contract is very under-specified; I wouldn't know from reading the docstring what I needed to do when writing a new driver. I think the only real constraint on the return value is that it's comparable for equality, but we should verify that and document it.

[2017-11-21 18:17] naved001 commented on #410
#895 closes this

[2017-11-21 18:17] #410 closed

[2017-11-21 18:20] Izhmash commented on #910
I'll be investigating this one.

[2017-11-21 18:30] Izhmash commented on #431
I'm going to start working on this -- although I'm part-time right now I'll be able to chip away at it each workday.

[2017-11-29 04:07] naved001 commented on #909
I am more or less convinced, so closing this issue.

[2017-11-29 04:07] #909 closed

[2017-12-01 18:49] Izhmash commented on #910
If we want users to be able to put `/` characters in their node names, we'll need to put `path:` in the API URL template, e.g. `@rest_call('GET', '/node/<path:nodename>', Schema({'nodename': basestring}))`.

Instead, would it be better to check for reserved characters and raise an error if one is detected?  That way we would prevent the 404 from causing `Unexpected error: No JSON object could be d

[2017-12-01 19:10] Izhmash commented on #910
In the `show_node` case, we could infer that a node doesn't exist if the user tries to search for a node with a reserved character.  The same would go for switches, projects, etc.

[2017-12-01 19:14] zenhack commented on #910
Yeah, my intention was for the client library to check and report an error itself.

[2017-12-01 22:07] Izhmash commented on #910
I can either catch all attempts of the user to input reserved URL characters when the URL is first formed, or I can do it on a per-command basis.  For example if the user tries to search for a node with a `/` in it, HIL would report that the node could not be found.

The first solution would be simpler but less informative.

[2017-12-02 07:10] zenhack commented on #910
Yeah, probably better to check the arguments per-call. It would probably be better to have the error indicate that `/` is illegal in node names, rather than saying the node could not be found.

[2017-12-04 21:58] naved001 commented on #878
Ah, the confusion was due to the fact how the switch reports the allowed vlans.
For example, if all VLANs are allowed, then the allowed vlan list isn't displayed.
[code]
Whereas, when you actually remove all vlans and then allow only specific VLANs. This is how the output of the command looks like
[code]

However, the output of `show interface switchport` (which is what our drivers use)( shows all

[2017-12-04 21:58] #878 closed

[2017-12-04 22:14] naved001 commented on #899
I haven't really figured out how to do this on the brocade switch using the rest api.

http://www.brocade.com/content/dam/common/documents/content-types/api-reference-guide/nos-700-restapiguide.pdf

[code]

this doesn't seem to save though and it's not very clear from the docs what bna-cfg is? but this was only command doing something with the running and startup config.

Other than that, I could

[2017-12-07 22:04] naved001 opened #918 "Update create_bridges to remove the bridges it makes, and also update create_bridges.service to have a stop method that calls the corresponding action."

[2017-12-08 15:38] naved001 commented on #885
#895 closes this

[2017-12-08 15:38] #885 closed

[2017-12-08 16:50] naved001 commented on #914
I think rather than just entirely gutting out the head-node service, we should just make it another micro service that would work with HIL. So those who don't have an openstack cluster side by side, can just use the headnode service or OpenVPN.

So we can provide these 3 services with HIL:

1. Headnode service
2. Openstack VMs service
3. OpenVPN

One question about OpenVPN: As I understand, OpenVP

[2017-12-08 19:35] zenhack commented on #914
I don't think it makes sense to maintain our own VM service, unless we have a clear sense of why something existing doesn't fit the bill. There has to be something out there that's lighter-weight than openstack for just "I want a one-off VM," and it's not like we have something respectable that we'd be working from. The existing headnode functionality is pretty terrible, and writing something like

[2017-12-08 19:48] zenhack commented on #918
Depending on how we do the OpenVPN service, this may be obviated by that, as this script is there for headnodes' benefit

[2017-12-11 18:51] naved001 opened #919 "Modify the client library to expose the type of error."
From the discussion [here](https://github.com/CCI-MOC/hil/pull/917#discussion_r155863421)

Right now we have to make comparisons with the human readable error messages when writing a HIL client.

[2017-12-13 15:53] naved001 commented on #840
I am inclined to simply add a few more columns to the networking action table. Those columns can hold a UUID and the status (success, error, in progress). The APIs that perform network action can return the UUID for it. And then there'll be a new API to query the status of the networking operation using the UUID that was returned. This seems pretty simple to implement. This was suggested by @kniko

[2017-12-13 17:16] naved001 opened #921 "`get_port_networks()` doesn't read inactive vlans (on the powerconnect switch)."
[code]
VS
[code]
This was causing deployment tests to fail on the powerconnect switch.
From the comment [here](https://github.com/CCI-MOC/hil/blob/master/hil/ext/switches/_dell_base.py#L59-L61) it's not clear if this is the intended behavior or not.

[2017-12-13 17:56] zenhack commented on #921
From the code it looks like the issue may actually be that it's split on to the next line.

[2017-12-14 00:58] zenhack commented on #840
Quoting Naved Ansari (2017-12-13 10:53:31)

This is roughly what I'd had in mind, and I think it's a good idea.

Much of the discussion here is about moving towards de-coupling the
network daemon from the api server, but I don't think this proposal will
set us back on that at all.

The motivation for the switch was for port_revert, which an
administrator may want to call during setup. They can pro

[2017-12-15 15:52] naved001 commented on #910
I would not limit to just letters and numbers. For instance, a lot of switch names and node names have dashes in between e.g., `cisco-05`
 `R5-PA-C01.ipmi.cluster` is a hostname for a switch which contains dots, and sometimes I just use the hostname as the switch-name itself so it's apparent to me what switch I am working with in HIL without looking into the database.

If we are going to make a li

[2017-12-15 16:10] Izhmash commented on #910
I'm going to limit it to characters that are not reserved URL characters.  So, besides letters and numbers, the allowed characters will be: `$ - _ . + ! * ' ( ) ,`

[2017-12-15 17:05] Izhmash opened #924 "Unimplemented api calls in client library"
Neither Node's nor Switch's `register()` functions are implemented in the client library.   Since every call should be accessible in the client library, this should be fixed.

[2017-12-15 18:52] zenhack commented on #910
"No special meaning in urls" sounds like the right mwtric here.

[2017-12-15 18:53] zenhack commented on #924
Yeah, I think there are a number of calls that aren't there. They're not hard to add. It would be good to make a list.

[2017-12-15 19:34] naved001 opened #925 "Make our error types more clear and useful"
This stems from the discussion [here](https://github.com/CCI-MOC/hil/pull/920#issuecomment-352084439)

Errors we raise in our APIs should be distinct and clear enough so that we know how to process those errors just by looking at the type of it.

[2017-12-15 19:51] naved001 commented on #924
1. `node_register()`
2. `switch_register()`
3. `node_set_bootdev()`
69. `metadata_set()`
420. `metadata_delete()`
69. `list_network_attachments()`

`start_console()` and `stop_console()` use the client library, but `show_console()` doesn't. That's weird.
The headnode stuff doesn't use any client library calls, but we don't need to add support for it either.

cc: @SahilTikale

[2017-12-15 20:53] #919 closed

[2017-12-15 21:36] zenhack commented on #924
The console stuff probably isn't worth bothering with until the obmd stuff lands (or maybe we should do that at the same time).

I agree, we can omit the headnode stuff. Though it would be trivial to add if someone were going to just slog through and add all of these in one pass.

I edited your comment to turn it into a checklist; hope that's cool.

[2017-12-15 21:42] zenhack commented on #925
Would be good to accumulate a list of cases that need dealing with. The one you mentioned:

* `project_detach_node` raises `BlockedError` if any resource is still attached to the node, but this includes `NetworkingAction`s, where the appropriate behavior is to just wait, whereas with other resources the right behavior is to detach them.

Which also brings up the issue: in the latter case, the clie

[2017-12-19 20:17] naved001 commented on #765
@xuhang57 are you still interested on working on this? otherwise @mosayyebzadeh wants to take this up!

[2017-12-21 23:14] naved001 commented on #486
Working on this [here](https://github.com/naved001/hil/tree/query-networking-actions)

[2018-01-02 15:55] xuhang57 commented on #765
@naved001 sorry for the delay. Feel free to let @mosayyebzadeh work on this. I will try to do some work if I could.

[2018-01-02 16:16] naved001 commented on #899
@zenhack any thoughts about how to move forward with this?

[2018-01-02 21:10] zenhack commented on #899
What does the response body from that request look like? From the docs it looks like the call is asynchronus; you may have to poll the id it returns and wait for it to finish.

[2018-01-02 21:32] zenhack opened #928 "obmd migration strategy"
A spec has been merged describing the changes needed to HIL to integrate with OBMd. One question still floating around in my mind is how we're going to go about migrating existing deployments; Doing this naively would require removing all nodes and re-adding them. It would be nice to find a less disruptive way to deal with this.

Open to input, and in particular insight into how much disruption is

[2018-01-03 21:29] naved001 commented on #486
The basic stuff is there now, still needs some more work and tests. Here's [the diff](https://github.com/CCI-MOC/hil/compare/master...naved001:query-networking-actions?expand=1).

Some questions:
1. Once an action is complete, we mark it's status as DONE or ERROR. The action is obviously not deleted from the table. We need to decide for how long are we going to keep that action in the table. @apoo

[2018-01-03 21:40] zenhack commented on #486
Two more ideas re: (1):

1. Just delete DONE actions, don't keep them at all. Users should interpret missing actions as completed. Successful responses from the api calls that create actions indicate that the action has been inserted durably into the queue, so this is always valid. This is in keeping with keeping HIL simple; remember, it's supposed to be a low-level tool. If we want something more

[2018-01-03 21:50] naved001 commented on #928
I guess we would get rid of all obm information from the `node` table (so a migration script for that) leaving only node label and a pointer to it's obmd counterpart, and then another script to add a table for obmd (another migration script for that). The latter might be different if we are going to have a different database altogether. It would be clearer if we first decide how the database is go

[2018-01-03 21:53] naved001 commented on #925
@jeremyfreudberg suggested that we inherit from `BlockedError`. That way we could either catch the specific child exception, or the parent one if we don't care about the exact type.

[2018-01-03 22:02] zenhack commented on #925
It's not obvious to me that it makes sense to have these two use cases have a shared ancestor. Can you think of a case where we'd want to handle BlockedError but not care about the difference above?

Also, worth noting that the class hierarchy doesn't get sent across the wire.

[2018-01-03 22:07] naved001 commented on #486
If we delete DONE actions, and then a user calls `get_status` on the UUID for that action that would return a 404 because it's not found, and inferring from that the it's complete is a little weird.

(2) sounds more reasonable to me. Just delete the previous action if status was DONE or ERROR, when inserting a new one. It takes care of having "too many" actions, and only keeps the status of the mo

[2018-01-03 22:10] zenhack commented on #928
We could write a couple helper scripts specifically for this use case:

* One that extracts the node info from the HIL database, and creates the nodes in OBMd.
* One that adds the obmd connection info to the nodes, and possibly deletes the ipmi connection info.

We could also do the database migration in two steps:

1. Add the obm uri & admin token fields to the node model. For now, allow them to

[2018-01-03 22:11] zenhack commented on #486
If you prefer (2) I'm fine with that.

[2018-01-03 22:22] naved001 commented on #925
Can't think of it now. Maybe in future, but in that case we might as well not do it.

Not sure what you mean by that? This code seems to work.

[code]

[2018-01-03 22:31] zenhack commented on #925
Right, but the server sends them to the client as JSON, where the type is just a string, and it doesn't include information about what the superclasses are.

[2018-01-07 05:59] naved001 commented on #46
Fixed by #922 and #907

[2018-01-07 05:59] #46 closed

[2018-01-07 06:02] naved001 commented on #925
Ah, that's what you meant. Let's simply split the errors like you said.

[2018-01-07 06:04] naved001 commented on #921
Since we are telling hil admins to create all VLANs that HIL will be using, do we still need to worry about reading inactive VLANs? I guess not, if you agree you can close this.

[2018-01-07 06:15] naved001 commented on #914
I agree that we don't have to maintain a separate headnode micro-service as that would be a lot of work.

@SahilTikale @apoorvemohan @okrieg and I had some discussion regarding this.

* The reason @okrieg suggested using openstack was because it already does VMs and VPNaaS. So we don't reinvent those services. Other reason being, that in theory, it should be simple to implement (import VLAN networ

[2018-01-07 06:25] naved001 commented on #899
yeah, the body returned a status_id to poll on. [Here's the](https://github.com/CCI-MOC/hil/compare/master...naved001:save-on-brocade?expand=1) code for it. Even after I wait for it to finish, it doesn't look like it saves it. And it's not clear to me from the docs what it is saving.

[2018-01-07 06:37] naved001 commented on #809
their project will be `None`.

I am unsure of it too, but the original idea made sense to me.

[2018-01-07 06:40] #48 closed

[2018-01-07 06:58] naved001 commented on #536
#886 and #902 fix this.

[2018-01-07 06:58] #536 closed

[2018-01-08 02:28] zenhack commented on #914
How? The whole point of the functionality we're discussing is that we need a way for a user to bootstrap their way into being able to provision; if we plan to use openstack for that, then this introduces a *hard* dependency on openstack.

1. Nothing involving openstack is ever easy to implement.
2. From what I can tell, Neutron's VPNaaS is nowhere near supporting VLANs. From https://wiki.openstack

[2018-01-08 02:37] zenhack commented on #925
Works for me.

[2018-01-08 02:40] zenhack commented on #921
Per the above, I don't think `(Inactive) ` is what's causing the problem; I suspect it's the line break.

[2018-01-09 22:17] zenhack commented on #928
@naved001, thoughts on the above?

[2018-01-09 22:39] naved001 commented on #928
okay, so the order in which somebody would run these is:

1. Use helper-script (1) to extract the info from HIL DB and create nodes in OBMd.
2. Then migration-script (1) will add the obm uri and admin token fields, and allow those to be null.
3. Then helper-script(2) will feed the OBMd connection info into the HIL DB. How will this one work? I am imagining updating the rows in the DB directly. (be

[2018-01-09 22:54] zenhack commented on #928
Quoting Naved Ansari (2018-01-09 17:39:04)

Yeah, that's what I was thinking.

[2018-01-09 23:06] naved001 commented on #928
This plan sounds good to me then. Just one thing though, if we do migration-script(1) first, then we could combine the two helper scripts, though it could make it more complex.

[2018-01-09 23:12] zenhack commented on #928
Yeah, the reason to keep them separate is just so we don't have to have the migration script be "different" from the other migration scripts.

[2018-01-09 23:13] zenhack commented on #928
But yeah, we could combine 1 & 3.

I'll get started.

[2018-01-17 18:35] zenhack commented on #744
Yeah, our test switch is a lower end model than what's in prod. Cisco gear is expensive.

I don't know if a cleaner Api offset the cost of not being able to use our test setup

[2018-01-17 19:01] naved001 commented on #744
Right, we can't *replace* the driver for the nexus 3548 that we have. We could just write another driver for the other nexus in kaizen (which we have access to) using the API which will probably be more faster and reliable.

So I would leave this issue open given that, there's one switch for which we are still using a console based driver that can be replaced with something better.

[2018-01-17 22:14] zenhack commented on #744
Quoting Naved Ansari (2018-01-17 14:01:43)

If we can find a way to test it before deployment I'm OK with this. But
if we can't test it it will probably be less reliable, regardless of the
design.

OK with me.

[2018-01-18 14:47] xuhang57 commented on #765
@naved001 I can start working on this today. @mosayyebzadeh Let me know if Amin hasn't started yet. ;)

[2018-01-18 15:53] xuhang57 commented on #677
here too: https://github.com/CCI-MOC/hil/blob/master/docs/INSTALL-devel.rst

And `TESTING` in `INSTALL.rst`.

[2018-01-18 17:46] Izhmash opened #933 "Mass Open Cloud administrative updates"
A lot of the HIL code still shows "Massachusetts Open Cloud" and the README doesn't yet direct to the new website.  The copyright mentions still show this too, and many of them have old dates.

[2018-01-18 20:11] xuhang57 commented on #924
Will look into this. Trying to figure out how to use the CLI for these operations first.

[2018-01-18 23:03] zenhack commented on #677
I'd like to actually come up with a list of actionable items for this issue; Already mentioned:

- [ ] we dont have a clear separation of things we want the user to type in the terminal and things that should goes into a file

As it stands this issue is too open ended.

[2018-01-18 23:12] zenhack commented on #924
Cool, I'l assign you. I've also changed the title of the issue to reflect the current thinking.

[2018-01-25 18:13] naved001 commented on #912
I agree.

From the looks of it, I am pretty sure we are having 2 independent transactions here.[ First one](https://github.com/CCI-MOC/hil/blob/61086a6c0e3636289871d3ae7052806b6774452a/hil/deferred.py#L93-L94) to read actions which only returns actions committed at that time, and the [next one](https://github.com/CCI-MOC/hil/blob/61086a6c0e3636289871d3ae7052806b6774452a/hil/deferred.py#L105) to de

[2018-01-25 20:33] xuhang57 commented on #389
@naved001 I can work on this. Currently, HIL version is 0.2 right? Should I hardcode the version or there is a better way of handling this through automation?

[2018-01-25 20:33] xuhang57 commented on #389
@SahilTikale Can I take this? ;)

[2018-01-25 20:35] xuhang57 commented on #903
I could look into this. A discussion with @naved001 would be handy.

[2018-01-25 20:37] xuhang57 commented on #933
Also, do we need to update the date in the copyright statement? For example:
https://github.com/CCI-MOC/hil/blob/master/hil/api.py#L1

it is very outdated. And I can take care of this if it is okay.

[2018-01-25 20:54] naved001 commented on #389
I am actually not sure myself how to do this because the HIL CLI and API server would be running on different machines. Which would mean getting the version from the hil server through an API? or would the CLI fetch it from wherever it was installed. What if we are using different  versions of the hil for cli and api server.

I don't have a clear thought regarding this. But you could come up with

[2018-01-25 20:58] naved001 commented on #858
#929 will provide the mechanism for handling switch errors. Just that all our drivers will be updated to make use of it.

[2018-01-25 21:19] xuhang57 commented on #389
hmm, let's talk in person first then. I thought the cli and api are always come together.Or at least, the cli is calling the api so maybe I am wrong.

so we need to set the definition of the version of HIL cli ? And is that the same as the version release number on github?

The only way that i know is to hardcode the release version in the code base. Whenever you do a version upgrade, you need to

[2018-01-25 21:30] naved001 commented on #758
#917 closes this

[2018-01-25 21:30] #758 closed

[2018-01-25 21:47] zenhack commented on #389
Either or both of the following would be reasonable:

1. A new subcommand on the `hil` tool that reports the version of *itself*. i.e., this does not talk to the server.
2. An API call that reports the version (or supported versions) of the server's *API*

Re: implementing (1), you can use the pkg_resources library to detect the installed version of a package, for example:

https://github.com/zenh

[2018-01-25 21:53] xuhang57 commented on #571
Do we just get to choose whatever number as a starting point as we want? @naved001

[2018-01-25 22:11] zenhack commented on #912
Here is the relevant taxonomy:

https://en.wikipedia.org/wiki/Isolation_%28database_systems%29#Isolation_levels

IIRC, cursor stability is what wikipedia is calling "Read committed." In this case, the DELETE in the old implementation would be doing (essentially) a second read, so would not necessarily be consistent with the first read, and thus may delete a different set of objects from what we it

[2018-01-25 22:30] zenhack commented on #571
I would basically follow semver: https://semver.org/

With the exception that:

* We don't need to bother bumping the version with changes to the v0 api
* The v0 api doesn't need to be "older" than the stable apis; we can treat it as development ground rather than "pre" stabilization.
* The package versions don't have to coinside with the API versions.
* There's no patch part of the number, since

[2018-01-26 15:10] xuhang57 commented on #571
@zenhack 👍 , sounds a good plan. I have no problem with that, will send a PR soon.

[2018-01-26 18:33] naved001 opened #943 "An API to list all HIL users with their priveleges"
When using the database auth backend, it would be nice to know what users exists and what are their privileges.

I find myself looking into the db to check if I made an account on HIL for someone.

[2018-01-26 18:33] xuhang57 commented on #677
Maybe we should group all the documentation issues and find a sprint or two to solve them all together. Setting up the guidelines for the documentation would come first of course.

[2018-01-26 18:36] xuhang57 commented on #943
So a function called `list_users` and the return value should be {"username": "naved", "privileges": "admin"} ?

querying the `User` model should give us back enough information right?

[2018-01-26 18:38] xuhang57 commented on #647
`console` implementation is done, right?  I can take this if it is just checking whether the user has the `admin` role or not @zenhack

[2018-01-26 18:44] xuhang57 commented on #607
@naved001  do you have a more up-to-date insight on this?

[2018-01-26 18:44] xuhang57 commented on #45
congrats on our 4 years old issue 🥇

[2018-01-26 20:12] zenhack commented on #607
We're replacing all of this with obmd, so we should probably just close this.

[2018-01-26 20:23] zenhack commented on #647
The HIL integration with obmd still needs to be done, so this will land as part of that (which requires a few other api changes; see the spec).

[2018-01-26 20:26] zenhack commented on #943
I'm always a little uncozy adding backend-specific calls, but I suppose we already have a few for the database backend, and I can see that this is a big hole in the API.

This could just be a `GET` on `/auth/basic/user`.

It might be nice to also be able to list the projects a user is in.

[2018-01-26 20:29] zenhack commented on #677
We already have a documentation label. I'm going ot open a separate issue for the item I mentioned above. From there I think yeah, this is basically a question of triage. We could do a doc sprint, or just commit to adding a few doc issues to each sprint (which would keep future doc issues from getting lost after the initial sprint).

[2018-01-26 20:30] zenhack opened #944 "Make docs more clear re: contents of files vs. commands to type"
Per https://github.com/CCI-MOC/hil/issues/677#issuecomment-327842422.

[2018-01-26 20:31] zenhack commented on #677
Once we decide on a triage strategy, we can close this I think.

[2018-01-26 20:41] xuhang57 commented on #677
sounds good. @naved001 your call.

[2018-01-26 20:46] xuhang57 commented on #943
agree.

So having a
`GET` ON `/auth/basic/user` and the api function called: `list_users` which needs the Admin privilege.

The return value is  `{"username": "naved", "project": "naved-project", "privileges": "admin"}`

@naved001 thoughts?

[2018-01-26 20:48] xuhang57 commented on #647
Got you. So this issue depends on some other features that still need to be implemented. Thinking we should have a label that indicates which issues are dependent on which.

[2018-01-26 20:52] xuhang57 commented on #607
will look into the new obmd design spec. Close this for now. Pls reopen if necessary.

[2018-01-26 20:52] #607 closed

[2018-01-26 22:07] naved001 commented on #943
Yep, keep in mind a user could have access to multiple projects. And admins can access every project. So gotta think how we will package the response.

[2018-01-30 02:09] xuhang57 commented on #933
PR merged so close this now.

[2018-01-30 02:09] #933 closed

[2018-01-30 02:09] xuhang57 commented on #795
PR merged so close this now

[2018-01-30 02:09] #795 closed

[2018-01-30 02:09] xuhang57 commented on #389
PR merged so close this now

[2018-01-30 02:09] #389 closed

[2018-01-30 02:24] naved001 commented on #933
Thanks! Lucas is on a roll here!

[2018-01-30 19:20] naved001 opened #946 "Enforce unique contraints on object names/labels in the database."
We use functions like [_assert_absent](https://github.com/CCI-MOC/hil/blob/master/hil/api.py#L1273) to enforce this in the API.
* I think we should put this constraint on the database itself, because one could, when writing tests, directly add objects to the database and could lead to mistakes if the devs aren't careful enough. Example: [This method](https://github.com/CCI-MOC/hil/blob/master/test

[2018-01-30 19:48] xuhang57 commented on #191
@zenhack maybe we can close this for now?

[2018-01-30 19:57] naved001 commented on #191
The issue isn't entirely solved. There's more discussion on the related issue #925 so I'll close this one in favor of that. Please reopen if you think this warrants a separate discussion.

[2018-01-30 19:57] #191 closed

[2018-01-30 21:48] xuhang57 commented on #728
Sure, on it.

[2018-01-31 01:12] zenhack commented on #946
We should definitely add a unique constraint everywhere it makes sense.

Re: catching the error from SQLAlchemy, I'm not sure it's even the same across database backends. I seem to remember the postgres backend throwing a ProgrammingError or somesuch in an analogous situation.

Also, I don't want to be over-broad in what errors we're catching -- blindly assuming any IntegrityError is because of th

[2018-01-31 01:14] zenhack commented on #812
Fixed by #947, closing.

[2018-01-31 01:14] #812 closed

[2018-01-31 01:16] naved001 commented on #946
Alright, I'm convinced. Let's just add the unique constraint wherever applicable.

[2018-01-31 14:37] #486 closed

[2018-01-31 14:57] naved001 opened #948 "Update switch drivers to handle errors"
#929 sets up a way for handling errors raised by switches.

* For brocade and dellnos9 switches, their `_make_request` function log errors. I think we can just modify it to raise a switch error which the networking server will handle.

* For our pexpect drivers, I don't know if we can do much. Maybe catch some pexpect timeout error (when connecting to the switch) and raise SwitchError (or subclass

[2018-01-31 14:58] naved001 commented on #918
I am gonna close this, since we have agreed to work towards the OpenVPN service.

[2018-01-31 14:58] #918 closed

[2018-01-31 15:59] xuhang57 opened #949 "Show_project?"
Currently, we don't have a CLI that allows an admin to see who is in which project(s). Should we create a new API and CLI to support this feature?

Any idea is more than welcome!

[2018-02-01 16:17] naved001 commented on #949
Currently we have:
* `list_project_networks`
* `list_project_nodes`
* `list_project_headnodes` (will be marked deprecated soon)

The only thing we don't have is `list_project_users`. We could write a wrapper on top of the `list_users` api that will filter by the project so that will be equivalent of `list_project_users`.

That would cover everything we need to know about a project. Show_project co

[2018-02-01 17:52] zenhack commented on #949
My instinct is to keep this out of the server, since as you point out it can be implemented on top of the existing calls.

[2018-02-01 18:18] xuhang57 commented on #949
sounds good, so we need a `list_project_users(project)` then?

@zenhack does that make sense? If I understand what you mean by "keep this out of the server", we don't need a `show_project(project)` because of the reasons Naved have said.

[2018-02-01 18:22] zenhack commented on #949
We can build `list_project_users` on top of what you're doing in #945, so I don't think any changes are needed to the server at all.

[2018-02-01 18:53] naved001 commented on #928
Are you working on this? I can pick this up if you are doing other things.

[2018-02-01 19:01] mosayyebzadeh commented on #928
Guys i am getting emails about this issue. Am I assigned to this issue? If yes, I did not know that.

[2018-02-01 19:08] naved001 commented on #928
you aren't assigned. You could unsubscribe from this issue.

[2018-02-01 19:11] xuhang57 commented on #903
@zenhack @naved001 so an outline for the `README.md` here, do we need to cover anything else?:

### HIL Python Client API
#### How to get started?
[code]

[2018-02-01 19:16] xuhang57 commented on #648
@naved001  do we have any documentation about multi-process at all so far?

[2018-02-01 19:18] xuhang57 commented on #548
@zenhack Is this outdated? Are we still handling the `headnode` in hil?

[2018-02-01 19:20] naved001 commented on #903
* I don't think you don't need to import requests, the client library does that for you.

What you have provided otherwise is a decent sample to show how to use the client object. You could also link the [leasing script](https://github.com/CCI-MOC/hil/blob/master/examples/leasing/node_release_script.py) as a more comprehensive example.

* And to be able to import the hil client modules, I just do

[2018-02-01 19:21] xuhang57 commented on #411
@zenhack @naved001 So here we have a good list of examples we should come up with. This relates to: https://github.com/CCI-MOC/hil/issues/903, right?

Basically, we will have both `README.md` and `Use HIL as a client` as the docs for HIL python client API documentation.

[2018-02-01 19:30] xuhang57 commented on #392
@naved001 HIL is only doing the physical nodes, right? Should we close this then?

[2018-02-01 19:30] naved001 commented on #411
you are right, this is just how to use the HIL cli to do something useful. We can probably skip the headnode related call, and pxe booting an OS (that's not really what HIL does).

[2018-02-01 19:34] xuhang57 commented on #312
@zenhack
What I think of is that having a new docs or somewhere in the existing doc, list the common definition about HIL terminology such as

name/label
Client Library: Python Client Library (hil/client/)
CLI: Command Line Tools (hil/cli.py)
API: REST API (hil/api.py)
project
network
node
switch
...

any thoughts?

@naved001

[2018-02-01 19:37] naved001 commented on #392
From the development point of view this is still relevant, but on the other hand I don't want to spend time only on stuff that will be used for further development. Maybe I am wrong, but there are other more relevant/useful things we could do to the hil codebase before coming to this. This applies to #908 too.

@SahilTikale has been working on an openVswitch driver, and has plans to work on an obm

[2018-02-01 19:58] naved001 commented on #312
I don't know if documenting it will help. I would rather change it in the code itself (unless it requires changing database columns where I'd rather not add a migration script just for changing names).

[2018-02-01 20:45] xuhang57 commented on #386
This would relate to https://github.com/CCI-MOC/hil/issues/392
and https://github.com/CCI-MOC/hil/issues/908

[2018-02-01 20:48] xuhang57 commented on #411
Thanks for confirming. So a updated list would be:

- [ ] Creates a project
- [ ] Allocates 2 nodes
- [ ] Creates 2 networks
- [ ] Attaches those networks to the nodes
- [ ] Resets the nodes

[2018-02-01 20:49] xuhang57 commented on #312
True, so there is no actionable tasks we can think of at the moment. We should close this issue if @zenhack has no issue with it.